/************************************************************\
							GROUPS
\************************************************************/
#groups {

	.header {
		text-align: center;
		padding: 55px 0;

		h1 {
			font-size: 38px;
			font-weight: 500;
			color: #4b505c;
		}

		p { color: #898b8f;
			margin-top: 15px;
			line-height: 1em;
		}
	}

	hr {
		margin: 0;
	}

	.group {
		background: url('http://builtbyhq.com/projects/sinet/img/group-bg.png');
		background-size: cover;

		h3 {
			color: black;
		}

		img {
			background-size: contain;
			background-color: white;
		}
	}

	li {
		cursor: pointer;
	}

}

#group {

	.date {
		color: @gray-light;
	}

	div.post {
		width: 100%;
	}

}

.accordion-heading a {
	color: #4b505c;
}

/************************************************************\
						SELECTED GROUP
\************************************************************/
#group {

	.banner {

		height          : 320px;
		width           : 100%;
		background      : url('http://builtbyhq.com/projects/school/CORE/v1/img/banner.jpg');
		background-size : cover;

		@media (max-width: @screen-xs-max) {
			height: 160px;
		}

		.container-smooth {
			position : relative;
			height   : 100%;
		 }

		button {
			position : absolute;
			bottom   : 20px;
			right    : 20px;
			width    : 140px;
		}

	 }

	.header {

		.avatar {
			position         : relative;
			top              : -60px;
			left             : 20px;
			float            : left;
			margin-bottom    : -35px;
			min-width        : 100px;
			min-height       : 75px;
			background-color : #fff;
			.box-shadow(0 0px 2px rgba(32,37,35,.3));
		 }

		 .page-header-nav {
			clear : left;
		 }
	}

	.members {

		float: left;
		padding: 2px;

		p {
			float: left;
			padding: 7px 6px;
		}

		.images {

			float: right;

			ul {
				width: 150px;
			}

			li {

				float: left;
				margin: 2px;

				img {
					width: 33px;
					height: 33px;
				}
			}
		}
	}

	#details-full {
		display: none;
	}
}

#members-list {
	ul.memberAvatars {
		li {
			text-align: center;
			min-height: 150px;
		}
	}
}

#group {

	ul.comments-list li {
		border-bottom: 1px solid #ebebeb;

		.container {
			.container-smooth;
			padding: 0;

			li:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.right-side > ul > li {
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 15px;
	}

	.comment {
		border: 1px solid #ebebeb;
		border-radius: 3px;
		width: 100%;
		margin-bottom: 25px;

		textarea {
			width: 100%;
			border: none;
			resize: none;
			padding:12px;
		}

		a {
			color: none;
		}

		.post {
			padding: 6px 12px;
			background: #f3f2f2;
			width: 100%;

			li {
				border-bottom: 1px solid #ebebeb;
			}

			img {
				float: left;
				margin: 10px 30px 0 0;
				cursor: pointer;
			}

			button {
				float: right;
				height: 32px;
				width: 85px;
			}
		}
	}

	.wrapper {
		border-left: 4px solid #ebebeb;
		width: 95%;
		margin-left: 5%;
		padding: 0 0 30px 30px;
		position: relative;

		.profile-main {
			position: absolute;
			top: 0px;
			left: -41px;
			width: 76px;
			height: 76px;
			border-radius: 50%;
		}

		.comment-main {
			margin: 15px 0 15px 20px;
			padding-top: 15px;

			p {
				line-height: 1.5em;
			}
		}
	}

	.reply {
		background: #f8f8f8;
		border-radius: 3px;
		margin-bottom: 15px;

		li {
			padding: 13px;
			border-bottom: 1px solid #ebebeb;

			&.message {
				border: none;
				background: #ebebeb;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;

				input {
					width: 100%;
					border: none;
					border-radius: 3px;
					padding: 12px;
				}
			}
		}

		.profile {
			float: left;
			width: 33px;
			height: 33px;
			border-radius: 50%;
		}

		.text {
			padding-left: 40px;

			p {
				line-height: 1.5em;
			}
		}
	}
}

/* Group Classes */
.groups-list {

	.profile {

		width: 100%;
		height: 179px;
		background: #ddd;

		img {
			width: 150px;
			height: 150px;
			border: 3px solid white;
			display: block;
			margin: 0 auto;
			top: 50px;
			position: relative;
			z-index: 5;
			-webkit-box-shadow: 0 0px 2px rgba(32,37,35,.3);
			-moz-box-shadow: 0 0px 2px rgba(32,37,35,.3);
			box-shadow: 0 0px 2px rgba(32,37,35,.3);
			background-color: white;
		}
	}

	.details {

		padding: 45px 0 25px;
		background: #f3f5f6;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		position: relative;
		text-align: center;

		h2 {
			margin-bottom: 6px;
		}

		p {
			color: #b2b5b9;
		}

		button {
			width: 140px;
			margin-top: 6px;
		}
	}

	li {
		margin-bottom: 30px;
	}
}
