/************************************************************\
							GROUPS
\************************************************************/
#group-wall-loading {

	position : relative;
	top      : -85px;
    /* center the element */
    right        : 0;
    left         : 0;
    margin-right : auto;
    margin-left  : auto;
    /* give it dimensions */
    width: 160px;
}

#groups {

	.header {
		text-align: center;
		padding: 55px 0;

		h1 {
			font-size: 38px;
			font-weight: 500;
			color: #4b505c;
		}

		p { color: #898b8f;
			margin-top: 15px;
			line-height: 1em;
		}
	}

	hr {
		margin: 0;
	}

	.group {
		background: url('http://builtbyhq.com/projects/sinet/img/group-bg.png');
		background-size: cover;

		h3 {
			color: black;
		}

		img {
			background-size: contain;
			background-color: white;
		}
	}

}


#group {

	.date {
		color: @gray-light;
	}

	div.post {
		width: 100%;
	}

}

.accordion-heading a {
	color: #4b505c;
}

/************************************************************\
						SELECTED GROUP
\************************************************************/
#group {

	.banner {

		height          : 320px;
		width           : 100%;
		background      : url('http://builtbyhq.com/projects/school/CORE/v1/img/banner.jpg');
		background-size : cover;

		@media (max-width: @screen-xs-max) {
			height: 160px;
		}

		.container-smooth {
			position : relative;
			height   : 100%;
		 }

		.btn-group-banner {
			position : absolute;
			bottom   : 5px;
			right    : 8px;

			button {
				float       : left;
				margin-left : 8px;
			}
		}

	}

	.header {

		.avatar {
			position         : relative;
			top              : -60px;
			left             : 20px;
			float            : left;
			margin-bottom    : -35px;
			min-width        : 100px;
			min-height       : 75px;
			background-color : #fff;
			.box-shadow(0 0px 2px rgba(32,37,35,.3));
		 }

		 .page-header-nav {
			clear : left;
		 }
	}

	.members {

		float: left;
		padding: 2px;

		.popover {
			max-width : none;
		}

		p {
			float: left;
			padding: 7px 6px;
		}

		.images {

			float: right;

			ul {
				width: 150px;
			}

			li {

				float: left;
				margin: 2px;

				img {
					width: 33px;
					height: 33px;
				}
			}
		}
	}

	.resource-upload-button {
		float          : right;
		padding-bottom : @padding-large-vertical;
	}
	.resources-list {

		.media-list {

			.resource-container {
				display        : block;

				.resource-icon {
					max-width     : 100px;
					max-height    : 100px;
				}

				.resource-main {
					clear          : right;
					padding-bottom : @padding-large-vertical * 2;

					.resource-name {
						color          : @brand-primary;
						font-weight    : bold;
						font-size      : @font-size-base;
					}

					.hidden {
						display : none;
					}

				}

			}

		}

	}

	#details-full {
		display: none;
	}

	#group-goals {
		display: none;
	}

	.show-more-details {
		display: none;
	}
}

.groups-content-region {

	// All of the popovers inside groups should not have
	// the max width
	.popover {
		max-width : none;
	}

	/* Members Tab */
	ul.memberAvatars {
		li {
			text-align : center;
			min-height : 150px;

		}
	}

	.show-more-members {
		text-align : center;
	}
}

#group {

	ul.comments-list li {
		border-bottom: 1px solid #ebebeb;

		.container {
			.container-smooth;
			padding: 0;

			li:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}

		.close {
			float       : none;
			margin-left : 3px;
		}
	}

	.right-side > ul > li {
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 15px;
	}

	.comment {
		border: 1px solid #ebebeb;
		border-radius: 3px;
		width: 100%;
		margin-bottom: 25px;

		textarea {
			width: 100%;
			border: none;
			resize: none;
			padding:12px;
		}

		a {
			color: none;
		}

		.post {
			padding: 6px 12px;
			background: #f3f2f2;
			width: 100%;

			li {
				border-bottom: 1px solid #ebebeb;
			}

			img {
				float: left;
				margin: 10px 30px 0 0;
				cursor: pointer;
			}

			button {
				float: right;
				height: 32px;
				width: 85px;
			}
		}
	}

	.wrapper {
		border-left: 4px solid #ebebeb;
		width: 95%;
		margin-left: 5%;
		padding: 0 0 30px 30px;
		position: relative;

		.profile-main {
			position: absolute;
			top: 0px;
			left: -41px;
			width: 76px;
			height: 76px;
			border-radius: 50%;

			@media ( max-width : @screen-xs-max ) {
				width: 50px;
				height: 50px;
				left: -28px;
			}
		}

		.comment-main {
			margin: 15px 0 15px 20px;
			padding-top: 15px;

			p {
				line-height: 1.5em;
			}
		}
	}

	.reply {
		background: #f8f8f8;
		border-radius: 3px;
		margin-bottom: 15px;

		li {
			padding: 13px;
			border-bottom: 1px solid #ebebeb;

			&.message {
				border: none;
				background: #ebebeb;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;

				input {
					width: 100%;
					border: none;
					border-radius: 3px;
					padding: 12px;
				}
			}
		}

		.profile {
			float: left;
			width: 33px;
			height: 33px;
			border-radius: 50%;
		}

		.text {
			padding-left: 40px;

			p {
				line-height: 1.5em;
			}
		}
	}
}

/* Group Classes */
.groups-list {

	.group-banner-container {
		width    : 100%;
		height   : 180px;
		display  : block;
		overflow : hidden;

		.group-banner {
			min-width  : 100%;
			min-height : 180px;
		}
	}

	.group-avatar {
		max-width        : 150px;
		height           : 150px;
		display          : block;
		position         : relative;
		top              : -125px;
		margin           : 0 auto -150px;
		border           : 3px solid white;
		box-shadow       : 0 0px 2px rgba(32, 37, 35, 0.3);
		background-color : white;
	}

	.details {

		padding: 30px 0 25px;
		background: #f3f5f6;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		text-align: center;

		h4 {
			height: 40px;
			padding: 0 10px;
		}

		p {
			color: #b2b5b9;
		}

		.btn {
			width: 140px;
			margin-top: 6px;
		}

		.btn-invite-ignore {
			width: 115px;
		}
	}

	li {
		margin-bottom: 30px;
	}
}

/************************************************************\
						Groups Form
\************************************************************/

.groups-form-content {
	background : @cn-gray-light;
	padding-bottom : 10px;
	padding-top : 10px;

	.upload-form {
		position    : relative;
		left        : 36%;
		top         : 10%;
		width       : 30%;
		line-height : 1.5;
	}

	span {
		color : @gray-light;
	}

	.upload-resource-type {
		margin-top : 6%;
	}

	.radio-upload {
		height : 20px;
		width  : 17px;
	}

	.upload-content-file {
		margin-top : 3%;
	}

	.upload-content-link {
		display    : none;
		margin-top : 3%
	}


	.fileinput-button {
		position : relative;
		overflow : hidden;
		background : @cn-gray-light;
	}
	.fileinput-button input {
		position   : absolute;
		top        : 0;
		right      : 0;
		margin     : 0;
		opacity    : 0;
		direction  : ltr;
		cursor     : pointer;
	}

	.resource-description {
		margin-top : 6%;

		textarea {
			margin-top : 4%;
		}
	}

	.input-validation:valid {
		border: 1px solid @cn-green!important;
	}

	.input-validation:invalid {
		border: 1px solid red!important;
	}

	.logo-upload-drop{
		background : @cn-white;
		width       : 60%;
		height : 200px;
		margin-bottom: 15px;

		span {
			margin-left : 41%;
			margin-top : 38%;
			font-size : 3.5em;
		}
	}

	.banner-upload-drop{
		background : @cn-white;
		width       : 100%;
		height : 200px;

		span {
			margin-left : 44%;
			margin-top : 24%;
			font-size : 3.5em;
		}
	}

	.tooltip2 {
	    display: inline;
	    position: relative;
	}

	.tooltip2:hover:after {
	    background: #333;
	    background: rgba(0,0,0,.8);
	    border-radius: 5px;
	    bottom: 26px;
	    color: #fff;
	    content: attr(name);
	    left: 20%;
	    padding: 10px 20px;
	    position: absolute;
	    z-index: 98;
	    width: 220px;
	    font-size : 0.5em;
	    text-align: left;
	}

	.tooltip2:hover:before{
	    border: solid;
	    border-color: #333 transparent;
	    border-width: 6px 6px 0 6px;
	    bottom: 20px;
	    content: "";
	    left: 50%;
	    position: absolute;
	    z-index: 99;
	}

	input[type="text"]:invalid ~ .group-name-validation::before {
		color : red;
		content: 'Group Name is a required field.';
	}

	textarea[type="text"]:invalid ~ .group-description-validation::before {
		color : red;
		content: 'Group Description is a required field.';
	}

	input[type="text"]:valid ~ .group-name-validation::before {
		content: 'This is a valid name. \2713';
		color : @cn-green;
	}

	textarea[type="text"]:valid ~ .group-description-validation::before {
		content: 'This is a valid description. \2713';
		color : @cn-green;
	}
}


.groups-form-content-bottom {
	background : @gray-dark;
	height     : 70px;

	.upload-actions {
		width       : 24%;
		height      : 82%;
		margin-left : 74%;

		button {
			width      : 49%;
			margin-top : 6.5%;
		}
		.cancel-btn {
			background   : @gray-dark;
			color        : @gray-light;
			border-color : @gray-light;
		}
	}
}
