/************************************************************\
							GROUPS
\************************************************************/
#group-wall-loading {

	position : relative;
	top      : -85px;
    /* center the element */
    right        : 0;
    left         : 0;
    margin-right : auto;
    margin-left  : auto;
    /* give it dimensions */
    width: 160px;
}

#groups {

	.header {
		text-align: center;
		padding: 55px 0;

		h1 {
			font-size: 38px;
			font-weight: 500;
			color: #4b505c;
		}

		p { color: #898b8f;
			margin-top: 15px;
			line-height: 1em;
		}
	}

	hr {
		margin: 0;
	}

}

#group {

	.date {
		color: @gray-light;
	}

	div.post {
		width: 100%;
	}

}

.accordion-heading a {
	color: #4b505c;
}

/************************************************************\
						SELECTED GROUP
\************************************************************/
#group {

	.banner {

		height : 320px;
		width  : 100%;

		@media (max-width: @screen-xs-max) {
			height: 160px;
		}

		.container-smooth {
			position        : relative;
			height          : 100%;
			background-size : cover;
		 }

		.btn-group-banner {
			position : absolute;
			bottom   : 15px;
			right    : 15px;

			button {
				float       : left;
				margin-left : 8px;
			}
		}

	}

	.header {

		.avatar {
			position         : relative;
			top              : -60px;
			left             : 15px;
			float            : left;
			margin-bottom    : -35px;
			min-width        : 100px;
			min-height       : 75px;
			background-color : #fff;
			.box-shadow(0 0px 2px rgba(32,37,35,.3));
		 }

		 .page-header-nav {
			clear : left;
		 }
	}

	.members {

		float: left;
		padding: 2px;

		.popover {
			max-width : none;
		}

		p {
			float: left;
			padding: 7px 6px;
		}

		.images {

			float: right;

			ul {
				width: 150px;
			}

			li {

				float: left;
				margin: 2px;

				img {
					width: 33px;
					height: 33px;
				}
			}
		}
	}

	.resource-upload-button {
		float          : right;
		padding-bottom : @padding-large-vertical;
	}
	.resources-list {

		.media-list {

			.resource-container {
				display        : block;

				.resource-icon {
					max-width     : 100px;
					max-height    : 100px;
				}

				.resource-main {
					clear          : right;
					padding-bottom : @padding-large-vertical * 2;

					.resource-name {
						color          : @brand-primary;
						font-weight    : bold;
						font-size      : @font-size-base;
					}

					.hidden {
						display : none;
					}

				}

			}

		}

	}

	#details-full {
		display: none;
	}

	#group-goals {
		display: none;
	}

	.show-more-details {
		display: none;
	}
}

.groups-content-region {

	// All of the popovers inside groups should not have
	// the max width
	.popover {
		max-width : none;
	}

	 // Members Tab
	ul.memberAvatars {
		li {
			text-align : center;
			min-height : 150px;

		}

		img {
			height: 100px;
		}
	}

	.show-more-members {
		text-align : center;
	}
}

#group {

	ul.comments-list li {
		border-bottom: 1px solid #ebebeb;

		.container {
			.container-smooth;
			padding: 0;

			li:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}

		.close {
			float       : none;
			margin-left : 3px;
		}
	}

	.right-side > ul > li {
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 15px;
	}

	.wrapper {
		border-left: 4px solid #ebebeb;
		width: 95%;
		margin-left: 5%;
		padding: 0 0 30px 30px;
		position: relative;

		.profile-main {
			position: absolute;
			top: 0px;
			left: -41px;
			width: 76px;
			height: 76px;
			border-radius: 50%;

			@media ( max-width : @screen-xs-max ) {
				width: 50px;
				height: 50px;
				left: -28px;
			}
		}

		.comment-main {
			margin: 15px 0 15px 20px;
			padding-top: 15px;

			p {
				line-height: 1.5em;
			}
		}
	}

	.reply {
		background    : #f8f8f8;
		margin-bottom : 15px;
		.border-top-radius( 6px );

		li {
			padding: 13px;
			border-bottom: 1px solid #ebebeb;
		}

		.profile {
			float: left;
			width: 33px;
			height: 33px;
			border-radius: 50%;
		}

		.text {
			padding-left: 40px;

			p {
				line-height: 1.5em;
			}
		}
	}
}

/* Group Classes */
.groups-list {

	.group-banner-container {
		width    : 100%;
		height   : 180px;
		display  : block;
		overflow : hidden;

		.group-banner {
			min-width  : 100%;
			min-height : 180px;
		}
	}

	.group-avatar {
		max-width        : 150px;
		height           : 150px;
		display          : block;
		position         : relative;
		top              : -125px;
		margin           : 0 auto -150px;
		border           : 3px solid white;
		box-shadow       : 0 0px 2px rgba(32, 37, 35, 0.3);
		background-color : white;
	}

	.details {

		padding: 30px 0 25px;
		background: #f3f5f6;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		text-align: center;

		h4 {
			height: 40px;
			padding: 0 10px;
		}

		p {
			color: #b2b5b9;
		}

		.btn-invite-ignore {
			width     : 115px;
			min-width : inherit;
		}
	}

	li {
		margin-bottom: 30px;
	}
}

/************************************************************\
					Groups Creation Form
\************************************************************/

.group-creation {

	.qq-upload-list {
		padding-left: 10px;
	}

}

/************************************************************\
					Upload Resource Form
\************************************************************/

.upload-form-content {
	background     : @cn-gray-light;
	padding-bottom : 5%;
	padding-top    : 5%;

	.upload-form {
		position    : relative;
		left        : 36%;
		top         : 10%;
		width       : 30%;
		line-height : 1.5;
	}

	span {
		color : @gray-light;
	}

	.upload-resource-type {
		margin-top : 6%;
	}

	.radio-upload {
		height : 16px;
		width  : 17px;
	}

	.upload-content-file {
		position   : relative;
		margin-top : 3%;
	}

	.upload-content-link {
		display    : none;
		margin-top : 3%;
		width      : 75%;
	}

	.input-validation:invalid {
		border : 1px solid red!important;
	}

	.resource-description {
		margin-top : 6%;

		textarea {
			margin-top : 4%;
			resize     : none;
		}
	}

	.fileinput-button {
		position   : relative;
		overflow   : hidden;
		background : @cn-gray-light;
		color      : @gray-light;
		min-width  : 25%;
	}

	.file-error {
		margin-top : 3%;
		span {
			color : #fc4040;
		}
	}


	.file-input {
		position : relative;
		display  : none;
	}
}

.groups-form-content-bottom {
	background : @gray-dark;
	height     : 70px;

	.upload-actions {
		position : relative;
		left     : 70%;
		top      : 28%;

		button {
			min-width     : 14%;
			font-size     : 100%;
			padding-left  : 0.5%;
			padding-right : 0.5%;
		}
		.cancel-btn {
			background   : @gray-dark;
			color        : @gray-light;
			border-color : @gray-light;
		}
		.cancel-btn:hover {
			background : @gray-darker;
		}
	}
}
