<label>First Name</label>
<input id="firstname" type="text" value="<%= FirstName %>">
<br class="clear">

<label>Last Name</label>
<input id="lastname" type="text" value="<%= LastName %>">
<br class="clear">

<label>Email</label>
<input id="email" type="text" value="<%= EmailAddress %>">
<br class="clear">

<label>{Username}</label>
<input id="username" type="text" value="<%= LoginName %>" disabled>
<br class="clear">

<label>{School District}</label>
<input id="district" type="text" value="<%= DistrictName %>" disabled>
<br class="clear">

<label>{Country}</label>
<input id="country" class="input-s" type="text" value="<%= Country %>" disabled>

<p>{State}</p>
<input id="state" class="input-xs" type="text" value="<%= State %>" disabled>
<br class="clear">

<label>{City}</label>
<input id="city" class="input-s" type="text" value="<%= City %>" disabled>
<br class="clear">

<button id="save" class="blue-btn">Save</button>
