<div class="learning-targets">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"><%- ResourceName %></h4>
			</div>
			<div class="modal-body">
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Unit Type:</div>
					<div class="col-xs-6">Training</div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Facilitator:</div>
					<div class="col-xs-6">
						<%- FacilitatorFirstName %> <%- FacilitatorLastName %>
					</div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Title:</div>
					<div class="col-xs-6"><%- ResourceName %></div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Description:</div>
					<div class="col-xs-6"><%- ResourceDesc %></div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Start Date:</div>
					<div class="col-xs-6"><%- getStartTime() %></div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">End Date:</div>
					<div class="col-xs-6"><%- getEndTime() %></div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Time:</div>
					<div class="col-xs-6"><%- getTimeDiff() %></div>
				</div>
				<div class="col field-group">
					<div class="col-xs-6 text-field-right">Location:</div>
					<div class="col-xs-6"><%- LocationDescription %></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-large" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>