<div class="learning-targets">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"><%- ResourceName %></h4>
			</div>
			<div class="modal-body">
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Unit Type:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8">Training</div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Facilitator:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8">
						<p><%- FacilitatorFirstName %> <%- FacilitatorLastName %></p>
					</div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Title:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- ResourceName %></div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Description:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- ResourceDesc %></div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Start Date:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- StartDate %></div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>End Date:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- EndDate %></div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Time:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- getStartTime() %> - <%- getEndTime() %></div>
				</div>
				<div class="row field-group">
					<div class="col-xs-4 col-sm-4 col-md-4 text-field-right"><strong>Location:</strong></div>
					<div class="col-xs-8 col-sm-8 col-md-8"><%- LocationDescription %></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>