 <ul class="resource-list">
    <li class="list li-resources" id="cn-filter-shadow">
        <div class="cn-resources">

            <div class="cn-toggle-select dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <h1 class="heading-1">Videos</h1>

                    <span class="btn btn-default btn-resource">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>

                </a>
                <ul class="dropdown-menu cn-dropdown-menu" role="menu" aria-labelledby="drop">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All Resources</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Videos</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Documents</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lumibook</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Groups</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="list li-sortby" id="cn-content-shadow">
        <div class="cn-sortby cn-sortby-header btn-group">
            <label class="btn btn-default sidebar-toggle">
               <span>Filters</span>
               <label class="glyphicon glyphicon-chevron-right"></label>
            </label>
            <div class="sortby-container">
                <label>Sort By</label>
                <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                <span data-bind="label" class="cn-sortby-category">Release Date</span><span class = "caret"></span></button>
                <ul class="dropdown-menu cn-sortby-menu" role="menu">
                    <li><span>Release Date</span></li>
                    <li><span>A-Z</span></li>
                </ul>
            </div>
        </div>
    </li>

</ul>