 <ul class="cn-resource-list row">
    <li class="cn-list cn-li-resources col-sm-4 col-md-3">
        <div class="cn-resources">
            <h1 class="heading-1">Videos</h1>
        </div>
        <div class="cn-responsive-filter-toggle">
            <span>Filters</span>
            <span class="fa fa-chevron-right"></span>
        </div>
    </li>
    <li class="cn-list cn-li-dropdowns col-sm-8 col-md-9">
        <ul class="row cn-dropdowns-container">
             <li class="cn-library cn-library-header btn-group  col-sm-6 col-md-6">
                <div class="cn-library-container"   >
                    <label>Library</label>
                    <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                    <span data-bind="label" class="cn-library-category">PD360</span><span class = "caret"></span></button>
                    <ul class="dropdown-menu cn-library-menu" role="menu">
                    </ul>
                </div>
            </li>
            <li class="cn-sortby cn-sortby-header btn-group col-sm-6 col-md-6">
                <div class="cn-sortby-container">
                    <label>Sort By</label>
                    <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                    <span data-bind="label" class="cn-sortby-category">Release Date</span><span class = "caret"></span></button>
                    <ul class="dropdown-menu cn-sortby-menu" role="menu">
                        <li><span>Release Date</span></li>
                        <li><span>A-Z</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <span id="cn-content-shadow"></span>
    </li>
</ul>