<div class="cn-header-content navbar navbar-fixed-top" id="cn-header-content">
    <div id="cn-top-region" class="container-smooth container">
    </div>
</div>

<div class="row cn-middle-content">
	<div class="col-sm-4 col-md-3">
		<div id="cn-sidebar-content" class="cn-sidebar-content responsive-hidden">
			<div class="cn-responsive-button-panel">
				<button class="btn">Done</button>
			</div>
			<div id="cn-left-region" class="cn-sidebar-container"></div>
			<span id="cn-filter-shadow"></span>
		</div>
	</div>
	<div id="cn-middle-region" class="col-sm-8 col-md-9 cn-middle-container"></div>
	<div id="loading-indicator" class="cn-loading-view"><div id="loading-spinner"></div><p>Loading more videos</p></div>
	<div id="loading-stopper" class="cn-loading-view cn-loading-stopper"><p>No more videos to load</p></div>
</div>

<div class="cn-footer-content">
    <div id="cn-bottom-region">
    </div>
</div>