<div class="cn-header-content row" id="cn-header-content">
    <div id="cn-top-region">
    </div>
</div>
<div class="cn-middle-content">
    <div class="cn-sidebar-content col-sx-12 col-sm-4 col-md-3" id="cn-sidebar-content">
		<div id="cn-left-region" class="cn-sidebar-container">
		</div>
    </div>
    <span class="btn glyphicon glyphicon-remove sidebar-close-btn"></span>
    <div class="cn-main-content col-sx-12s col-sm-6  col-md-9" id="cn-middle-region">
    </div>
</div>
<div class="cn-footer-content">
    <div id="cn-bottom-region">
    </div>
</div>