<div class="modal-content col-xs-12">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h2 class="modal-title"><%- title %></h2>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12 col-sm-6 left-bar">
				<div id="shared-content"></div>
				<div class="col-xs-12 message">
					<h3>Message</h3>
					<textarea rows="5" placeholder="<%- placeholder %>"></textarea>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 right-bar">
				<div class="search">
					<form class="search-form">
						<input class="search-input" type="search" placeholder="Search for person or group..." autocomplete="off">
						<span id="search-clear" class="fa fa-times-circle-o"></span>
						<div id="share-search-results"></div>
					</form>
				</div>
				<div id="selected-items"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal" id="cancel-btn">Cancel</button>
		<button class="btn btn-primary ladda-button" data-style="slide-left" id="share-btn" disabled>Share</button>
	</div>
</div>
