.share-modal {
	.modal-dialog {
		width : 720px;
	}
	.modal-content {
		background : #EEEEEE;
		border     : none;
	}
	.modal-header {
		h2 {
			float : left;
		}
	}
	.modal-body {
		position      : relative;
		z-index       : 1;
		border-top    : 1px solid #DBDBDB;
		margin-bottom : 50px;
		padding       : 15px 0;
		background    : #f5f5f5;
		.left-bar {
			width        : 50%;
			float        : left;
			border-right : 1px solid #DBDBDB;
			position     : relative;
			padding      : 0 25px;
			.video-info {
				padding-bottom: 10px;
				img {
					width   : 155px;
					float   : left;
					padding : 15px 15px 15px 0;
				}
				.text {
					padding : 42px 10px;
				}
				.video-url {
					color : #5ABEF9;
				}
			}
			.message {
				border-top : 1px solid #DBDBDB;
				padding    : 25px 0;
			}
			textarea {
				width         : 100%;
				border        : 1px solid #DBDBDB;
				border-radius : 3px;
				background    : white;
				resize        : none;
				margin-top    : 15px;
				padding       : 10px;
			}
		}
		.right-bar {
			width    : 50%;
			float    : left;
			position : relative;
			.search {
				width         : 100%;
				padding       : 22px;
				border-bottom : 1px solid #DBDBDB;
				input {
					width         : 100%;
					border        : 1px solid #DBDBDB;
					border-radius : 20px;
					padding       : 7px 15px;
				}
			}
			img {
				float  : left;
				margin : 6px;
			}
		}
	}
	.modal-footer {
		button {
			width  : 145px;
			height : 41px;
		}
		.white-btn {
			position : relative;
			top      : -1px;
		}
	}
}
.share-modal .modal-header, .share-modal .modal-footer {
	border : none;
}
