// When fading in the modal, animate it to slide down
.transition-mixin {
	&.fade .modal-dialog {
			.translate(0, 0);
			.transition-transform(~"0s ease-out");
	}

	&.in .modal-dialog {
		.translate(0, 0);
	}
}
.pdf-preview-modal {
	.transition-mixin;
	.modal-dialog {
		width : 80%;
		.modal-content {
			height : 720px;
			#modal-iframe {
				width      : 100%;
				min-height : 720px;
			}
			.close-modal {
					display               : inline-block;
					position              : absolute;
					border                : inherit;
					top                   : -15px;
					right                 : -15px;
					background            : black;
					color                 : white;
					height                : 35px;
					width                 : 35px;
					line-height           : 29px;
					font-size             : 32px;
					text-decoration       : none;
					text-align            : center;
					font-weight           : normal;
					-webkit-border-radius : 35px;
					-moz-border-radius    : 35px;
					-o-border-radius      : 35px;
					border-radius         : 35px;
			}
		}
	}
}
.share-modal {
	.modal-open {
		overflow : auto;
	}

	.modal-dialog {
		width : 720px;
	}
	.modal-content {
		background : #EEEEEE;
		border     : none;
		padding    : 0;
	}
	.modal-header {
		padding       : 15px;
		border        : none;
		border-bottom : 1px solid #E5E5E5;
		min-height    : 16.428571429px;
		h2 {
			font-size   : 24px;
			font-weight : 300;
		}
		.modal-title {
			margin      : 0;
			line-height : 1.428571429;
		}
	}
	.modal-body {
		position      : relative;
		z-index       : 1;
		margin-bottom : 0px;
		background    : #f5f5f5;
		.left-bar {
			border-right : 1px solid #DBDBDB;
			position     : relative;
			padding      : 0 25px;
			.video-info {
				padding-bottom : 10px;
				p {
					margin : 0 0 -4px;
				}
				h3 {
					font-size     : 18px;
					line-height   : 24px;
					font-weight   : 300;
					margin-top    : -8px;
					margin-bottom : 0px;
				}
				#video-thumbnail-duration {
					font-size    : 15px;
					line-height  : 28px;
					font-weight  : normal;
					margin-right : 99px;
				}
				img {
					width   : 155px;
					float   : left;
					padding : 15px 15px 15px 0;
				}
				.text {
					padding : 42px 10px;
				}
				.video-url {
					color : #5ABEF9;
				}
			}
			.message {
				border-top : 1px solid #DBDBDB;
			}
			textarea {
				width         : 100%;
				border        : 1px solid #DBDBDB;
				border-radius : 3px;
				background    : white;
				resize        : none;
				margin-top    : 15px;
				padding       : 10px;
			}
		}
		.right-bar {
			position      : relative;
			.search {
				width         : 100%;
				padding       : 22px;
				border-bottom : 1px solid #DBDBDB;
				.search-form {
					width      : 300px;
					position   : relative;
					margin     : 0 auto;
					border     : none;
					background : none;
				}
				input {
					width         : 100%;
					border        : 1px solid #DBDBDB;
					border-radius : 20px;
					padding       : 7px 15px;
				}
			}
		}
		.transition-mixin;
		.tooltip {
			position : fixed;
		}
		.tooltip-inner {
			white-space: pre-wrap;
		}
		.tooltip-name {
			font-weight: 500;
			word-wrap: break-word;
		}
		.tooltip-location {
			font-size: 12px;
			font-weight: 200;
			word-wrap: break-word;
		}
	}
	.modal-footer {
		padding    : 19px 20px 20px;
		text-align : right;
		border     : none;
		border-top : none;
		button {
			min-width : 138px;
		}
	}
}
	/* partial fix for bootstrap modal shifting to the left(https://github.com/twbs/bootstrap/issues/8768) */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right : 0 !important;
	width        : 100% !important;
	overflow     : hidden;
	position     : fixed;
}