// When fading in the modal, animate it to slide down
.transition-mixin {
	&.fade .modal-dialog {
			.translate(0, 0);
			.transition-transform(~"0s ease-out");
	}

	&.in .modal-dialog {
		.translate(0, 0);
	}
}
.pdf-preview-modal {
	.transition-mixin;
	.modal-dialog {
		width : 80%;
		.modal-content {
			height : 720px;
			#modal-iframe {
				width      : 100%;
				min-height : 720px;
			}
			.close-modal {
					display               : inline-block;
					position              : absolute;
					border                : inherit;
					top                   : -15px;
					right                 : -15px;
					background            : black;
					color                 : white;
					height                : 35px;
					width                 : 35px;
					line-height           : 29px;
					font-size             : 32px;
					text-decoration       : none;
					text-align            : center;
					font-weight           : normal;
					-webkit-border-radius : 35px;
					-moz-border-radius    : 35px;
					-o-border-radius      : 35px;
					border-radius         : 35px;
			}
		}
	}
}

//video information modal overrides
.info-modal {
	.modal-content {
		max-height                 : 380px;
		overflow-y                 : scroll;
		margin-top                 : 10%;
		-webkit-overflow-scrolling : touch;
	}
	h2 {
		font-size : 20px !important;
	}
	.modal-header .close {
		margin-left : 2px;
	}
}
	/* partial fix for bootstrap modal shifting to the left(https://github.com/twbs/bootstrap/issues/8768) */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right : 0 !important;
	width        : 100% !important;
	overflow     : hidden;
}
