#video-player-page {
	#next-segment {
			.content {
				background: #1DB7FF;
				padding: 12px;
				min-height: 72px;
				width: 100%;
			}

			a {
				color : #000;
			}

			a:hover {
				color           : #000;
				text-decoration : none;
			}

			.fa-block-info {
				padding-top  : 10px;
				padding-left : 56px;
			}

			.fa-block {
				float : left;
			}

			.ico {
				vertical-align : middle;
			}

			#fa-info {
				color     : #fff;
				font-size : 20px;
			}

		}
	.next-segment-display {
		display : block;
	}
}