//tab container specific width overrides
@media ( min-width : 362px ) and ( max-width : @screen-xs-max ){
	#video-player-page #tab-container #video-tabs .nav-tabs li {
		width : 49% !important;
	}
}
//popover overrides
@media ( max-width : 600px ) {
	#video-player-page {
		.popover {
			top   : 20% !important;
			left  : 0.1% !important;
			width : 95% !important;
			.arrow {
				left : 99.875862% !important;
				top  : 2.5% !important;
			}
		}
	}
}
@media ( max-width : @screen-xs-max ) {
	#video-player-page {
		.video-js {
			padding-top : 59.25%;
		}
		#video-player-header {
			.page-header {
				padding-bottom : 0px;
				margin         : 10px 0 10px;
				h2{
					font-size : 20px;
				}
			}
			#video-info #info-icon {
				margin-top : 3px;
				font-size  : 18px;
			}
			p {
				margin    : 0 0 5px;
				font-size : 13px;
			}
		}
		//tab-container
		#tab-container #video-buttons .button-container {
				width : 100%;
				#user-queue {
					padding : 6px 1px;
					float   : left;
				}
				#share-video {
					float : right;
				}
				button {
					width         : 49%;
					margin-bottom : 7px;
					top           : 0;
				}
				i{
					display : inline-block;
				}
		}

		#video-content{
			#vjs-image-overlay-holder {
				height : 70% !important;

				#vjs-p-overlay {
					position : absolute;
					bottom   : 20%;
					left     : 3%;
					font     : 8px arial,sans-serif;
				}

				#vjs-title-overlay{
					position      : absolute;
					bottom        : 9%;
					left          : 3%;
					font          : 10px arial,sans-serif;
					text-overflow : ellipsis;
					width         : 90%;
					white-space   : nowrap;
					overflow      : hidden;
					text-align    : left;
				}

				.play-button-circle{
					position      : absolute;
					top           : 15%;
					left          : 40%;
					width         : 35px;
					height        : 35px;
					border-width  : 2px;
					border-style  : solid;
					border-color  : white;
					border-radius : 50%;
				}

				#vjs-icon-play{
					position  : absolute;
					left      : 25%;
					top       : 15%;
					font-size : 25px;
					cursor    : pointer;
				}
			}
		}
		#tab-container #video-tabs .nav-tabs {
				border-bottom : 1px solid #eeeeee;
				margin-bottom : 20px;
				width         : 100%;
				border-top    : 1px solid #eeeeee;
				margin-top    : 1px;
				a {
					padding : 10px 0px;
					color   : inherit;
				}
				li {
					display       : inline-block;
					margin-bottom : 0px !important;
					border-left   : none !important;
					padding       : 0% 2%;
				}
		}

		#video-resources,
		#related-videos {
			padding  : 0 !important;
			overflow : hidden;
			position : relative;
			.prevNext {
				display : none;
			}
		}
		#video-resources .additional-resources i#icon {
			font-size : 16px;
			padding   : 3% 0;
		}
	}
}

@media ( min-width : @screen-sm-min ) and ( max-width : @screen-sm-max ) {
	#video-player-page {
		.video-js {
			padding-top : 59.25%;
		}
		#tab-container a {
			color : initial;
		}
		.tab-pane.active #video-resource,
		.tab-pane.active #video-segment {
			padding-bottom : 4% !important;
		}
		//video tabs
		#video-tabs {
			width : 58%;
		}
		#video-buttons {
			width : 42%;
			.button-container{
				width : 100%;
				button {
					margin-left : 2%;
					float       : right;
				}
			}
		}
		#video-resources,
		#related-videos {
			padding  : 0 !important;
			overflow : hidden;
			position : relative;
			.prevNext {
				display : none;
			}
		}
	}
}
@media ( min-width : @screen-md-min ) {
	#video-player-page {
		#video-player {
			#video-content {
				height : 450px !important;
			}
		}
		#video-buttons .button-container {
			float : right !important;
			width : 100%;
			button {
				margin-left : 3%;
				float       : right;
			}
		}
	}
}

//modal responsive
@media ( max-width : 480px ) and ( min-width : 320px ) {
	.share-modal {
		.modal-dialog {
			width  : 95% !important;
			margin : 3% !important;
		}
		.modal-header h2 {
			font-size : 20px;
		}
		.modal-body {
			padding : 20px;
			.left-bar {
				padding      : 0 2% !important;
				border-right : none;
				h3 {
					font-size : 20px;
				}
				textarea {
					margin-top : 0px;
				}
				.video-info {
					padding-bottom: none;
					img {
						height : 164px;
					}
					.text {
						padding : 42px 10px;
					}
					.video-url {
						width : 100%;
					}
				}
			}
			.right-bar {
				.search {
					width   : 100%;
					padding : 20px;
					.search-form {
						width : 100%;
					}
					input {
						width : 100%;
					}
				}
			}
		}
		.modal-footer {
			padding : 0% 5% 3% !important;
			.btn + .btn {
				margin-left : 0 !important;
				margin-top  : 5px;
			}
			button {
				min-width : 100%;
			}
		}
		#selected-items {
			width : 100%;
			& > ul {
				& > li {
					width : 100% !important;
					.form-control {
						max-width : 100% !important;
					}
				}
			}
		}
	}
}

@media ( max-width : @screen-xs-max ) and ( min-width : 481px ) {
	.share-modal {
		.modal-dialog {
			width  : 95% !important;
			margin : 3% !important;
		}
		.modal-header h2 {
			font-size : 20px;
		}
		.modal-body {
			.left-bar {
				padding : 0 2% !important;
				h3 {
					font-size: 20px;
				}
				.video-info {
					img {
						height : 151px;
						width  : 35%;
					}
					.text {
						padding : 42px 10px;
					}
					.video-url {
						width : 100%;
					}
				}
			}
			.right-bar {
				.search {
					width : 100%;
					.search-form {
						width : 100%;
					}
					input {
						width : 100%;
					}
				}
			}
			#selected-items > ul > li .form-control {
				position  : initial !important;
				max-width : 100%;
			}
		}
		.modal-footer {
			padding : 15px 7% 20px;
			button {
				width : 47%;
			}
		}
	}
}