@media ( max-width : 360px ) {
	#video-player-page {
		//video player
		#video-player #video-content {
			height : 163px !important;
		}
		#video-player-header {
			.page-header {
				padding-bottom : 0px;
				margin         : 10px 0 10px;
				h2{
					font-size : 20px;
				}
			}
			#video-info #info-icon {
				margin-top : 5px;
				font-size  : 15px;
			}
			p {
				margin    : 0 0 5px;
				font-size : 13px;
			}
		}
		//questions
		#video-questions .right-bar {
			height  : 200px !important;
			padding : 0;
			.content {
				padding : 3% !important;
				h3 {
					font-size : 18px;
				}
				hr {
					margin : 3px;
				}
				#questions-items {
					height     : 130px !important;
					padding    : 0 !important;
					overflow-y : auto;
					.answer {
						padding : 0;
					}
					textarea {
						margin-top : 0px !important;
						padding    : 5px !important;
					}
					#submit-answers {
						width  : 125px !important;
						margin : 3px 6px;
					}
				}
				#questions-pagination {
					padding : 2% !important;
					height  : 14%;
					.left-control, .right-control {
						bottom : 0px !important;
					}
				}
			}
		}
		//tab-container
		#tab-container #video-buttons .button-container {
				width : 100%;
				#user-queue {
					padding : 6px 1px;
					float   : left;
				}
				#share-video {
					float : right;
				}
				button {
					width         : 49%;
					margin-bottom : 7px;
					top           : 0;
				}
				i{
					display : inline-block;
				}
		}
	}
}

@media ( min-width : 361px ) and (max-width : 584px ) {
	#video-player-page {
		//video player
		#video-player #video-content {
			height : 300px !important;
		}
		//questions
		#video-questions .right-bar {
			height  : 300px !important;
			padding : 0;
			.content {
				padding : 5% !important;
				h3 {
					font-size : 22px;
				}
				hr {
					margin : 7px;
				}
				#questions-items {
					height  : 182px !important;
					padding : 0 !important;
					.answer {
						padding : 0;
					}
					textarea {
						margin-top : 0px !important;
						padding    : 5px !important;
					}
					#submit-answers {
						width  : 125px !important;
						margin : 3px 6px;
					}
				}
				#questions-pagination {
					padding : 3% !important;
					height  : 14%;
					.left-control, .right-control {
						bottom : 7% !important;
					}
				}
			}
		}
		//tab-container
		#tab-container {
			border-bottom : none !important;
		}
		//video tabs
		#video-tabs .nav-tabs li {
			width         : 100%;
			border-bottom : 1px solid #EBEBEB;
		}
		//video buttons
		#video-buttons .button-container {
			width : 100%;
			button {
				width : 49.4%;
			}
		}
	}
}
@media ( min-width : 585px ) and (max-width : 768px ) {
	#video-player-page {
		//video player
		#video-player #video-content {
			height : 415px !important;
		}
		//questions
		#video-questions .right-bar {
			height  : 311px !important;
			padding : 0;
			.content {
				padding : 5% !important;

				h3 {
					font-size: 23px;
				}
				hr {
					margin : 7px;
				}
				#questions-items {
					height  : 182px !important;
					padding : 0 !important;
					.answer {
						padding : 0;
					}
					textarea {
						margin-top : 0px !important;
						padding    : 5px !important;
					}
					#submit-answers {
						width  : 125px !important;
						margin : 3px 6px;
					}
				}
				#questions-pagination {
					padding : 2% !important;
					height  : 16%;
					.left-control, .right-control {
						bottom     : 18% !important;
					}
				}
			}
		}
		//tab-container

		#tab-container {
			border-bottom : none !important;
			#user-queue {
					float : left;
			}
			#share-video {
					float : right;
			}
		}
		//video tabs
		#video-tabs .nav-tabs {
			border-bottom : 1px solid #EBEBEB;
			margin-bottom :	 3% !important;
			li {
				width         : 49.4%;
				display       : inline-block;
				margin-bottom : 0px !important;
			}
		}
		//video buttons
		#video-buttons .button-container {
			width : 100%;
			button {
				width : 49.56%;
			}
			#user-queue {
				float : left;
			}
			#share-video {
				float : right;
			}
		}
	}
}

@media ( min-width : 769px ) and ( max-width : 1199px ) {
	#video-player-page {
		#video-player {
			width : 65% !important;
			#video-content {
				height : 420px !important;
			}
		}
		.tab-pane.active #video-resource,
		.tab-pane.active #video-segment {
			padding-bottom : 4% !important;
		}
		//questions
		#video-questions {
			width : 35% !important;
			.right-bar {
				height  : 420px !important;
				padding : 0;
				.content {
					padding : 5% !important;
					h3 {
						font-size : 22px;
					}
					#questions-items {
						height  : 281px !important;
						padding : 0 !important;
						.answer {
							padding : 0;
						}
						textarea {
							margin-top : 0px !important;
							padding    : 5px !important;
						}
						#submit-answers {
							width  : 125px !important;
							margin : 3px 6px;
						}
					}
					#questions-pagination {
						padding : 7% !important;
						height  : 14%;
						.left-control, .right-control {
							bottom     : 20% !important;
						}
					}
				}
			}
		}
		//video tabs
		#video-tabs {
			width : 58%;
		}
		#video-buttons {
			width : 42%;
			.button-container{
				width : 100%;
				button {
					margin-left : 2%;
					float       : right;
				}
			}
		}
	}
}
@media ( min-width : 1200px ) {
		#video-player-page {
			#video-buttons .button-container{
				float : right !important;
				width : 100%;
				button {
					margin-left : 3%;
					float       : right;
				}
			}
		}
}

@media ( max-width : 768px ) {
	#video-player-page {
		//panel group overrides
		.panel-title {
			> a {
				display         : block;
				padding         : 10px 15px;
				text-decoration : none !important;
			}
			> a:not(.collapsed) {
				color         : #8DB62B !important;
				border-bottom : 3px solid #8DB62B;
			}
		}
		.panel {
			margin-bottom      : none;
			background-color   : none;
			border             : none;
			border-radius      : none;
			-o-box-shadow      : none;
			-ms-box-shadow     : none;
			-webkit-box-shadow : none;
			-moz-box-shadow    : none;
			box-shadow         : none;
		}
		.panel-body {
			padding : 15px 0;
		}
		.panel-default {
		 border-color : none;
		 > .panel-heading {
				padding : 0px;
		 }
		}
		//video segments and related videos
		.panel-body {
			.additional-resources {
				i#icon {
					font-size : 14px;
					padding   : 4% 0;
				}
				span#video-programs {
					font-size : 18px;
				}
			}
			#video-resource {
				border-bottom : 1px solid #EBEBEB;
			}
			.video-resources-thumb {
				max-width : 276px;
				img {
					width : 95%;
				}
				span {
					padding                    : 25px;
					background                 : #f3f5f6;
					border-bottom-left-radius  : 3px;
					border-bottom-right-radius : 3px;
					display                    : inline-block;
					width                      : 95%;
					height                     : 70px;
					.watch-later {
						.download-icon {
							font-size   : 25px;
							color       : #808080;
							cursor      : pointer;
							margin-left : 42%;
						}
					}
				}
			}
			.videos-thumb {
				max-width  : 100%;
				display    : block;
				padding    : 0 5%;
				#icon-play,
				a > span {
					position  : absolute;
					display   : none;
					top       : 20%;
					left      : ~"calc(50% - 17.5px)";
					font-size : 35px;
				}

				img{
					height : 120px;
					width  : 276px;
				}

				#word-play,
				a > p {
					display  : none;
					top      : 40%;
					left     : 30%;
					position : absolute;
				}

				:hover {
					#image {
						color               : @vp-white;
						opacity             : .5;
						transition-duration : .5s;
					}
					#icon-play, #word-play {
						display : inline-block;
						z-index : 1;
						color   : @vp-white;
					}
				}
			}

			.videos-info {
				max-width                  : 276px;
				padding-top                : 20px;
				margin-right               : 5%;
				margin-left                : 5%;
				background                 : @whitesmoke;
				border-bottom-left-radius  : 3px;
				border-bottom-right-radius : 3px;
				display                    : block;
				height                     : 110px;

				h3.video-name {
					width         : 85%;
					white-space   : nowrap;
					overflow      : hidden;
					text-overflow : ellipsis;
					font-size     : 16px;
					margin-top    : 2%;
					padding-left  : 5%;
				}

				p {
						line-height  : 30px;
						font-size    : 15px;
						display      : inline-block;
						padding-left : 5%;
				}

				.watch-later {
					width      : 35px;
					height     : 35px;
					padding    : 5px;
					position   : absolute;
					top        : 185px;
					left       : 60%;
					text-align : center;

					.flag {
						display : none;
					}

					.watch-later-icon {
						font-size : 25px;
						color     : @vp-gray;
						cursor    : pointer;
					}

					.watch-later-icon:hover {
						color : @vp-blue-light;
					}

					.remove {
						display : none;
					}

					.flag:checked ~ .watch-later-icon {
						color :	@vp-blue-dark;

						.add {
							display : none;
						}

						.remove {
							display : block;
						}

					}
				}
				.watch-later:hover {
					padding : ( ( @vp-base-padding / 5 ) * 2 );
					border  : @border;

					.border-radius( @cn-base-radius / 3 );

					.watch-later-icon {
						color :	@vp-blue-light;
					}
				}


			}
		}
		//end for video-segments and related videos
	}
}
//modal responsive
@media ( max-width : 750px ){
	.share-modal {
		.modal-dialog {
			width  : 81% !important;
			margin : 10% !important;
		}
		.modal-body {
			.left-bar {
				padding : 0 2% !important;
				.video-info {
					img {
						width   : 75% !important;
						padding : 4% 4% 5% 0 !important;
					}
					.text {
						padding : 42px 10px;
					}
					.video-url {
						width : 100%;
					}
				}
			}
			.right-bar {
				.search {
					width : 100%;
					.search-form {
						width : 100%;
					}
					input {
						width : 100%;
					}
				}
			}
		}
		.modal-footer {
			padding : 0% 2% 2% !important;
			button {
				min-width : 138px;
			}
		}
		#selected-items {
			width : 100%;
			& > ul {
				& > li {
					width : 100% !important;
					.form-control {
						max-width : 100% !important;
					}
				}
			}
		}
	}
}