#video-player-page {

	.slick {

		.slick-list {
			height : 282px;
		}

		ul.slick-track {
			display    : block;
			margin     : 0;
			padding    : 0;
		}

		.slick-prev, .slick-next {
			border      : 0 none;
			cursor      : pointer;
			height      : 30px;
			position    : absolute;
			text-indent : -9999px;
			width       : 30px;
			z-index     : 10000;
			display     : none;
		}

		.slick-prev {
			background : url("./../img/left-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);
			visibility : hidden;
			left       : -10px;
		}

		.slick-next {
			background : url("./../img/left-arrow-right.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);
			visibility : hidden;
			right      : -10px;
		}
	}
}