#video-player-page {
	#tab-container {
			border-bottom : 1px solid #EBEBEB;
			width         : 100%;
			position      : relative;
			padding-top   : 20px;
			margin-left   : 0px;
			height        : 63px;

		a {
			color : inherit;
		}

		#video-tabs {
			padding : 0;
			.nav-tabs {
				border-top    : none;
				margin-bottom : 0;

				li {
					margin-right      : 0px;
					margin-bottom     : 15px;
					a {
						border : none;
					}
					a:hover, a:focus {
						border-top    : none;
						cursor        : pointer;
						margin-bottom : 0;
					}
				}
				li.active {

					a {
						border-top    : none;
						border-bottom : 3px solid #8DB62B;
						color         : #8DB62B;
					}
				}
			}
		}

		#video-buttons {
			padding : 0;
			.button-container{
				float   : right !important;
			}
			button {
				min-width : 138px;
				position  : relative;
				top       : -7px;
			}
		}
	}
}
