#video-player-page {
	#tab-content {
		display : inline-block;

		&.tab-content {
			width : 100%;
		}

		.tab-pane {
			display    : block;
			visibility : hidden;
			height     : 0;
		}

		.tab-pane.active  {
			visibility : visible;
			height     : auto;
		}

		#video-resource {
			overflow : hidden;
			position : relative;

			.nextLink, .nextLink2 {
				right : 0;
				left  : auto;
			}
		}

		.tab-pane.active #video-resource,
		.tab-pane.active #video-segment {
			height   : auto;
			position : relative;
		}

		.tab-pane:not(.active)#related-videos {
			height  : 0;
			display : none;
		}
		.tab-pane:not(.active)#video-resources {
			height  : 0;
			display : none;
		}

		.additional-resources {
			#video-resource {
				ul.row {
					height : auto;
				}
			}
		}

		ul.row {
			height        : 252px;
			margin-bottom : 30px;
			padding       : 0px;
		}
	}
	ul {
		list-style-type : none;
	}

	.mobile {
		.slick-prev, .slick-next {
			visibility : hidden !important;
		}
	}

	//segment count style
	.video-count-all {
	 	color : @pc-gray-dark;
	}


	#video-resources {

		.additional-resources {

			i#icon {
				font-size : 16px;
				padding   : 2% 0;
			}

			#video-segments-header {
				font-size     : 24px;
				font-weight   : 300;
				margin        : 0;
				margin-bottom : 20px;
				padding       : 0;
				line-height   : 30px
			}

			#video-resource {
				padding : 0;

				.video-resources-thumb {
					cursor           : pointer;
					width            : 100%;
					background-color : @vp-thumb-gray;
					text-align       : center;
					display          : block;
					padding          : 5px;

					.border-top-radius( 3px );

					img {
						max-width  : 100%;
						background : @vp-black;
					}

				}

				.download-container {
					background : @vp-whitesmoke;
					width      : 100%;
					display    : block;
					.border-bottom-radius( 3px );

					a {
						padding : 10px;
						display : block;
					}

					text-align : center;

					.cn-tool-tip {
						font-size : 15px;
					}

					.download-icon {
						font-size : 25px;
						color     : @vp-icon-gray;
						cursor    : pointer;
					}

					.download-icon:hover {
						color : @vp-blue-light;
					}
				}
			}
		}
	}
}
