@vp-font-base   : "Avenir LT W01 65 Medium", "AvenirLTW01-65MediumObl", "Avenir LT W01 85 Heavy", "AvenirLTW01-85HeavyObli", "Avenir", "helvetica neue", helvetica, arial, sans-serif;

@vp-whitesmoke : #f3f5f6;
@vp-white   : #ffffff;
@vp-light   : #f7f7f7;
@vp-black   : #000000;
@vp-red     : #ff0000;
//green family
@vp-green      : #8db62b;
@vp-green-light : #9fd753;
//gray family
@vp-icon-gray         : #999999;
@vp-gray-light        : #d4d4d4;
@vp-gray              : #e1e1e1;
@vp-pagination-gray   : #e7e9e9;
@vp-thumb-gray        : #707070;
@vp-border-gray       : #eeeeee;
@vp-empty-view-gray   : #b2b5b9;
@vp-vjs-gray          : #cccccc;
@vp-vjs-gray-darker   : #cfcfcf;
@vp-arrow-gray        : #dddddd;
@vp-arrow-gray-dark   : #303030;
@vp-arrow-gray-darker : #262626;
@vp-arrow-gray-bg     : #aaaaaa;

//blue family
@vp-blue       : #3dadef;
@vp-blue-light : #5abef9;
@vp-blue-dark  : #2a9adc;
