<div class="nav-bar">

	<div class="nav-bar-left">
		<a href="#">
			<div class="logo">
				<img src="img/logo.png" alt="School Improvement">
			</div>
		</a>

		<ul class="top-nav">
			<a href="#"><li id="resources-tab"><span>Resources</span></li></a>
			<a href="#"><li id="groups-tab"><span>{Groups}</span></li></a>
		</ul>

		<a href="#">
			<div class="menu-btn">
				<img src="img/menu-btn.png">
			</div>
		</a>
		<a href="">
			<div class="notification-icon-mobile">
				<img src="img/notification-icon.png">
			</div>
		</a>
	</div>

	<div class="middle">
		<form class="search-form">
			<input placeholder="Search (e.g. video or group)" class="search-field" />
			<input type="submit" disabled="disabled" />
		</form>
	</div>

	<div class="nav-bar-right">

		<div class="nav-menu">
			<div class="menu-container">
				<div id="bar1" class="menu-bar"></div>
				<div id="bar2" class="menu-bar"></div>
				<div id="bar3" class="menu-bar"></div>
			</div>
			<div id="menu" style="display: none;">
				<div class="black"></div>
				<ul>
					<li>{Your Profile}</li>
					<li>{Settings}</li>
					<li>{Support}</li>
					<li>{Learning Targets}</li>
					<a id="logout" href="#logout"><li class="border-top">Log Out</li></a>
				</ul>
			</div>
		</div>

	</div>

</div>

<section id="resource-items">
	<div class="wide-container">
		<ul>
			<a href="#">
				<li>
					<img src="img/video-app.png">
					<br>
					<p>{Videos}</p>
				</li>
			</a>
			<a href="#lumibook">
				<li>
					<img src="img/lumibooks-app.png">
					<br>
					<p>LumiBook</p>
				</li>
			</a>
			<a href="#observation/me">
				<li>
					<img src="img/observation-app.png">
					<br>
					<p>Observation</p>
				</li>
			</a>
			<a href="#communities">
				<li>
					<img src="img/communitites-app.png">
					<br>
					<p>{Communities}</p>
				</li>
			</a>
			<a href="">
				<li>
					<img src="img/tasks-app.png">
					<br>
					<p>{Tasks}</p>
				</li>
			</a>
			<br class="clear">
		</ul>
	</div>
</section>
