<div class="container-fluid">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pd360-main-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#home" class="navbar-brand">
			<img class="logo" src="img/logo.png" alt="School Improvement">
		</a>
		<div class="visible-xs phone-search">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group search has-feedback">
					<input type="search" id="nav-search-small" class="form-control" placeholder="Search">
					<div class="form-control-feedback">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="pd360-main-nav">
		<ul class="nav navbar-nav">
			<li class="dropdown yamm-fw">
				<a href="#" id="resources-tab" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<div class="yamm-content">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a href="#resources/videos" class="thumbnail icon">
										<img alt="Videos" src="img/icon-videos.png">
										<p class="icon description">Videos</p>
									</a>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a href="#resources/learning" class="thumbnail icon">
										<img alt="Learning Targets" src="img/icon-learning-targets.png">
										<p class="icon description">Learning Targets</p>
									</a>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a href="#resources/observation/me" class="thumbnail icon">
										<img alt="Observation" src="img/icon-observation.png">
										<p class="icon description">Observation 360</p>
									</a>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a href="#resources/communities" class="thumbnail icon">
										<img alt="Communities" src="img/icon-communities.png">
										<p class="icon description">Communities</p>
									</a>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a href="#resources/lumibook" class="thumbnail icon">
										<img alt="LumiBook" src="img/icon-lumibook.png">
										<p class="icon description">LumiBook</p>
									</a>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-2">
									<a id="link-resources-more" href="#resources/more" class="thumbnail icon">
										<img alt="More Resources" src="img/icon-more-resources.png">
										<p class="icon description">More Resources</p>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li><a href="#groups" id="groups-tab">Groups</a></li>
		</ul>

		<div class="hidden-xs">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group search has-feedback">
					<input type="text" id="nav-search" class="form-control" placeholder="Search">
					<div class="form-control-feedback">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</form>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id='help'>
					<span>Help</span>
				</a>
			</li>
			<li class="hidden-xs">
				<a href="#">
					<img class="js-notifications notification-icon" src="img/bell.png" alt="bell">
					<span class="badge badge-info notifications">{8}</span>
				</a>
			</li>
			<li class="dropdown user-menu">
				<a href="#" id="user-tab" class="dropdown-toggle" data-toggle="dropdown">
					<div class="visible-xs">
						User <span class="caret"></span>
					</div>
					<div class="menu-container hidden-xs">
						&nbsp;
						<div id="bar1" class="menu-bar"></div>
						<div id="bar2" class="menu-bar"></div>
						<div id="bar3" class="menu-bar"></div>
					</div>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#settings/profile">User Settings</a></li>
					<li class="visible-xs"><a href="#">{Notifications} <span class="badge badge-info">{8}</span></a></li>
					<li class="divider"></li>
					<li><a href="#logout">Log Out</a></li>
				</ul>
			</li>

		</ul>
	</div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->
