<div class="container-fluid bootstro" data-bootstro-placement="bottom" data-bootstro-content="The Navigation bar displays at the top of every page. Click the <strong>Home <i class='sinet-apple'></i></strong> icon to return to the home page.">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pd360-main-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#home" class="navbar-brand">
			<i class="sinet-apple"></i>
		</a>
		<div class="visible-xs phone-search">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group search has-feedback">
					<input type="search" id="nav-search-small" class="form-control" placeholder="Search">
					<div class="form-control-feedback js-search fake-link">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="pd360-main-nav">

		<div class="navbar-left bootstro" data-bootstro-placement="bottom" data-bootstro-content="Click <strong>Resources</strong> to view a menu of professional learning resources – videos, learning targets, community forums, your LumiBook bookshelf, and more. Click <strong>Groups</strong> to view a list of groups in which you are already a member.">
			<ul class="nav navbar-nav">
				<li class="dropdown yamm-fw">
					<a href="#resources/more" id="resources-tab" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<div class="yamm-content"></div>
						</li>
					</ul>
				</li>
				<li><a data-url="#groups" href="#groups" id="groups-tab">Groups</a></li>
			</ul>
		</div>

		<div class="hidden-xs">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group search has-feedback">
					<input type="text" id="nav-search" class="form-control bootstro" placeholder="Search" data-bootstro-placement="bottom" data-bootstro-content="Enter your search criteria in the Search field to find videos, communities, or groups.">
					<div class="form-control-feedback js-search fake-link">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</form>
		</div>

		<div class="navbar-right bootstro" data-bootstro-placement="bottom" data-bootstro-content="Click <strong>Help</strong> to access user documentation, online training, and support. Click the <strong>Notifications <i class='fa fa-bell'></i></strong> icon to view your notifications (notifications display the content that other users share with you). Click the <strong>Settings</strong> icon to access your user settings or log out of the system. ">
			<ul class="nav navbar-nav navbar-right">

				<li>
					<a id="help" href="http://help.schoolimprovement.com/" target="_blank">
						<span>Help</span>
					</a>
				</li>

				<li class="hidden-xs">
					<a href="#messages" class="message-count-btn">
						<i class="fa fa-bell notification-icon"></i>
						<span class="badge badge-info message-count hidden-message"><%- messageCount %></span>
					</a>
				</li>

				<li class="dropdown user-menu">
					<a href="#" class="dropdown-toggle navicon-button x" id="user-tab" data-toggle="dropdown">
						<div class="navicon hidden-xs"></div>
						<div class="visible-xs">User</div>
					</a>
					<ul class="dropdown-menu">
						<li class="user-setting"><a href="#settings/profile">User Settings</a></li>
						<li class="visible-xs user-setting"><a href="#messages" class="message-count-btn">Notifications <span class="badge badge-info message-count hidden-message"><%- messageCount %></span></a></li>
						<li class="divider hidden-xs"></li>
						<li class="user-setting hidden-xs"><a href="#logout">Log Out</a></li>
					</ul>
				</li>
				<li class="user-setting visible-xs"><a href="#logout">Log Out</a></li>
			</ul>
		</div>

	</div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->
