<div class="nav-bar">

	<div class="nav-bar-left">
		<a href="#">
			<div class="logo">
				<img src="img/logo.png" alt="School Improvement">
			</div>
		</a>

		<a href="#">
			<div class="menu-btn">
				<img src="img/menu-btn.png">
			</div>
		</a>
		<a href="">
			<div class="notification-icon-mobile">
				<img src="img/notification-icon.png">
			</div>
		</a>
	</div>

	<div class="middle">
		<form class="search-form">
			<input placeholder="Search (e.g. video or group)" class="search-field" />
			<input type="submit" disabled="disabled" />
		</form>
	</div>

</div>
