<div class="container-fluid logged-out">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pd360-main-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#login" class="navbar-brand">
			<i class="sinet-apple"></i>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="pd360-main-nav">

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="help" href="http://help.schoolimprovement.com">
					<span>Help</span>
				</a>
			</li>
		</ul>

	</div>

</div>
