body {
    margin-bottom : 100px;
}
html {
    position   : relative;
    min-height : 100%;
}
#footer {
    position   : absolute;
    bottom     : 0;
    width      : 100%;
    min-height : 70px;
    padding    : 20px 0;
    .footer-img-region {
    	text-align : center;
        img {
            margin : 0 auto 1em !important;
        }
    }
    p {
        margin-bottom : 5px;
    }
    span {
        display    : inline-block;
        margin-top : 5px;
    }
}
#footer-copyright {
    text-align : center;
}
