body {
	margin-bottom : 100px;
}

html {
  position   : relative;
  min-height : 100%;
}

#footer {
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  min-height       : 60px;
}

#footer-copyright {
	text-align : center;
}