<div>
	<div class="cn-header cn-header-filter">
		<ul>
			<li><button class="btn btn-default" id="clear-btn-grades"><span class="fa fa-minus open" id="grades"></span></button></li>
			<li><h4>Grades</h4></li>
			<li><button class="btn btn-default">Clear</button></li>
		</ul>
	</div>
	<div id="cn-grades"></div>
</div>
<div>
	<div class="cn-header cn-header-filter">
		<ul>
			<li><button class="btn btn-default" id="clear-btn-subjects"><span class="fa fa-minus open" id="subjects"></span></button></li>
			<li><h4>Subjects</h4></li>
			<li><button class="btn btn-default">Clear</button></li>
		</ul>
	</div>
	<div id="cn-subjects"></div>
</div>
<div>
	<div class="cn-header cn-header-filter">
		<ul>
			<li><button class="btn btn-default" id="clear-btn-topics"><span class="fa fa-minus open" id="topics"></span></button></li>
			<li><h4>Topics</h4></li>
			<li><button class="btn btn-default">Clear</button></li>
		</ul>
	</div>
	<div id="cn-topics"></div>
</div>