// Variables
@flash-message-padding : 30px;
@flash-border-width    : 5px;
@flash-close-height    : 25px;

#flash-message {
	position   : absolute;
	z-index    : 100;
	width      : 100%;
	margin-top : -20px;

	&.affix {
		top      : 20px;
		position : fixed;
	}
}


.message-style(@color) {
	border-bottom : @flash-border-width solid @color;

	.flash-close {
		background-color : @color;
	}
}


.flash-message-container {

	background : rgba( 0,0,0,0.85 );
	color      : #fff;
	padding    : @flash-message-padding 15px;
	text-align : center;

	&.success {
		.message-style( @brand-success );
	}

	&.info {
		.message-style( @brand-info );
	}

	&.warning {
		.message-style( @brand-warning );
	}

	&.error, &.danger {
		.message-style( @brand-danger );
	}

	.message {
		vertical-align : middle;
		display        : inline-block;
		max-width      : 700px;
	}

}

.flash-close {
	margin                     : @flash-message-padding auto -(@flash-message-padding + @flash-border-width + @flash-close-height);
	height                     : @flash-close-height;
	width                      : @flash-close-height * 1.6;
	text-align                 : center;
	line-height                : 1.3;
	position                   : relative;
	border-bottom-left-radius  : 50%;
	border-bottom-right-radius : 50%;
	cursor                     : pointer;
}
