<form>
  <fieldset>
    <legend>Forgot your password?</legend>
    <div class="user-resetpassword">
    <span class="help-block">Enter the email address associated with your account.</span>
    <input type="text" name="email" placeholder="johnsmisth@email.com">
    <span class="help-block">If you have any questions, please contact us at 855-337-7500 or <a href="#"> support@schoolimprovement.com</a>.</span>
    </div>
  </fieldset>

  <div class="bottom-button">
    <button class="btn btn-primary reset-button"  id="resetpassword-button" data-style="expand-right" type="submit">Submit</button>
  </div>
</form>
