<form>
  <fieldset>
    <legend>Forgot your password?</legend>
    <div class="user-resetpassword">
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
	  <span class="help-block">Enter the email address associated with your account.</span>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6">
	  <input type="text" name="email" placeholder="johnsmith@email.com">
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
	  <span class="help-block help-wrap">If you have any questions, please contact us at 855-337-7500 or <a href="mailto:support@schoolimprovement.com?Subject=Password%20Request" target="_top"> support@schoolimprovement.com</a>.</span>
	</div>
      </div>
    </div>
  </fieldset>
  <div class="bottom-button">
    <button class="btn btn-primary reset-button"  id="resetpassword-button" data-style="expand-right" type="submit">Submit</button>
  </div>
</form>
