<div class="col-xs-2"></div>
<div class="col-xs-8">
	<div class="page-header">
		<h3>Forgot your password?</h3>
	</div>
	<div class="user-resetpassword">
		<p><label for="email">Enter the email address associated with your account.</label></p>
		<p><input type="email" id="email" name="EmailAddress" maxlength="50"></p>
		<p><label for="email">If you have any questions, please contact us at 855-337-7500 or <a href="#"> support@schoolimprovement.com</a>.</label></p>
	</div>
	<div class="bottom-button">
		<button class="btn btn-primary reset-button"  id="resetpassword-button" data-style="expand-right" type="submit">Submit</button>
	</div>
</div>
<div class="col-xs-2"></div>