<section class="login-form">
	<div class="sub-page-header">
		<h1>Login</h1>
	</div>

	<form role="form">
		<div class="form-group">
			<input type="text" class="form-control" id="login-input-email" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="login-input-password" placeholder="Password">
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="true"> Remember me
				</label>
			</div>
		</div>

		<button id="login-button" type="submit" class="btn btn-primary btn-block">Login</button>
	</form>
	<a href="#" class="forgot-password-link">Forgot password?</a>
</section>
