<div class="row marketing-message">
	<div class="col-sm-7">
		<img class="img-responsive" src="img/edivation-banner.png"></img>
	</div>

	<div class="col-sm-5">
		<h2>PD360.com is temporarily unavailable.</h2>

		<div class="text-justify">
			<p>We're busy transitioning the site to Edivation, the new personalized professional learning platform that offers everything PD 360 did, and MORE!</p>
			<p>Edivation will offer tons of new enhancements to make learning simpler, faster, and more personalized, with an improved mobile experience.</p>
			<p><strong>Please come back after 8 a.m. MDT on July 16</strong>, when the site will be <span onclick="$( '.hidden' ).removeClass( 'hidden' );">fully</span> operational and totally amazing.</p>
			<p>Thank you for your patience.</p>
		</div>
	</div>
</div>

<div class="row login-container hidden">
	<div class="col-sm-6 first-column">
		<div class="login-form">
			<div class="page-header">
				<h2>Log In</h2>
			</div>

			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" id="login-input-email" placeholder="Username" name="Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="login-input-password" placeholder="Password" name="Password">
				</div>

				<button id="login-button" type="submit" class="btn btn-primary ladda-button" data-style="expand-right">Log In</button>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="true"> Remember Username
					</label>
				</div>
			</form>
			<a href="#forgotPassword" class="forgot-password-link">Forgot password?</a>
		</div>
	</div>
	<div class="col-sm-6 second-column">
		<div class="visible-xs">
			<hr>
		</div>
		<div class="page-header">
			<h2>Register for Edivation</h2>
		</div>
		<p>Free registration includes:</p>
		<ul>
			<li>30-day access to over 3,500 research-based instructional videos</li>
			<li>Lifetime access to the world's largest community of verified educators</li>
			<li>Lifetime access to professional development planning and tracking tools</li>
		</ul>
		<a id="register-button" class="btn btn-primary" href="#register">Register</a>
	</div>

</div>

<div class="row marketing-message">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="jumbotron">
			<h2>Edivation</h2>

			<p>PD 360 is now Edivation - a more powerful, more personalized solution for improving educator effectiveness and student learning.</p>
			<p><a class="btn btn-default btn-lg" role="button" href="http://www.schoolimprovement.com/edivation">Learn more</a></p>
		</div>
	</div>
</div>
