<div class="row login-container">
	<div class="col-sm-6 first-column">
		<div class="login-form">
			<div class="page-header">
				<h2>Log In</h2>
			</div>

			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" id="login-input-email" placeholder="Username" name="Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="login-input-password" placeholder="Password" name="Password">
				</div>

				<button id="login-button" type="submit" class="btn btn-primary ladda-button" data-style="expand-right">Log In</button>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="true"> Remember Username
					</label>
				</div>
			</form>
			<a href="#forgotPassword" class="forgot-password-link">Forgot password?</a>
		</div>
	</div>
	<div class="col-sm-6 second-column">
		<div class="visible-xs">
			<hr>
		</div>
		<div class="page-header">
			<h2>Register for PD 360</h2>
		</div>
		<p>Free registration includes:</p>
		<ul>
			<li>30-day access to over 3,500 research-based instructional videos</li>
			<li>Lifetime access to the world's largest community of verified educators</li>
			<li>Lifetime access to professional development planning and tracking tools</li>
		</ul>
		<a id="register-button" class="btn btn-primary" href="#register">Register</a>
	</div>
</div>
