<div class="cn-filter">

    <div class="cn-header-filter cn-header">
        <ul>
            <li>
                <div class="cn-collapse-btn">
                    <label class="btn btn-default cn-collapse-btn-hide fa fa-minus"></label>
                </div>
            <li>
                <h2 class="heading-2"><%= title %></h2>
            </li>
            <li>
                <span type="submit" class="btn btn-default cn-clr-filter-btn" disabled>Clear Filters</span>
            </li>
        </ul>
    </div>
    <div >
        <ul class="cn-content-filter">

        </ul>

        <div class="clearfix"></div>
    </div>
</div>

