<div class="cn-library-control">
	<div class="cn-filter library">
		<div class="cn-header-filter cn-header">
	        <ul>
			<li>
                <h2 class="heading-2">Library</h2>
            </li>
	        </ul>
	    </div>
	    <div>
		    <ul class="cn-content-filter library">
		    </ul>
		    <div class="clearfix"></div>
	    </div>
	</div>
	<div class="cn-filter sortby">
		<div class="cn-header-filter cn-header">
	        <ul>
			<li>
                <h2 class="heading-2">Sort by</h2>
            </li>
	        </ul>
	    </div>
	    <div>
		    <ul class="cn-content-filter sortby">
		    	<li class="filter-item"><label class="cn-filter-list"><span class="filter-tick"></span>Release Date</label></li>
		    	<li class="filter-item"><label class="cn-filter-list"><span class="filter-tick"></span>A-Z</label></li>
		    </ul>
		    <div class="clearfix"></div>
	    </div>
	</div>
</div>