
<div class="wrapper">
	<div class="accordion-heading">
		<img class="profile-main" src="http://resources.pd360.com/PD360/uploads/avatars/profile/<%- CreatorAvatar %>">

		<div class="comment-main">
			<p><span class="fake-link creator-name"><%- CreatorFullName %></span> <span class="date"><%- Created %></span></p>
			<p><%- Message %></p>
		</div>

		<ul class="reply media-list">

		</ul>

		<div class="container reply-box">
			<ul class="media-list">
				<li class="row">

					<form role="comment">
						<div class="col-md-10">
							<div class="form-group">
								<input type="comment" name="comment-reply" class="comment-reply form-control input-reply" rows="1"></input>
							</div>
						</div>
						<div class="col-md-2">
							<button class="reply-submit btn btn-default" type="submit">Post</button>
						</div>
					</form>

				</li>
			</ul>

		</div>

	</div>

</div>

