<a class="groupDetails" href="selected">
<div class="profile group" style='background:url("http://builtbyhq.com/projects/school/CORE/v1/img/group-bg-4.png"); background-size: contain;'>
	<img style='background:url("http://resources.pd360.com/PD360/uploads/avatars/group/<%= Avatar %>"); background-size: contain; background-color: white;' />
</div>
</a><div class="details"><a class="group" href="selected">
	<h3><%= LicenseName %></h3>
	<p><span title="<%= Misc %>"><%= getAbbreviation( Misc, 25 ) %></span></p>
	<p>86 Members</p>
	</a><a class="groupDetails" href="selected"><button class="green-btn">View</button></a>
</div>