<section id="group">
	<div class="banner"></div>

	<div class="header"></div>

	<div id="learning-targets-nav">
		<div id="group-sub-nav" >


		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-3 left-side" ></div>

		<div class="comments">
			<div class="col-sm-8 col-md-9 right-side" >

				<div id="my-tab-content" class="tab-content">

					<div class="tab-pane active" id="wall">
						<h2>Wall</h2>
						<div class="comment-create"></div>
						<ul class="comments-list media-list"></ul>
					</div>

					<div class="tab-pane" id="resources">
					    <h2>Resources</h2>
					</div>

					<div class="tab-pane" id="forums">
					    <h2>Forums</h2>
					</div>

					<div class="tab-pane" id="members">
					    <h2>Members</h2>
					    <div id="members-list"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
