<a class="js-group-details" href="#groups/<%- LicenseId %>">
	<div class="group-banner-container">
		<img class="group-banner" src="<%- getBrandingPath( BrandingImage ) %>">
	</div>
	<img class="group-avatar" src="<%- getAvatarPath( Avatar ) %>">
	<div class="group-name">
		<%- getAbbreviation( LicenseName, 35 ) %>
	</div>
</a>
<div class="group-link-container">
	<a class="group-member-count" href="#groups/<%- LicenseId %>/members"><%- NumberOfMembers %> Members</a>
	<a class="btn btn-primary" href="#groups/<%- LicenseId %>">View</a>
</div>
