<div class="resource-container row-fluid" >
	<div class="col-xs-2 col-sm-1 col-md-1"><span class="resource-icon "><i class="fa fa-paperclip fa-3x"></i></span></div>
	<div class="resource-main col-xs-10 col-sm-11 col-md-11" >
		<p class="resource-name <%- checkIfLink() %>" ><a href="<%- getFileNameOrURL() %>" target="_blank"><%- getFileNameOrURL() %></a></p>
		<p class="resource-name <%- checkIfFile() %>" ><%- getFileNameOrURL() %></p>
		<p class="resource-creator">Shared By: <%- PersonnelFullName %>
			<span class="<%- getDownloadButtonStatus() %>"> | <button type="button" class='btn btn-primary btn-xs resource-download' > <i class="fa fa-download fa-fw"></i> Download </button>
			</span>
		</p>
		<p class="resource-description" ></p>
	</div>
</div>