<div class="page-header">
	<h2>Create Group</h2>
</div>
<form role="form">
<div class="groups-form-content">
	<div class="upload-form">
		<h3>Group Information</h3>
		
		  <div class="form-group">
		    <span for="inputGroupName">Group Name</span>
		    <input type="text" class="input-validation form-control" id="inputGroupName" placeholder="Enter Group Name" required>
		    <div class="group-name-validation"></div>		    
		  </div>
		  <div class="form-group">
		    <span for="inputGroupDescription">Group Description</span>

		    <textarea type="text" class="input-validation form-control" id="inputGroupDescription" rows="5" placeholder="Enter Group Description" required></textarea>
		    <div class="group-description-validation"></div>
		  </div>	  
	</div>
	<hr>
	<div class="upload-form">		
		<h3>Add Photos</h3>
		<div>
			<span>Group Logo</span>
		</div>
		<div>
			<span>Cover Photo</span>
		</div>
	</div>
	<hr>
	<div class="upload-form">
		<div class="groups-create-privacy">
			
			<h3>Privacy <span class="fa fa-info-circle"></span></h3>

			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="setGroupPublic" value="0" checked>
					Public
				</label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="setGroupPrivate" value="1">
					Private
				</label>
			</div>			

			<div class="checkbox">
				<label>
					<input type="checkbox" value="" id="setGroupVisibility">
					Hidden
				</label>
			</div>			
		</div>	
	</div>
</div>

<div class="groups-form-content-bottom">
	<div class="upload-actions">
		<button type="button" class="btn cancel btn-default cancel-btn">Cancel</button>
		<button type="submit" class="btn create btn-primary submit-btn">Create</button>
	</div>
</div>	
</form>
