<section id="group">
	<div class="banner">

	</div>

	<div class="container">
		<div class="header">

		</div>

		<div class="row">
			<div class="col-md-3 left-side" >

			</div>

			<div class="comments">
				<div class="col-md-9 right-side" >
					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#wall" data-toggle="tab">Wall</a></li>
				        <li><a href="#resources" data-toggle="tab">{Resources}</a></li>
				        <li><a href="#forums" data-toggle="tab">{Forums}</a></li>
				        <li><a href="#members" data-toggle="tab">Members</a></li>
				    </ul>
					<div id="my-tab-content" class="tab-content">
						<div class="tab-pane active" id="wall">
						    <h2>Wall</h2>
					    	<div class="comment-create">

					    	</div>
						    <ul class="comments-list">

							</ul>
						</div>
						<div class="tab-pane" id="resources">
						    <h2>Resources</h2>
						</div>
						<div class="tab-pane" id="forums">
						    <h2>Forums</h2>
						</div>
						<div class="tab-pane" id="members">
						    <h2>Members</h2>
						    <div id="members-list">

						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>