<p class="description">

	<div id="details-abb">
		<span style="font-weight:bold;">Group Description</span>:
		<span title="<%= Misc %>"><%= getAbbreviation( Misc, 120 ) %></span>
		<a class="more-details" class="blue-text"> (view more)</a>
	</div>
	<div id="details-full">
		<span style="font-weight:bold;">Group Description</span>:
		<span title="<%= Misc %>"><%= Misc %></span>
		<a class="more-details" class="blue-text"> (hide more)</a>
	</div>

</p>
<div>
	<div><span style="font-weight:bold;">Foundation Date</span><span>: <%= Created %></span></div>
	<div><span style="font-weight:bold;">Group Leader</span><span>: <%= CreatorFirstName %> <%= CreatorLastName %></span></div>
</div>

<div class="members">
	<div class="images">
		<ul class="memberAvatars media-list">

		</ul>
	</div>
	<br class="ipad-s">
	<p><%= NumberOfMembers %> members <a id='link-members' class="blue-text">(see all)</a></p>
</div>