<p class="description">

	<div id="details-abb">
		<span style="font-weight:bold;">Group Description</span>:
		<span title="<%= Misc %>"><%= getAbbreviation( Misc, 120 ) %></span>
		<span class="more-details fake-link"> (view more)</span>
	</div>
	<div id="details-full">
		<span style="font-weight:bold;">Group Description</span>:
		<span title="<%= Misc %>"><%= Misc %></span>
		<span class="more-details fake-link"> (hide more)</span>
	</div>

</p>
<div>
	<div><span style="font-weight:bold;">Foundation Date</span><span>: <%= Created %></span></div>
	<div><span style="font-weight:bold;">Group Leader</span><span>: <%= CreatorFirstName %> <%= CreatorLastName %></span></div>
	<div id="groupGoals"><span style="font-weight:bold;">Goals</span><span>: <%= Objectives %></span></div>
</div>
<div class="members">
	<div class="images">
		<ul class="memberAvatars media-list">

		</ul>
	</div>
	<br class="ipad-s">
	<p><%= NumberOfMembers %> members <a id='link-members'>(see all)</a></p>
</div>
