<ul class="nav nav-tabs nav-tabs-right">
	<li>
		<a href="#groups/<%= LicenseId %>/members" id="tab-members">Members</a>
	</li>
	<li>
		<a href="#groups/<%= LicenseId %>/forums" id="tab-forums">Forums</a>
	</li>
	<li>
		<a href="#groups/<%= LicenseId %>/resources" id="tab-resources">Resources</a>
	</li>
	<li class="visible-xs">
		<a href="#groups/<%= LicenseId %>/info" id="tab-info">Info</a>
	</li>

	<% if ( LicenseId === 190198 ) { %>
		<li>
			<a href="http://dev.goreact.com/demo/schoolimprovement/?group=719">Upload Video</a>
		</li>
	<% } %>

	<li>
		<a href="#groups/<%= LicenseId %>/wall" id="tab-wall">Wall</a>
	</li>
</ul>
