<a class="groupDetails" href="selected">
<div class="profile group" style='background:url("http://builtbyhq.com/projects/school/CORE/v1/img/group-bg-4.png"); background-size: contain;'>
	<img style='background:url("http://resources.pd360.com/PD360/uploads/avatars/group/<%- Avatar %>"); background-size: contain; background-color: white;' />
</div>
</a><div class="details"><a class="groupDetails" href="selected">
	<h3><%- getAbbreviation( LicenseName, 15 ) %></h3>
	<p><%- NumberOfMembers %> Members</p>
	<p>Invited by: <%- InviterFullName %></p>
	</a><a class="group-accept" href="selected"><button class="btn-invite-ignore btn btn-primary">Accept</button></a>
	</a><a class="group-ignore" href="selected"><button class="btn-invite-ignore btn btn-link">Ignore</button></a>
</div>
