<a class="js-group-details" href="#groups/<%- LicenseId %>">
	<div class="group-banner-container">
		<img class="group-banner" src="<%- getBrandingPath( BrandingImage ) %>">
	</div>
	<img class="group-avatar" src="<%- getAvatarPath( Avatar ) %>" alt="">
	<div class="details">
		<h4><%- getAbbreviation( LicenseName, 35 ) %></h4>
		<p><%- NumberOfMembers %> Members</p>
		<p>Invited by: <%- InviterFullName %></p>
		<a class="js-group-accept btn btn-primary btn-invite-ignore" href="selected">Accept</a>
		<a class="js-group-ignore btn btn-link btn-invite-ignore" href="selected">Ignore</a>
	</div>
</a>
