<p id="description" class="description">

	<div id="details-abb">
		<strong>Group Description</strong>:
		<span class="group-description"><%- getAbbreviation( Misc, 120 ) %></span>
		<span class="show-more-details fake-link"> (view more)</span>
	</div>
	<div id="details-full">
		<span style="font-weight:bold;">Group Description</span>:
		<span class="group-description"><%- Misc %></span>
		<span class="hide-more-details fake-link"> (hide more)</span>
	</div>

</p>
<div>

	<div>
		<strong>Group Foundation Date</strong>
		<span>: <%- formatDate( Created ) %></span>
	</div>

	<div>
		<strong>Group Last Updated</strong>
		<span>: <%- formatDateAgo( lastUpdated ) %> </span>
	</div>

	<div>
		<strong>Group Leader</strong>
		<span>: <%- CreatorFirstName %> <%- CreatorLastName %></span>
	</div>

	<div id="group-goals">
		<strong>Group Goals</strong>
		<span>: <%- Objectives %></span>
	</div>

</div>
<div class="members">
	<div class="images">
		<ul class="memberAvatars media-list">

		</ul>
	</div>
	<div class="clearfix"></div>
	<p>
		<%- NumberOfMembers %> members <a href="#groups/<%- LicenseId %>/members">(see all)</a>
	</p>
</div>

<div class="memberCount">
	<div>
		<span><%- NumberOfMembers %> members</span>
	</div>
</div>
