
<div class="wrapper">
	<div class="accordion-heading">
		<img class="profile-main" src="http://resources.pd360.com/PD360/uploads/avatars/profile/<%= CreatorAvatar %>">

		<div class="comment-main">
			<p><span class="blue-text"><%= CreatorFullName %></span> <span class="gray-text"><%= Created %></span></p>
			<p><%= Message %><a id="remove-main" style="border: 1px; padding-left:3px;"><span class="glyphicon glyphicon-remove"></span></a></p>
		</div>

		<ul class="reply">

		</ul>

		<div class="container">
			<ul>
				<li class="row">

					<div class="col-md-10">
						<textarea class="comment-reply" rows="1"></textarea>
					</div>
					<div class="col-md-2">
						<button class="reply-submit" type="submit">Post</button>
					</div>

				</li>
			</ul>

		</div>

	</div>

</div>

