
<div class="wrapper">
	<div class="accordion-heading">
		<img class="profile-main" src="http://resources.pd360.com/PD360/uploads/avatars/profile/<%= CreatorAvatar %>">

		<div class="comment-main">
			<p><span class="blue-text"><%= CreatorFullName %></span> <span class="gray-text"><%= Created %></span></p>
			<p><%= Message %></p>
			<button type="button" id="remove-main" class="btn btn-mini remove-btn">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>

		<ul class="reply">

		</ul>

		<div class="container">
			<ul>
				<li class="row">

					<div class="col-md-10">
						<textarea class="comment-reply" rows="1"></textarea>
					</div>
					<div class="col-md-2">
						<button class="reply-submit" type="submit">Post</button>
					</div>

				</li>
			</ul>

		</div>

	</div>

</div>

