#content-navigation-page {

	.cn-header {
		border-top : 1px solid @cn-gray;
		background : @cn-gray-lightest;
		padding    : 1px 10px;
		margin     : 5px 0px;

		ul {
			margin-left   : -40px;
			margin-bottom : 0;

			li {
				width   : auto;
				display : inline-block;

				&:nth-child( 1 ) {
					float        : left;
					margin-top   : 6px;
					margin-right : 7px;

					button {
						padding : 0;
						span {
							padding : 9px 11px;
						}
					}
				}

				&:nth-child( 2 ) {
					margin-top: 7px;
				}

				&:nth-child( 3 ) {
					float      : right;
					margin-top : 6px;
				}
			}
		}
	}

	.cn-contents {
		min-height : 1000px;

		.segment-card-list {
			@media( max-width : @screen-xs-max ) {
				margin-left  : -20px;
				margin-right : 20px;
			}

			margin-left : -55px;

			p.cn-no-results {
				font-size   : 15px;
				margin-top  : 50px;
			}

			li {
				margin-bottom : 30px;
				.sc-segment-content-container {

					height : auto;

					.sc-segment-image-container {
						height : 148px;

						img {
							height : auto;
						}

						.sc-play-container {
							top        : 50%;
							margin-top : -25px;
						}
					}

					.sc-footer-details {
						padding : 1px 10px;

						.sc-info-icon, .sc-watch-later-icon {
							top    : auto;
							bottom : 10px;
						}

						.sc-watch-later-loading-icon {
							top    : auto;
							bottom : 8px;
							right  : 27px;
						}
					}
				}
			}
		}
	}

	.cn-loading {
		padding-left : 28.88888%;
		@media ( max-width : @screen-xs-max ) {
			padding-left : 0;
		}
	}

	.cn-no-results {
		text-align : center;
	}

	.hovered {
		background : @cn-gray-lightest;
		color      : @cn-blue-dark;
	}

	.cn-sidebar-show-wrapper {
		margin-top    : -26px;
		margin-bottom : 20px;
		height        : 42px;

		.cn-sidebar-show {
			cursor        : pointer;

			span {
				margin-top : -26px;
			}

			&.sticky {
				position           : fixed;
				top                : 0;
				left               : 0;
				margin-top         : 0px;
				width              : 100%;
				z-index            : 999;
				box-shadow         : 0px 0px 25px @cn-gray-darker;
				-ms-box-shadow     : 0px 0px 25px @cn-gray-darker;
				-o-box-shadow      : 0px 0px 25px @cn-gray-darker;
				-moz-box-shadow    : 0px 0px 25px @cn-gray-darker;
				-webkit-box-shadow : 0px 0px 25px @cn-gray-darker;
				z-index            : 2000000002;
			}
		}
	}

	//SIDEBAR STYLES
	.cn-sidebar {
		&.affix, &.affix-top, &.affix-bottom {
			@media ( max-width : @screen-xs-max ) {
				position : static;
				top      : 0 !important;
			}
		}

		margin-bottom  : 25px;
		overflow       : hidden;
		@media( max-width : @screen-xs-max ) {
			overflow-y: scroll !important;
			overflow-x: hidden;
		}
		padding-top    : 5px;
		padding-bottom : 5px;
		background     : @cn-white;
		z-index        : 666;

		.btn {
			min-width : inherit;
		}

		@media ( min-width : @screen-sm-min ) {
			max-width : 293px;
		}

		&.affix {
			top : 10px;
		}

		&.sidebar-open {
			@media ( max-width : @screen-xs-max ) {
				position : fixed;
				top      : 0;
				z-index  : 2000000002;
			}
		}


		//SIDEBAR BUTTON PANEL STYLES
		.cn-sidebar-button-panel {
			padding            : 5px 15px;
			position           : fixed;
			top                : 0;
			left               : 0;
			background         : @cn-white;
			width              : 100%;
			z-index            : 1001;
			box-shadow         : 0px 0px 25px @cn-gray;
			-ms-box-shadow     : 0px 0px 25px @cn-gray;
			-o-box-shadow      : 0px 0px 25px @cn-gray;
			-moz-box-shadow    : 0px 0px 25px @cn-gray;
			-webkit-box-shadow : 0px 0px 25px @cn-gray;
		}

		#cn-libraries {
			@media( max-width : @screen-xs-max ) {
				margin-top : 40px;
			}
		}

		.cn-content-filter {
			margin-left : -40px;

			& {
				li {
					.selected {
						&:not( .cn-custom-library ) {
							background  : @cn-gray-lightest;
							color       : @cn-blue-dark;
							font-weight : 600;

							.cn-filter-tick {
								padding : 0px 0px;
								&:before {
									display : inline-block;
								}
							}
						}
					}

					list-style : none;
					cursor : pointer;

					.cn-library-item, .cn-filter-item, .cn-sort-item, .cn-custom-category-item, .cn-uuv-category-item {
						width   : 100%;
						padding : 5px 10px;
					}

					.cn-filter-tick {
						margin-right : 5px;
						padding      : 0px 7px;
						display      : inline-block;

						&:before {
							display : none;
						}
					}

					.cn-filter-item-title {
						width   : ~"calc( 100% - 19px )";
						width   : ~"-moz-calc( 100% - 19px )";
						width   : ~"-webkit-calc( 100% - 19px )";
						width   : ~"-ms-calc( 100% - 19px )";
						width   : ~"-o-calc( 100% - 19px )";
						display : inline-block;
					}

					&.selected:not( .cn-custom-library ) {
						.selected;
					}

				}
			}

			&:not( .nested-list ) {
				li {
					@media ( min-width : @screen-xs-max ) {
						&:hover {
							.hovered;
						}
					}

				}
			}

			&.nested-list {
				li:not( :first-child ) {
					padding-left: 40px;
					@media ( min-width : @screen-xs-max ) {
						&:hover {
							.hovered;
						}
					}
				}

				li:first-child {
					font-weight : 600;
				}
			}

			&.cn-split-filter {
				li {
					width : 50%;

					&.right {
						width       : ~"calc( 50% - 15px )";
						width       : ~"-moz-calc( 50% - 15px )";
						width       : ~"-webkit-calc( 50% - 15px )";
						width       : ~"-ms-calc( 50% - 15px )";
						width       : ~"-o-calc( 50% - 15px )";
						border-left : 1px solid @cn-gray-dark;
						position    : absolute;
						right       : 16px;
					}
				}
			}
		}

		.cn-uuv-category-separator {
			padding-bottom : @cn-base-padding;
			margin-bottom  : @cn-base-margin;
			border-bottom  : 1px solid @cn-gray-dark;
		}

	}
}

.disable-scroll {
	@media ( max-width : @screen-xs-max ) {
		overflow : hidden;
	}
}
