.cn-sidebar-content {
	z-index: 12;
	position: fixed !important;
	background-color : @cn-white;
	top: 162px;
	width : 273px;

	.cn-sidebar-container {
			margin-left : 0 !important;
			position    : relative !important;
			overflow    : hidden !important;

		.cn-filter {

			.cn-header-filter {

				li {
					float          : left;
					margin         : 0 0 0 ( @cn-base-margin / 10 );
					text-align     : left;
					vertical-align : top;
					display        : inline-block;

						&:nth-child( 3 ) {
							float        : right;
							margin-right : @cn-base-margin + 5;
						}
				}

				.cn-collapse-btn {
					margin : @cn-custom-margin2 @cn-base-margin 0 -( ( @cn-base-margin * 2 ) + 3  );
					.border-radius( @cn-base-radius / 3 );

					label {
						margin  : 0;
						padding : ( ( @cn-base-padding * 8 ) / 10 );
					}


				}

				h2 {
					margin-top: @cn-custom-margin2 + 8;
					font-size: 18px;
				}

				.cn-clr-filter-btn {
					margin  : @cn-custom-margin2 0 0 0;
					padding : @cn-base-padding / 2;
					color   : @cn-blue-link;

					.border-radius( @cn-base-radius / 3 );
				}

			}

			.cn-header {
				border-top : @border-top;
				height     : 70px;
				background : @cn-gray-light;
			}

			.cn-content-filter {
				margin       : @cn-base-margin 0;
				float        : left;
				padding-left : 0;
				width        : 100%;

				ul {
					padding-left : 0;
					
					.cn-tree-category {
						margin-left: 20px;	
					}
				}

				.addHighlight{
					label{
						background-color : @cn-gray-light;
						font-weight      : @cn-font-bold - 300;
						color            : @cn-blue-dark;
					}
				}

				li {
					.disable-user-highlight;

					label {
						padding     : ( @cn-base-padding / 2 ) 0px ( @cn-base-padding / 2 ) @cn-base-padding;
						cursor      : pointer;
						width       : 100%;
						font-weight : 300;
					}

				}

			}

		}

		#cn-grades-filter .cn-content-filter{
			li {
				width : 50%;

				&.right {
					margin-left : 50%;
				}

				&:not(.right) {
					border-right : 1px solid @cn-gray-dark;
				}
			}
		}

	}

}


// fix hover for desktop , mobile and tablet

.no-touch .cn-content label:hover {
	color            : @cn-blue-light;
	background-color : transparent;
}

.no-touch .cn-content label:focus {
	background-color : transparent;
}

.no-touch {
  .cn-content-filter {
  	li label:hover {
  		color            : @cn-blue-light;
		background-color : @cn-gray-light;
  	}
  }
}

.touch {
  .cn-content-filter {
  	li label:hover {
  		color :			none;
		background-color :	transparent;
  	}
  }
}
