.cn-header-content {
	height           : 92px;
	background-color : @cn-white;
	top              : 50px !important;
	z-index          : 1029 !important;


	.cn-resource-list {
		text-align      : justify;
		list-style-type : none;
		padding         : 0;

		.cn-li-dropdowns {
			padding-top : 23px;

			ul.cn-dropdowns-container {
				height : 65px;
			}
		}
	}

	.cn-list {
		float          : left;
		text-align     : left;
		vertical-align : top;
	}


	.cn-resources {
		width  : 100%;
		height : 88px;

		.cn-toggle-select {

			.cn-dropdown-menu {
				position        : absolute;
				z-index         : 1000;
				width           : 100%;
				color           : @cn-white !important;
				background      : rgba( 0, 0, 0, 0.85);
				background-clip : initial;
				margin          : ( (@cn-base-margin * 6) + 3 ) 0 0 0;
				padding         : 0;
				font-size       : 18px;

				.border-radius( 0 );
				.box-shadow( none );

				a{
					line-height : 50px;
					color       : @cn-white;
				}

				a:hover {
					background-color : @cn-black;
					color            : @cn-blue-light;
				}
			}

			h1 {
				float : left;
			}

			.btn-resource {
				margin  : @cn-margin-wide 0 0 0;
				float   : right;
				padding : ( ( @cn-base-padding / 5 ) * 4 ) ( ( @cn-base-padding / 5 ) * 4 ) ( @cn-base-padding / 5 ) ( ( @cn-base-padding / 5 ) * 4 );
			}

		}

	}

	.cn-sortby-header , .cn-library-header {

		.cn-library-container , .cn-sortby-container {
			padding  : 0;
			height   : 38px;
			position : relative;
			width    : 222px;
		}

		.cn-library-container {
			float : left;

			label {
				left : -38px;
			}

			button {
				left          : 22px;
				width         : 190px;
				white-space   : nowrap;
				text-overflow : ellipsis;
				overflow      : hidden;

				span.caret {
					left : 173px;
				}
			}

			.dropdown-menu {
				width : 190px !important;
				left  : 22px !important;
			}
		}

		.cn-sortby-container {
			float: right;

			label {
				left : 0;
			}

			button {
				left  : 62px;
				width : 160px;

				span.caret {
					left : 140px;
				}
			}
		}

		.cn-sortby-menu , .cn-library-menu {
			position : absolute;
			top      : 33px;
			left     : 60px;
			.border-radius( 4px );

			span{
				margin-left  : @cn-base-margin;
				margin-right : @cn-base-margin;
				display      : inline-block;
				line-height  : 1.3;
				word-break   : break-word;
			}

			li {
				color: @cn-white;
			}

			li:hover {
				color      : @cn-blue-light;
				background : @cn-black;
				cursor     : pointer;
			}

		}

		button {
			position   : absolute;
			text-align : left;
			top        : 0px;

			span.caret{
				position : absolute;
				top      : 15px;
			}
			span.cn-sortby-category , span.cn-library-category{
				color : @cn-blue-light;
			}
		}

		label {
			position : absolute;
			top      : 8px;
		}

		.dropdown-toggle {
			.border-radius( 4px );
		}

		.dropdown-menu {
			left  : auto;
			right : 0;

			li {
				padding     : 5px;
			}

			span {
				margin-left : @cn-base-margin;
			}
		}

	}
}