.cn-header-content {

	.resource-list {
		text-align      : justify;
		list-style-type : none;
		margin          : 0 0 0 ( @cn-base-margin / -10 );
		padding         : 0;

		.li-resources {
			@media( min-width : @screen-xs-max ) {
				padding-bottom : 5px;
			}
		}

		.li-sortby {
			@media( min-width : @screen-xs-max ) {
				padding-bottom : 5px;
			}
		}
	}

	.list {
		float          : left;
		text-align     : left;
		vertical-align : top;
	}

	.list:first-child {
		margin-left : 15px;
	}

	.cn-resources {
		width : 291px;

		.cn-toggle-select {
			margin-bottom : 21px;

			.cn-dropdown-menu {
				position        : absolute;
				z-index         : 1000;
				width           : 100%;
				color           : @cn-white !important;
				background      : rgba( 0, 0, 0, 0.85);
				background-clip : initial;
				margin          : 63px 0 0 0;
				padding         : 0;
				font-size       : 18px;

				.border-radius( 0 );
				.box-shadow( none );

				a{
					line-height : 50px;
					color       : @cn-white;
				}

				a:hover {
					background-color : @cn-black;
					color            : @cn-blue-light;
				}
			}

			h1 {
				float : left;
			}

			.btn-resource {
				margin  : @cn-margin-wide 0 0 0;
				float   : right;
				padding : ( ( @cn-base-padding / 5 ) * 4 ) ( ( @cn-base-padding / 5 ) * 4 ) ( @cn-base-padding / 5 ) ( ( @cn-base-padding / 5 ) * 4 );
			}

		}

	}

	.cn-sortby {
		padding : 0;
		width   : 276px;
		margin  : ( ( @cn-base-margin * 3 ) / 2 ) 0 @cn-base-margin @cn-custom-margin1;
	}


	.cn-sortby-header {
		top        : 0px;
		height     : 70px;
		background : @cn-gray-light;


		.cn-sortby-menu{
			position : absolute;
			top      : 52px;
			left     : 90px;

			span{
				margin-left : @cn-base-margin;
			}

			li:hover {
				color      : @cn-blue-light;
				background : @cn-gray-light;
				cursor     : pointer;
			}

		}

		button {
			position   : absolute;
			width      : 160px;
			text-align : left;
			position   : 10px;
			top        : 20px;
			left       : 90px;

			span.caret{
				position : absolute;
				left     : 140px;
				top      : 15px;
			}
			span.cn-sortby-category{
				color : @cn-blue-light;
			}
		}

		label {
			position : absolute;
			top      : 28px;
			left     : 30px;
		}

		.dropdown-toggle {
			border-radius : 4px;
		}

		.dropdown-menu {
			left  : auto;
			right : 0;

			@media(min-width : @screen-sm-min ) {
				top    : 55px;
				margin : 2px 26px 0px 0px;
			}

			li {
				padding : 5px;
			}
		}

	}
}
