<!-- Large browsers -->
<div id="<%- id %>-pd360-slide-lg" class="carousel slide visible-lg">
	<div class="carousel-inner-wrapper"></div>
</div>

<!-- Medium browsers -->
<div id="<%- id %>-pd360-slide-md" class="carousel slide visible-md">
	<div class="carousel-inner-wrapper"></div>
</div>

<!-- Small browsers -->
<div id="<%- id %>-pd360-slide-sm" class="carousel slide visible-sm">
	<div class="carousel-inner-wrapper"></div>
</div>

<!-- Extra small browsers -->
<div id="<%- id %>-pd360-slide-xs" class="carousel slide visible-xs">
	<div class="carousel-inner-wrapper"></div>
</div>