<div class="page-header">
	<h2>Create Group</h2>
</div>
<div class="form-container group-creation">
	<form role="form" class="form-horizontal">

		<div class="form-group group-data">
			<label class="control-label col-sm-3" for="inputGroupName">Group Name</label>
			<div class="col-sm-9">
				<input type="text" class="input-validation form-control" id="inputGroupName" placeholder="Enter Group Name" required>
			</div>
		</div>

		<div class="form-group group-data">
			<label class="control-label col-sm-3" for="inputGroupDescription">Group Description</label>
			<div class="col-sm-9">
				<textarea type="text" class="input-validation form-control" id="inputGroupDescription" rows="5" placeholder="Enter Group Description" required></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">Group Logo</label>
			<div class="col-sm-9">
				<div class="logo-upload-select">
					<div id="qq-logo-template">
						<div class="qq-uploader-selector qq-uploader">
				            <div class="qq-upload-button-selector">
				                <div class="btn btn-primary">Choose a file</div>
				            </div>
				            <ul class="qq-upload-list-selector qq-upload-list">
				                <li class="upload-list-item">
				                    <div class="qq-progress-bar-container-selector">
				                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
				                    </div>
				                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
				                    <span class="qq-upload-file-selector qq-upload-file"></span>
				                    <span class="qq-upload-size-selector qq-upload-size"></span>
				                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Remove</a>
				                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				                </li>
				            </ul>
				        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">Cover Photo</label>
			<div class="col-sm-9">
				<div class="banner-upload-select">
					<div id="qq-banner-template">
						<div class="qq-uploader-selector qq-uploader">
				            <div class="qq-upload-button-selector">
				                <div class="btn btn-primary">Choose a file</div>
				            </div>
				            <ul class="qq-upload-list-selector qq-upload-list">
				                <li class="upload-list-item">
				                    <div class="qq-progress-bar-container-selector">
				                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
				                    </div>
				                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
				                    <span class="qq-upload-file-selector qq-upload-file"></span>
				                    <span class="qq-upload-size-selector qq-upload-size"></span>
				                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Remove</a>
				                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				                </li>
				            </ul>
				        </div>
					</div>
				</div>
				<p> Recommended size : 1440 pixels by 320 pixels </p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-3">Privacy</label>
			<div class="col-sm-9">

				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="setGroupPublic" value="0" checked>
						Public
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="setGroupPrivate" value="1">
						Private
					</label>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" value="1" id="setGroupVisibility">
						Hidden
					</label>
				</div>
				<span class="help-block">Public groups allow any user to join at any time. Private groups restrict membership to those users who are approved by group leaders. Hidden groups do not appear in search results.</span>
			</div>
		</div>

		<div class="form-group confirmation-options">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="confirmation-message"><span class="control-label"><b>Are you sure you want to create this group?</b></span></div>
				<button type="button" class="btn btn-default cancel-submit-btn">Cancel</button>
				<button type="submit" class="btn create btn-primary submit-btn ladda-button" data-style="expand-right">Yes</button>
			</div>
		</div>

		<div class="form-group create-options">
			<div class="col-sm-9 col-sm-offset-3">
				<button type="button" class="btn btn-default cancel-btn">Cancel</button>
				<button type="button" class="btn btn-primary create-btn">Create</button>
			</div>
		</div>

</div>
