<div class='fo-content radius-corner <%- completed.color %>'>
	<div class='fo-content-video'>
		<a href='#resources/videos/<%- ContentId %>' >
			<img src='<%- ImageURL %>'>
			<i class='fa fa-play cn-play-icon'></i>
			<p class='cn-play-now'>Play Now</p>
		</a>
	</div>
	<div class='fo-info'>
		<h3 title='<%- ContentName %>'><%- CName %></h3>
		<div class='row'>
			<p class='pull-left'><%- SegmentLength %></p>
			<p class='pull-right'>
				<i class='fa fa-check <%- completed.icon %> text-success'> Done</i>
			</p>
		</div>
	</div>
</div>