<div class='fo-folder-info title-folder radius-corner'>
	<div class='fo-header'>
		<i class='fa fa-info-circle fo-showinfo text-muted pull-right <%- DescIcon %>' data-placement='left'></i>
	</div>
	<div class='fo-title'>
		<a href='#resources/learning/objectives/<%- StateStandardTitle %>/<%- NCESId %>/<%- StateStandardId %>' title='<%- StateStandardTitle %>'>
			<i class='fa fa-folder-open'></i>
			<h3><%- SSTitle %></h3>
		</a>
	</div>
	<div class='fo-overlay-details radius-corner hide' >
	<p class='fo-overlay-title'><%- SSTitle %></p>
	<p class='fo-overlay-description'><%- StateStandardDescription %></p>
    </div>
</div>