<div class="fo-content">
	<div class="fo-content-image">
		<a href="#resources/videos/<%- ContentId %>" >
	    <img src="<%- ImageURL %>" class="img-responsive">
	    <span class="fa fa-play cn-play-icon"></span>
	    <p class="cn-play-now">Play Now</p>
	</a>
	</div>
</div>
<div class="fo-info">
	<h3 title="<%- ContentName %>"><%- CName %></h3>
	<div class="row">
		<p class="col-xs-9 col-sm-8 col-md-8"><%- min %>:<%- sec %></p>
		<p class="col-xs-3 col-sm-4 col-md-4"><%- VCompleted %></p>
	</div>
</div>