//------------------------------
// Make a span look like a link
//------------------------------
span.fake-link {
	color : @brand-primary;
}

span.fake-link:hover {
	text-decoration : underline;
	cursor          : pointer;
}
