.navbar {
	border: 0px;
}

.navbar-brand {
	padding          : 5px 3px 5px 0;
	font-size        : 40px;
	background-color : #8dc73f;

	.navbar-default &:hover, .navbar-default &:focus {
		background-color : #8dc73f;
		color            : #fff;
	}
}

.navbar-static-top {
	// Required for bootstro to work
	z-index : auto;
}

.navbar-nav {
	color: #fff;

	> li > a {
		font-size: 18px;
	}

	> li.active > a {
		background-color: red;
	}
}

// force colors for navbar > @screen-sm-min e.g. anything larger than a phone
@media ( min-width: @screen-sm-min ) {
	.navbar-nav {
		> li > a,
		> .active > a,
		> .disabled > a,
		> .open > a, {
			& {
				color: #fff !important;
				background-color: @pd360-green !important;
			}

			&:hover,
			&:focus {
				background-color: lighten( @pd360-green, 10% ) !important; // @navbar-default-link-hover-bg;
			}
		}

		// User Menu
		> li.user-menu > a {
			&:hover,
			&:focus {
				background-color: @pd360-green-dark !important;
			}
		}

		> li.user-menu.open > a {
			background-color: #000 !important;
			&:hover,
			&:focus {
				background-color: #000 !important;
			}
		}

		.user-menu {
			background-color: @pd360-green-dark !important;

			&.open > a {
				background-color: #000 !important;
			}
		}

	}
}


// Color the navbar green instead of the black, which is used in the dropdowns
@media ( max-width: @screen-xs-max ) {
	.navbar-header {
		background-color: @pd360-green;
	}
	.navbar-collapse {
		max-height : 504px !important;
	}
}

// Color the navbar green instead of the black, which is used in the dropdowns
@media ( min-width: @screen-sm-min ) {
	.navbar-collapse,
	.container-fluid.logged-out {
		background-color: @pd360-green;
	}
}

.dropdown-menu {
	& > li.user-setting {
		padding: 10px 0px 10px 5px;
		font-size: 15px;
	}
}

// --------------------------------
// Notification badge and icon
// --------------------------------
.badge.badge-info {
	&.message-count {
		position      : relative;
		top           : -10px;
		left          : -10px;
		margin-bottom : -10px;
		margin-right  : -10px;
	}

	background-color : @brand-primary;
	font-weight      : normal;
}

.hidden-message {
	display : none;
}

// --------------------------------
// Resource Icons
// --------------------------------
.yamm-content {
	@media ( max-width: @screen-xs-max ) {
		display: table-row;
	}

	// This overrides some of the styles for the resources page
	.resources-list {

		li {
			// Large Screens
			@media ( min-width: @screen-sm-min ) {

				padding: 0 5px;

				a.tile {

					.icon {
						height: 120px;
						width: 120px;
						line-height: 2.4;
					}

					.title {
						color: #fff;
					}

				}

			}

			// Small Screen
			@media ( max-width: @screen-xs-max ) {
				padding: 10px 15px 10px 25px;

				&:hover,
				&:focus {
					background-color: @navbar-default-link-hover-bg;

					a.tile {
						color: @navbar-default-link-hover-color;
						text-decoration: none;
					}
				}

				a.tile {
					color: #fff;

					.title {
						margin-bottom: 0;
					}
				}
			}

		}
	}
}

// --------------------------------
// Search input
// --------------------------------
.search.form-group {
	input {
		.border-left-radius( 15px );
		.border-right-radius( 15px );
	}

	.form-control-feedback {
		color: @gray-light;
	}
}

div.phone-search {
	width: 200px;
	margin: 0 auto;

	form {
		margin: 0;
		padding: 7px 10px 0 0;

		.form-group {
			margin: 0;
		}
	}

	.form-control-feedback {
		top: 0;
	}
}

// --------------------------------
// Navbar toggle
// --------------------------------
.navbar-toggle {
	margin-right     : 0;
	padding          : 0px 20px;
	background-color : #8dc73f;
	border           : 1px solid transparent;
	border-radius    : 0;
	margin           : 0;
	height           : @navbar-height;

	// Bars
	.icon-bar {
		width  : 18px;
		margin : 9px 0;
	}
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

// MENU TO X Animation
/* Change this to watch in slo-mo */
@transition-duration: 0.5s;

@size         : 100%;
@toggled-size : .75;

@bar-width  : 30px;
@bar-height : 4px;

@pagebg : #ffffff;

.navicon-button {
  display     : inline-block;
  position    : relative;
  padding     : 22px 10px !important;
  .transition( @transition-duration/2 );
  cursor      : pointer;
  user-select : none;
  opacity     : .99;
  height      : 50px;

  .navicon:before, .navicon:after {
    .transition( @transition-duration/2 );
  }

  &:hover {
    .transition( @transition-duration );
    opacity    : .95;

    .navicon:before, .navicon:after {
      .transition( @transition-duration/2 );
    }

    .navicon:after { top: -.825rem; }
    .navicon:before { top: .825rem; }
  }
}

.navicon {
  position      : relative;
  width         : @bar-width;
  height        : @bar-height;
  background    : @pagebg;
  .transition( @transition-duration/10 );
  border-radius : @bar-height/2;

  &:after, &:before {
    display       : block;
    content       : "";
    height        : @bar-height;
    width         : @bar-width;
    background    : @pagebg;
    position      : absolute;
    z-index       : -1;
    .transition( @transition-duration );
    border-radius : @bar-height/2;
  }

  &:after { top: -8px; }
  &:before { top: 8px; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

/* × and + */
.user-menu.open {
  .x {
    .navicon {
      background : transparent;

      &:after { .rotate(45deg); }
      &:before { .rotate(-45deg); }
    }
  }
}


