<div class="form-container email-notifications">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-12 col-sm-4"> </div>
			<div class="col-sm-8">
				<div class="col-sm-4 hidden-xs header-display">
					<label>Daily Digest</label>
				</div>

				<div class="col-sm-4 hidden-xs header-display">
					<label>Auto</label>
				</div>
				<div class="col-sm-4 hidden-xs header-display">
					<label>Off</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
				<label class="control-label">Follow-up Question Emails</label>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="radio col-sm-4">
					<input type="radio" name="followUp" value="0" disabled="disabled">
					<label class="hidden-sm hidden-md hidden-lg">Daily Digest</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="followUp" value="1" checked>
					<label class="hidden-sm hidden-md hidden-lg">Auto</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="followUp" value="2">
					<label class="hidden-sm hidden-md hidden-lg">Off</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
				<label class="control-label">Community Subscription Emails</label>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="radio col-sm-4">
					<input type="radio" name="community" value="0" checked>
					<label class="hidden-sm hidden-md hidden-lg">Daily Digest</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="community" value="1">
					<label class="hidden-sm hidden-md hidden-lg">Auto</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="community" value="2">
					<label class="hidden-sm hidden-md hidden-lg">Off</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
				<label class="control-label">Group Leader Emails</label>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="radio col-sm-4">
					<input type="radio" name="groupLeader" value="0" checked>
					<label class="hidden-sm hidden-md hidden-lg">Daily Digest</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="groupLeader" value="1">
					<label class="hidden-sm hidden-md hidden-lg">Auto</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="groupLeader" value="2">
					<label class="hidden-sm hidden-md hidden-lg">Off</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
				<label class="control-label">Group Announcement Emails</label>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="radio col-sm-4">
					<input type="radio" name="groupAnnouncement" value="0" checked>
					<label class="hidden-sm hidden-md hidden-lg">Daily Digest</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="groupAnnouncement" value="1">
					<label class="hidden-sm hidden-md hidden-lg">Auto</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="groupAnnouncement" value="2">
					<label class="hidden-sm hidden-md hidden-lg">Off</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
				<label class="control-label">Course Notification Emails</label>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="radio col-sm-4">
					<input type="radio" name="course" value="0" checked>
					<label class="hidden-sm hidden-md hidden-lg">Daily Digest</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="course" value="1">
					<label class="hidden-sm hidden-md hidden-lg">Auto</label>
				</div>
				<div class="radio col-sm-4">
					<input type="radio" name="course" value="2">
					<label class="hidden-sm hidden-md hidden-lg">Off</label>
				</div>
			</div>
		</div>

		<div class="form-group create-options">
			<div class="col-sm-2 col-sm-offset-5">
				<button type="submit" class="btn btn-primary ladda-button" data-style="expand-right" id="save-settings">Save</button>
			</div>
		</div>
	</form>
</div>