 <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Share this Video</h2>
		<br class="clear">
	</div>
	<div class="modal-body">
		<div class="left-bar">
			<div id="shared-video"></div>
			<br class="clear">
			<div class="message">
				<h3>Message</h3>
				<textarea rows="5" placeholder="Say something about the video..."></textarea>
			</div>
		</div>
		<div class="right-bar">
			<div class="search">
				<input id="search-input" type="text" placeholder="Search...">
				<div id="search-results"></div>
			</div>
			<div id="selected-items"></div>
		</div>
		<br class="clear">
	</div>
	<div class="modal-footer">
		<button class="white-btn" data-dismiss="modal" id="cancel-btn">Cancel</button>
		<button class="blue-btn"  data-dismiss="modal" id="share-btn" disabled="disabled">Share this video</button>
	</div>
</div><!-- /.modal-content -->
