.profile {

	.qq-upload-button {
		margin : auto;
	}

	.qq-upload-button-selector {
		display : inline-block;
	}

	.qq-upload-button-hover {
		text-decoration : underline;
		background      : none;
		color           : #3dadef;
	}

	.password-btn {
		padding-left : 0;
		min-width    : inherit;
	}

}
//override for iphone landscape view
@media screen and ( min-width : 480px ) and( max-width : @screen-xs-max ) and ( orientation : landscape ) {
	.password-modal {
		.modal-header {
			padding : 8px;
		}
		.modal-body {
			padding : 0px 15px 0px 15px;
			.form-container .error-message-container {
				margin-bottom : 1%;
			}
			.form-group {
			 margin-bottom : 0px;
			}
		}
		.modal-footer {
			margin-top : 5px;
			padding    : 7px 15px 8px;
		}
	}
}

.email-notifications {

	@media screen and ( min-width : @screen-sm-min ) {
		input[ type = 'radio' ] {
		    margin-left : ~"calc( 50% - 6px )";
		}

		.line-separator {
			border-bottom  : 1px solid #EFEFEF;
			padding-bottom : 20px;
			padding-top    : 20px;
		}
	}

	.header-display {
		text-align : center;
	}
}
