.lt-hover-transition ( @delay : 500ms ){

	-o-transition         : background-color @delay linear;
	-webkit-transition    : background-color @delay linear;
	-moz-transition       : background-color @delay linear;
	transition            : background-color @delay linear;

}

.lt-color-transition ( @delay : 300ms ){

	-o-transition         : color @delay linear;
	-webkit-transition    : color @delay linear;
	-moz-transition       : color @delay linear;
	transition            : color @delay linear;

}
