.lt-content-processes {

	a {
	   outline : 0;
	}

	.fa {
		font-size      : 16px;
		padding-left   : 10px;
		min-width      : 31px;
		vertical-align : middle;
	}

	.process-name {
		float          : none;
		vertical-align : middle;
		width          : 80%;
		display        : inline-block;
		color          : @lt-light-blue;

		&:hover {
			color : @lt-light-blue-2;
		}

	}

	.empty-task {
		border-top : none;
		font-size  : 14px;
		padding    : 20px;
	}

	.lt-process-table-holder {
		padding : 10px;
	}

	.active {
		border-right  : 1px solid @lt-gray-1;
		border-left   : 1px solid @lt-gray-1;
		border-top    : none;
	}

	.lt-toggle-btn {

		width         : 100%;
		z-index       : 10;
		overflow      : auto;
		display       : block;
		min-height    : inherit;
		padding       : 20px 10px;
		border-bottom : 1px solid @lt-gray-1;
		font-size     : 14px;
		.lt-hover-transition();

		&:hover {
			background : @lt-gray-4;
		}

	}

	.lt-accordion {
		border-top : 1px solid @lt-gray-1;
	}

	.lt-title-holder {
		a > div > i {
			margin-right : 10px;
			padding-left : 20px;
		}

		overflow : hidden;
	}

	.title-active {
		border-bottom  : 1px solid @lt-gray-1;
		padding-bottom : 15px;
	}

	table {
		width  : 100%;
		margin : 10px 0 0 0;

		.process-status-danger {
			border-right: 4px solid @lt-light-red;
		}
		.process-status-success {
			border-right: 4px solid @lt-green;
		}

		tr {

			th {
				text-align: center;
			}

			td {
				border-top: none;
				padding: 5px;
				text-align: center;
			}

			td:first-child {
				border-right: 1px solid @lt-gray-1;
			}

		}
	}

	.step-name {
		text-align : left;
	}
}
