.lt-content-processes {
	
	.empty-task {
		border: 1px solid @lt-gray-1;
	}

	.lt-process-table-holder {
		padding: 10px;
	}

	.process-status-danger {
		border-right: 3px solid @lt-light-red;
	}
	.process-status-success {
		border-right: 3px solid @lt-green;
	}

	.text-danger {
		color: @lt-red;
	}
	.text-success {
		color: @lt-green;
	}

	.active {
		border-right: 1px solid @lt-gray-1;
		border-left: 1px solid @lt-gray-1;
		border-top: none;
		background: @lt-gray-4;
	}

	.drawer {
		display: none;
		width: 100%;
		margin: 0;
		tr {
			border-bottom: 1px solid @lt-gray-1;
			td {
				border-top: none;
				padding: 5px;
				text-align: center;
			}
			td:first-child {
				border-left: 1px solid @lt-gray-1;
				border-right: 1px solid @lt-gray-1;
			}
		}

				
	}
}
