<div class="title-holder">
		<div class="date-link col-xs-11">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%- InternalMessageId %>" class="accordion-tab collapsed col-xs-12">
					<i class="img-link fa <%- status %> col-xs-1"></i>
					<div class="title-wrapper col-xs-11">
						<div class="date "> <%- date %> </div>
						<p class="subject ">
							<%- CreatorFullName %> sent you a message.
						</p>
					</div>
			</a>
		</div>
		<div class="checkbox-link col-xs-1">
			<input type="checkbox" class="checkbox pull-right" />
		</div>
</div>

<div id="collapse<%- InternalMessageId %>" class="panel-collapse collapse">
	<div class="link">
		<a href="<%- link %>"><%- link %></a>
	</div>

	<div class="message">
		<p><%- message %></p>
	</div>
</div>
