//variables for colors
// all color variables should be prefix with pc
@pc-white        : #ffffff;

// gray
@pc-gray-very-dark2 : #262626;
@pc-gray-very-dark  : #303030;
@pc-gray-darkest    : #4b505c;
@pc-gray-darker     : #545965;
@pc-gray-dark       : #b9bcc1;
@pc-gray            : #e1e1e1;
@pc-gray-light      : #d4d4d4;
@pc-gray-lighter    : #ebebeb;
@pc-gray-lightest   : #f3f5f6;

// black
@pc-black         : #000000;
@pc-black-lighter : #333333;
@pc-black-light   : #003300;

//green
@pc-green-lime : #99ffcc;
@pc-green      : #90c844;

@pc-yellow-light  : #e6f2b6;
@pc-blue-light    : #5abef9;
@pc-blue-dark     : #005580;
@pc-purple-medium : #4b505c;

//red
@pc-red : #dd4b39;