//variables for colors
// all color variables should be prefix with pc
@pc-white        : #FFFFFF;

// gray
@pc-gray-darkest  : #4B505C;
@pc-gray-darker   : #545965;
@pc-gray-dark     : #B9BCC1;
@pc-gray          : #E1E1E1;
@pc-gray-light    : #D4D4D4;
@pc-gray-lighter  : #EBEBEB;
@pc-gray-lightest : #F3F5F6;

// black
@pc-black         : #000000;
@pc-black-lighter : #333333;
@pc-black-light   : #003300;

//green
@pc-green-lime : #99FFCC;
@pc-green      : #90C844;

@pc-yellow-light  : #E6F2B6;
@pc-blue-light    : #5ABEF9;
@pc-blue-dark     : #005580;
@pc-purple-medium : #4B505C;

//red
@pc-red : #FF0000;