// *
// Content CSS (Your Queue and Recommended)
//*

.home-container {

	overflow: auto;

	.vid-container {
		padding : 10px 0 25px 0;
	}

	#queued-videos-header,
	#recommended-videos-header {
		height        : 30px;
		margin-bottom : @res-heading;
		position      : relative;
		h2 {
			color : @pc-black-lighter;
		}
		.counter {
			color : @pc-gray-dark;
		}
	}

	h2 {
		font-weight : @font-common;
		margin      : @pc-min;
		padding     : @pc-min;
		font-size   : 24px;
		line-height : 30px;
	}

	//*
	// Lazy Load
	// *
	#load-recommended {
		text-align : center;
		padding    : 10px 0;
		img {
			height : 15px;
			width  : 45px;
		}
	}
	//*
	// Empty View
	//*
	.empty-view {
		margin-top : 75px;
		text-align : center;
		float      : left;
	}
	.empty-queue {
		color: @pc-gray-darkest;
	}

}
