//*
//Content
//*
@media (min-width: 300px) and (max-width: 768px) {
	#Home-page-view {
		#content-display {
			.prevNext {
				display : none !important;
			}
			.vid-thumb-overlay:hover .pc-vid-thumb-bg {
				opacity             : 1 !important;
				transition-duration : none;
			}
			.vid-thumb-overlay:hover  .video-hover {
				display : none !important;
			}
		}
	}
}

@media (min-width: 1200px) {
	.home-container {
		width: 1140px;
	}
}


//*
//Widgets
//*
@media (min-width : 320px) and (max-width: 900px) {
	#Home-page-view {
		#active-widgets {
			ul {
				li {
					width     : 290px;
					padding   : 0 5px;
				}

				.widget-wrapper {
					.description {
						width: 170px;
					}
					i.fa {
						margin: 3px 7px 3px 4px;
					}

					.observation-of-me {
							.observation-name {
								width: 130px;
							}
							.observation-date {
								margin    : 0 7px 0 0;
								font-size : 11px;
							}
						}
						i.fa-play {
							margin: 3px 7px 3px 4px;
						}

						.progress-item {
							.description {
								width: 215px;
							}
						}
				}

				.widget-wrapper.widget-placeholder {
					.widget-placeholder-icon {
						left: 69px;
					}
					.widget-placeholder-desc {
						div {
							bottom: 15%;
							p {
								font-size   : 15px;
								line-height : 20px;
							}
						}
					}
				}

			}

			#yourProfile {
				.your-profile-container {
					padding-top : 0px;
					.percent-holder .profile-str {
						font-size   : 11px;
						line-height : 15px;
					}
				}
				#profile-icons-holder {
					a {
						padding : 0px;
					}
					a > div {
						font-size  : 9px;
						text-align : center;
					}
				}
			}

		}
	}
}

//*
// Widget Configuration Tool
//*
@media ( min-width : 700px ), ( max-width : 800px ) and ( max-width : 960px ) {
	#Home-page-view {
		#widget-settings-wrapper {
			height : 600px;
		}
		ul#widget-settings-selection {
			height : 490px;
		}

		// Preview
		#widget-settings-preview {
			text-align : center;
			.img-thumbnail {
				float         : none;
				margin-bottom : 30px;
			}
			.description {
				margin : auto;
				float  : none;
				p {
					margin-bottom : 30px;
				}
			}
			.actions {
				position : relative;
				button {
					width : 80px;
				}
				.action-close-btn {
					font-size      : 12px;
					height         : 40px;
					padding-top    : 0px;
					padding-bottom : 0px;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.home-container {
		padding-top : 0px !important;
	}
}
@media ( min-width : 1024px ) {
	#Home-page-view {
		// Preview
		#widget-settings-preview {
			.actions {
				button {
					width : 100px;
				}
			}
		}
	}
}

//*
//Billboard
//*
@media (max-width: 700px) {
	#Home-page-view {
		.nivo-caption {
			.billboard-caption {
				max-height : 30px;
				h1 {
					font-size : 16px;
				}
			}
		}
	}
}