//*
//Content
//*
@media (min-width: 300px) and (max-width: 768px) {
	#Home-page-view {
		#content-display {
			.prevNext {
				display : none !important;
			}
			.vid-thumb-overlay:hover .pc-vid-thumb-bg {
				opacity             : 1 !important;
				transition-duration : none;
			}
			.vid-thumb-overlay:hover  .video-hover {
				display : none !important;
			}
		}
	}
}

@media (min-width: 1200px) {
	.home-container {
		width: 1140px;
	}
}

//*
// User Widgets
//*
@media (min-width : 320px) and (max-width: 900px) {
	#Home-page-view {
		#active-widgets {
			ul {

				li {
					width     : 290px;
					padding   : 0 5px;
				}

				.observation-of-me .observation-date {
					margin    : 0 7px 0 0;
					font-size : 11px;
				}

				.widget-description-custom( @width ) {
					height    : 31px;
					max-width : @width
				}

				.progress-item .description {
					.widget-description-custom( 200px )
				}

				.observation-name {
					.widget-description-custom( 130px )
				}

				.group-activity-item .description ,
				.focus-objective-item .description {
					.widget-description-custom( 160px )
				}
			}

			.widget-wrapper.widget-placeholder {
				.widget-placeholder-icon {
					left: 69px;
				}
				.widget-placeholder-desc {
					div {
						bottom: 15%;
						p {
							font-size   : 15px;
							line-height : 20px;
						}
					}
				}
			}

			.footerLink {
				span {
					padding-bottom : 37px;
				}
				i {
					padding-left   : 5px;
					padding-bottom : 6px;
				}
			}

			#yourProfile {
				.your-profile-container {
					padding-top : 0px;
					.percent-holder .profile-str {
						font-size   : 11px;
						line-height : 15px;
					}
				}
				#profile-icons-holder {
					a {
						padding : 0px;
					}
					a > div {
						font-size  : 9px;
						text-align : center;
					}
				}
			}

		}
	}
}

//*
//Billboard
//*
@media (max-width: 700px) {
	#Home-page-view {
		.nivo-caption {
			.billboard-caption {
				max-height : 30px;
				h1 {
					font-size : 16px;
				}
			}
		}
	}
}
