//*
//Content
//*
@media (min-width: 300px) and (max-width: 768px) {
	#Home-page-view {
		#content-display {
			.prevNext {
				display : none !important;
			}
			.vid-thumb-overlay:hover .pc-vid-thumb-bg {
				opacity             : 1 !important;
				transition-duration : none;
			}
			.vid-thumb-overlay:hover  .video-hover {
				display : none !important;
			}
		}
	}
}

@media (min-width: 1200px) {
	.home-container {
		width: 1140px;
	}
}

//*
// User Widgets
//*
@media (min-width : 320px) and (max-width: 900px) {
	#Home-page-view {
		#active-widgets {
			ul {

				li {
					width     : 290px;
					padding   : 0 5px;
				}

				.observation-of-me .observation-date {
					margin    : 0 7px 0 0;
					font-size : 11px;
				}

				.widget-description-custom( @width ) {
					height    : 31px;
					max-width : @width
				}

				.progress-item .description {
					.widget-description-custom( 77% )
				}

				.observation-name {
					.widget-description-custom( 52% )
				}

				.group-activity-item .description ,
				.focus-objective-item .description {
					.widget-description-custom( 58% )
				}
			}

			.widget-wrapper.widget-placeholder {
				.widget-placeholder-icon {
					left: 69px;
				}
				.widget-placeholder-desc {
					div {
						bottom: 15%;
						p {
							font-size   : 15px;
							line-height : 20px;
						}
					}
				}
			}

			#yourProfile {
				.your-profile-container {
					padding-top : 10px;
					.percent-holder .profile-str {
						font-size   : 11px;
						line-height : 15px;
					}
					.prog-circle {
						left : 16%;
					}
				}
				#profile-icons-holder {
					a {
						padding : 0px;
					}
					a > div {
						font-size  : 9px;
						text-align : center;
					}
				}
			}

		}
	}
}

@media ( min-width : 992px ) and ( max-width : 1200px ) {
	#widget-settings-header {
		li {
			margin-right : 20px;
		}
	}
	#widget-settings-selection {
		ul {
			padding : 0px;
		}
	}
	.actions.visible-md button {
		min-width : 130px;
	}
}

@media ( min-width : 768px ) and ( max-width : 992px ) {
	#Home-page-view {
		#widget-settings-wrapper {
			height : 600px;
			#widget-settings-header {
				ul {
					li {
						margin-right : 5px;
					}
				}
			}
			#widget-settings-selection {
				padding : 0 0px 0 0px;
				height  : 490px;
				li:nth-child(3) {
					margin-top : 12px;
				}
			}
			#widget-settings-preview {
				text-align : center;
				.img-thumbnail {
					float : none;
				}
				.description {
					float  : none;
					height : 160px;
				}
				.actions {
					position   : relative;
					margin-top : 30px;
					button {
						min-width : 85px;
						font-size : 20px
					}
					button.action-close-btn {
						font-size      : 14px;
						padding-top    : 4px;
						padding-bottom : 4px;
					}
				}
			}
		}
	}
}

@media ( max-width : 640px ) {
	#Home-page-view {
		#xs-widgets-wrapper {
			border      : 1px solid #e6e8ea;
			#widget-mobile-header {
				text-align   : left;
				padding-left : 22px;
				h4 {
					padding-top : 12px;
					select {
						margin-left : 0px;
					}
				}
			}
			#widget-mobile-actions button {
				margin : 0px 12px;
			}
		}
	}
}

//*
//Billboard
//*
@media (max-width: 700px) {
	#Home-page-view {
		.nivo-caption {
			.billboard-caption {
				max-height : 30px;
				h1 {
					font-size : 16px;
				}
			}
		}
	}
}
