//*
// Variables
// *
@import "colors.less";
@import "variables.less";


// *
// Components
// *
@import "nivo.less";
@import "spinner.less";
@import "progressCircle.less";
@import "widgets.less";
@import "content.less";

#Home-page-view {

	padding : 0;
	margin-top  : 60px;

	.no-padding{
		padding: @min;
	}

	p {
		font-size   : 15px;
		font-weight : normal;
		line-height : 28px;
	}


	// ** What-to-do-next  & Content(Recommended  & My Queue)
	// ** for carousel
	#user-widgets, #content-display{
		.prevNext {
			background  : url("../img/left-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);
			border      : 0 none;
			cursor      : pointer;
			display     : none;
			height      : @fifty-px;
			left        : 0;
			margin-top  : @prev-next-margin-top;
			position    : absolute;
			text-indent : -9999px;
			top         : 0;
			width       : @fifty-px;
			z-index     : 10000;
		}
		.nextLink {
			background : url('../img/left-arrow-right.png') no-repeat center center rgba(0,0,0,.1);
			right      : 0;
			left       : auto;
		}
	}

	/**
	 * GENERAL
	 */
	.clear {
		clear : both;
	}
	.section-container, #content-display {
		clear     : both;
		margin    : auto;
	}

	*:before, *:after {
	  -moz-box-sizing: border-box;
	}

}