@import "styleColors.less";

//separate file for colors
@max-percent : 100%;
@min         : 0;
@padd        : 1em;

//wide resource container
@wide-max-width : 1200px;

//resource list
@res-heading    : 20px;
@res-lst-bottom : 50px;

//video
@vid-thumb-top-mar : 20px;
@vid-thumb-top-par : 5px;
@vid-thumb-left    : 25px;
@vid-z-index       : 1000;

//list grid box
@grid-bottom-right : 32px;

//Font
@font-common     : 300;
@font-fam-common : 'Avenir LT W01 65 Medium', 'AvenirLTW01-65MediumObl', 'Avenir LT W01 85 Heavy', 'AvenirLTW01-85HeavyObli', 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;

.clear {
	clear : both;
}
.wide-container {
	margin    : @min auto;
	max-width : @wide-max-width;
}
.resource-list-heading {
	height        : 30px;
	margin-bottom : @res-heading;
	width         : @max-percent;
	padding-left  : 13px;
	h2 {
		color: #b9bcc1;
		#queue-header, #recommended-header {
			color: #333333;
		}
	}
}

//mixins for heading
.heading-settings() {
	font-weight : @font-common;
	margin      : @min;
	padding     : @min;
}
h1 {
	.heading-settings;
}
h2 {
	.heading-settings;
	font-size   : 24px;
	line-height : 30px;
}
h3 {
	.heading-settings;
	font-size   : 18px;
	line-height : 24px;
}
.resources {
	h2 {
		float : left;
	}
	ul {
		margin-bottom : @res-lst-bottom;
		min-height    : 300px;
	}
}
.view-more {
	float : right;
}
.vid-thumb {
	height : 276px;
	position : relative;
	h3 {
		margin : @vid-thumb-top-mar @min @min @vid-thumb-left;
	}
	p {
		color  : @gray;
		margin : @vid-thumb-top-par @min @min @vid-thumb-left;
	}
}
a {
	color           : @blue-light;
	text-decoration : none;
}
ul {
	list-style-type : none;
	margin          : @min;
	padding         : @min;
}
li.grid-box {
	box-shadow    : @min 1px 1px rgba(32, 37, 35, 0.2);
	border-radius : 3px;
	background    : none repeat scroll @min @min @white;
	float         : left;
	margin        : @min @grid-bottom-right @grid-bottom-right @min;
	width         : 276px;
}
.login-form input, .blue-btn, .green-btn {
	border-radius : 3px;
}
.play-now {
	display  : none;
	left     : 57px;
	position : absolute;
	top      : 73px;
	z-index  : @vid-z-index;
}
.content-button {
	background-image    : url( '../img/watch-later-icon.png' );
	background-repeat   : no-repeat;
	background-position : center;
	padding             : 13px;
	margin-right        : 14px;
	border              : 1px solid #F3F5F6;
	border-radius       : 4px;
	cursor              : pointer;
}
.content-button.remove-from-queue, .content-button.recommended-remove-from-queue {
	background-image : url( '../img/remove-from-queue-icon.png' );
	border           : 1px solid #3DADEF;
}
.content-button:hover {
	border : 1px solid #CCC;
}
.vid-thumb-bg, .video-hover {
	width                      : 100%;
	height                     : 188px;
	overflow                   : hidden;
	border-top-left-radius     : 3px;
	border-top-right-radius    : 3px;
	cursor                     : pointer;
	position                   : relative;
	img {
		height      : 100%;
		width       : auto;
		max-width   : none;
		margin-left : -6px;
	}
}
.vid-thumb {
	text-align : left;
}
p {
	font-size   : 15px;
	font-weight : normal;
	line-height : 28px;
}
.section-container, #content-display {
	clear     : both;
	max-width : 1224px;
	margin    : auto;
}
#slider {
	height    : 480px;
}
#active-widgets.three-box-container {
	height    : 433px;
	max-width : 1224px;
	overflow      : hidden;
	text-align    : center;
	margin        : auto;
	text-align    : center;
	margin-bottom : 20px;
	position      : relative;

}
#Home-page-view {
	margin-top : 60px;
	.three-box {
		display : inline-block;
		height  : 318px;
		margin  : auto;
	}
	.three-box li, li.ui-sortable-helper {
		width              : 364px;
		float              : left;
		height             : 400px;
		border-radius      : 3px;
		-webkit-box-shadow : 0 0px 3px rgba(25,28,26,.15);
		-moz-box-shadow    : 0 0px 3px rgba(25,28,26,.15);
		box-shadow         : 0 0px 3px rgba(25,28,26,.15);
		background         : @white ;
		list-style         : none;
	}
	.three-box, li.ui-sortable-helper {
		.header {
			background : @lighter-grey;
			padding    : 23px 0;
			text-align : center;
			font-size  : 18px;
		}
		.item {
	/*		width      : 92%;
			height     : 25px;
			border-top : 1px solid @light-grey;
			padding    : 15px 4%;*/
			p {
				float : left;
				color : @gray;
			}
			img {
				float : right;
			}
		}
		.content {
			border-top : 1px solid @light-grey;
			width      : 100%;
			padding    : 0;
			margin     : 0;
			.profile-str {
				width       : 50%;
				float       : left;
				margin      : 0;
				font-size   : 15px;
				padding     : 20px 5%;
				text-align  : left;
				line-height : 26px;
				white-space : normal;
			}
			.profile-percent {
				display : inline-block;
				padding : 25px 0;
				width   : 35%;
			}
		}
		.item-container {
			/* height : 165px; edited for tests */
			height    : 277px;
			overflow  : hidden;
		}
	}
}

.profile-str {
	color : @gray;
}
*:before, *:after {
  -moz-box-sizing: border-box;
}
.item.footer {
	text-align: left;
}
#videos {
	text-align : center;
	ul {
		display: inline-block;
	}
}
#peek {
	width            : 200px;
	float            : right;
	position         : absolute;
	left             : -205px;
	background-color : @green-lime;
	opacity          : .75;
	padding          : @padd;
	color            : @black-light;
	font-family      : @font-fam-common;
	font-weight      : @font-common;
	z-index          : 100;
}
.lLink {
	text-decoration : none !important;
}

/* Progress Circle */
.borderRadius () {
	-webkit-border-radius : 50%;
	-moz-border-radius    : 50%;
	-ms-border-radius     : 50%;
	-o-border-radius      : 50%;
	border-radius         : 50%;
}
.prog-circle {
	position              : relative;
	font-size             : 120px;
	width                 : @padd;
	height                : @padd;
	float                 : left;
	margin                : 0 0.1em 0.1em 0;
	background-color      : @yellow-light;
	.borderRadius;
	.slice {
		position : absolute;
		width    : @padd;
		height   : @padd;
		clip     : rect(0em, @padd, @padd, 0.5em);
	}
	.slice.clipauto {
		clip : rect(auto, auto, auto, auto);
	}
	.fill, .bar {
		position              : absolute;
		border                : 0.08em solid @green;
		width                 : 0.84em;
		height                : 0.84em;
		clip                  : rect(0em, .5em, @padd, 0em);
		-webkit-transform     : rotate(20deg);
		-moz-transform        : rotate(20deg);
		-ms-transform         : rotate(20deg);
		-o-transform          : rotate(20deg);
		transform             : rotate(20deg);
		.borderRadius;
	}
	.percenttext {
		position                           : absolute;
		width                              : 100%;
		height                             : @padd;
		z-index                            : 1;
		margin                             : auto;
		top                                : 0;
		left                               : 0;
		right                              : 0;
		bottom                             : 0;
		font-size                          : 0.3em;
		color                              : @green;
		display                            : block;
		text-align                         : center;
		white-space                        : nowrap;
		line-height                        : 100%;
		-webkit-transition-duration        : 0.2s;
		-moz-transition-duration           : 0.2s;
		-o-transition-duration             : 0.2s;
		transition-duration                : 0.2s;
		-webkit-transition-timing-function : ease-out;
		-moz-transition-timing-function    : ease-out;
		-o-transition-timing-function      : ease-out;
		transition-timing-function         : ease-out;
	}
	.after {
		position              : absolute;
		top                   : 0.08em;
		left                  : 0.08em;
		display               : block;
		background-color      : @white;
		width                 : 0.84em;
		height                : 0.84em;
		.borderRadius;
	}
}

/* Learning Targets Widget */


.learningTarget {
	a {
		display     : inline-block;
		float       : right;
		height      : 25px;
		text-indent : -9999px;
		width       : 25px;
	}
	a.learningvideo {
		background: url(../img/green-play.png) no-repeat;
	}
}

/* The Nivo Slider styles */
.nivo-slider {
	position   : relative;
	width      : auto;
	height     : 469px;
	background : @white url(../img/loading.gif) no-repeat 50% 50%;
	overflow   : hidden;
	img {
		position  : absolute;
		top       : 0px;
		left      : 0px;
		max-width : none;
	}
	/* If an image is wrapped in a link */
	a.nivo-imageLink {
		position   : absolute;
		top        : 0px;
		left       : 0px;
		width      : 100%;
		height     : 100%;
		border     : 0;
		padding    : 0;
		margin     : 0;
		z-index    : 6;
		display    : none;
		background : white;
		filter     : alpha(opacity=0);
		opacity    : 0;
	}
}
.nivo-main-image {
	display  : block !important;
	position : relative !important;
	width    : 100% !important;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display  : block;
	position : absolute;
	z-index  : 5;
	height   : 100%;
	top      : 0;
}
.nivo-box {
	display  : block;
	position : absolute;
	z-index  : 5;
	overflow : hidden;
	img {
		display : block;
	}
	.billboard-caption-text {
		width       : 360px;
		text-align  : left;
		margin-left : 50px;
		min-height  : 100px;
		max-height  : 140px;
	}
}

/* Caption styles */
.nivo-caption {
	position           : absolute;
	left               : 0px;
	bottom             : 70px;
	color              : @white;
	width              : 100%;
	z-index            : 8;
	padding            : 5px 10px;
	opacity            : 0.8;
	overflow           : hidden;
	display            : none;
	text-align         : center;
	-moz-opacity       : 0.8;
	filter             : alpha(opacity=8);
	-webkit-box-sizing : border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing    : border-box;    /* Firefox, other Gecko */
	box-sizing         : border-box;         /* Opera/IE 8+ */
	p {
		padding:5px;
		margin:0;
	}
	a {
		display : inline !important;
	}
}
.billboard-caption-text {
	width       : 360px;
	margin-left : 20px;
	text-align  : left;
	height      : 120px;
	overflow    : hidden;
}
.nivo-html-caption {
    display : none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav {
	a {
	position           : absolute;
	top                : 45%;
	z-index            : 9;
	cursor             : pointer;
	display            : block;
	width              : 17px;
	height             : 30px;
	background         : url(../img/slider-arrows.png) no-repeat;
	text-indent        : -9999px;
	border             : 0;
	opacity            : 0;
	-webkit-transition : all 200ms ease-in-out;
    -moz-transition  : all 200ms ease-in-out;
    -o-transition    : all 200ms ease-in-out;
    transition       : all 200ms ease-in-out;
	}
}
a.nivo-nextNav {
	background-position : -18px 0;
	right               : 15px;
}
a.nivo-prevNav {
	left:15px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align : center;
	margin-top : 20px;
	position   : relative;
	z-index    : 10;
	display    : inline-block;
	a {
		cursor        : pointer;
		display       : inline-block;
		text-indent   : -9999px;
		width         : 10px;
		height        : 10px;
		border        : 1px solid #333333;
		border-radius : 5px;
		margin        : 0 3px;
		opacity       : .5;
	}
	a.active {
		font-weight : bold;
		opacity     : 1;
		background  : #333333;
	}
}
.slider-wrapper {
	text-align : center;
}
.slider-wrapper:hover .nivo-directionNav a { opacity: 1; }
.nivo-caption a.videoplay {
	text-indent    : -9999px;
	width          : 100%;
	height         : 124px;
	background     : url(../img/play.png) no-repeat top center;
	display        : inline-block !important;
	padding-bottom : 53px;
}
.nivo-caption h1 {
	font-size   : 24px;
	line-height : 30px;
}
span.green {
	color : @green;
}

/* Widgets */

.block-hide{
	display : none;
}
#widgetscontainer {
	width: 100%;
}
#widget-settings {
	display        : inline-block;
	width          : 20px;
	height         : 20px;
	vertical-align : middle;
	background     : url(../img/settings.png) 20px;
	margin         : 0px 10px 5px;
	cursor         : pointer;
}
#widget-settings.active, #widget-settings:hover {
	background-position: 0px;
}
#inactive-widgets {
	overflow : hidden;
	margin   : 0 auto;
	position : relative;
	ul {
		margin-bottom : 0px;
		position      : relative;
		white-space   : nowrap;
		height        : 420px;
	}
}
#active-widgets ul {
	margin-bottom: 0px;
	white-space  : nowrap;
	height       : auto;
	padding-left : 3px;
}
.arrow-up {
	width         : 0px;
	height        : 0px;
	border-left   : 20px solid transparent;
	border-right  : 20px solid transparent;
	border-bottom : 20px solid #fff;
	position      : relative;
	display       : none;
}
.fore.arrow-up {
	z-index : 100;
	left    : 185px;
}
.back.arrow-up {
	border-bottom : 21px solid rgba(0,0,0,.1);
	z-index       : 99;
	border-left   : 21px solid transparent;
	border-right  : 21px solid transparent;
	margin-top    : -22px;
	left          : 184px;
	dipslay       : none;
}
#inactive-holder {
	margin-top            : -15px;
	max-width             : 1224px;
	margin                : 0 auto;
	border                : 1px solid rgba(0,0,0,.1);
	-webkit-border-radius : 12px;
	-moz-border-radius    : 12px;
	border-radius         : 12px;
	-moz-box-shadow       : 0px 0px 5px rgba(0,0,0,.2);
	-webkit-box-shadow    : 0px 0px 5px rgba(0,0,0,.2);
	box-shadow            : 0px 0px 5px rgba(0,0,0,.2);
	padding               : 20px 25px;
	margin-bottom         : 20px;
	position              : relative;
	display               : none;
}
#active-widget ul.three-box li > div:nth-child(2), #inactive-holder .three-box .item-container {
	overflow : hidden;
	/* height : 168px; edited for tests */
	height   : 280px;
	position : relative;
}
.scrolling, .item-container.scrollable {
	width: 378px;
}
#inactive-holder.ps-container .ps-scrollbar-x-rail {
	position: relative;
	z-index: 2000;
}
.ps-container.hideScroll .ps-scrollbar-x-rail, .ps-container.hideScroll .ps-scrollbar-y-rail {
	display: none !important;
}
.hideme {
	margin-top: -15px;
}
.delete-widget {
	position    : absolute;
	display     : inline-block;
	text-indent : -9999px;
	height      : 30px;
	width       : 30px;
	background  : url(../img/delete.png);
	top         : -15px;
	right       : -10px;
	cursor      : pointer;
}
#active-widgets li, #inactive-widgets li {
	position : relative;
	margin   : 20px 8px 10px;
}

#active-widgets ul, #inactive-widgets ul {
	width: 450px;
}
ul.ui-sortable {
	cursor : pointer;
}
ul.ui-sortable.ul-sortable-disabled {
	cursor : auto;
}
/*! jQuery UI - v1.10.4 - 2014-02-24 Includes: jquery.ui.core.css, jquery.ui.tooltip.css */
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px @gray;box-shadow:0 0 5px @gray}body .ui-tooltip{border-width:2px}
.ui-tooltip {
	background    : @white;
	color         : @gray;
	padding       : 0;
	opacity       : 1;
	font-size     : 12px;
	line-height   : 12px;
	border-radius : 3px;
}
.ui-tooltip-content {
	position : relative;
	padding  : 5px;
}
#content-display {
	> div {
		position : relative;
		width    :    1224px;
		display  :  block;
		overflow : hidden;
	}
	ul {
		margin-bottom: 50px;
		min-height: 300px;
	}
	.prevNext {
		cursor      : pointer;
		width       : 30px;
		height      : 30px;
		background  : url(../img/arrows-grey.png) no-repeat;
		text-indent : -9999px;
		border      : 0;
		z-index     : 10000;
		position    : absolute;
		display     : inline-block;
		bottom      : 150px;
		left        : 0;
	}
	#next-slide {
		background-position :-30px 0;
		right               : 0;
		left                : auto;
	}
	li.grid-box {
		width              : 276px;
		margin             : 15px;
		min-height         : 50px;
		-webkit-box-shadow : 0 0px 2px rgba(32,37,35,.3);
		-moz-box-shadow    : 0 0px 2px rgba(32,37,35,.3);
		box-shadow         : 0 0px 2px rgba(32,37,35,.3);
		background         : #f3f5f6;
	}
}



#user-widgets, #content-display{
	.prevNext {
		background  : url("../img/left-arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);
		border      : 0 none;
		cursor      : pointer;
		display     : none;
		height      : 50px;
		left        : 0;
		margin-top  : 15%;
		position    : absolute;
		text-indent : -9999px;
		top         : 0;
		width       : 50px;
		z-index     : 10000;
	}
	.nextLink {
		background : url('../img/left-arrow-right.png') no-repeat center center rgba(0,0,0,.1);
		right      : 0;
		left       : auto;
	}
}
#inactive-holder > div:hover .prevNext,
#active-holder > div:hover .prevNext,
#content-display > div:hover .prevNext {
	display: inline-block;
}
.vid-thumb-overlay .video-hover {
	background : url("../img/play-video-now.png") no-repeat scroll center center rgba(0, 0, 0, 0.5);
	position   : absolute;
	top        : 0;
	display    : none;
}
.vid-thumb-overlay:hover .video-hover {
	display: inline-block;
}
.spinner {
	position : absolute;
	left     : 50%;
	top      : 50%;
}
