#Home-page-view {

	// *
	//  Widgets
	// *

	.three-box-container( @height ) {
		position   : relative;
		min-height : @height;
	}

	.widget-wrapper {
		margin                : 0 10px;
		border                : 1px solid @pc-gray-lighter;
		height                : inherit;
		.pc-border-radius ( 5px );
	}
	.widget-wrapper.widget-placeholder {
		position : relative;
		.widget-placeholder-icon {
			background-image : url( 'http://i1292.photobucket.com/albums/b563/blabbermouth2011/widget-placeholder_zpse9626e25.png' );
			width            : 121px;
			height           : 132px;
			position         : absolute;
			top              : 33%;
			z-index          : 1;
			left             : 31%;
		}
		.widget-placeholder-title {
			background-color : #dedfe0;
			height           : 200px;
			color            : #FFF;
			text-align       : center;
			font-size        : 40px;
		}
		.widget-placeholder-desc {
			background-color : #eceeee;
			height           : 200px;
			position         : relative;
			text-align       : center;
			div {
				position : absolute;
				bottom   : 27%;
				left     : 9%;
				color    : #cccccc;
				p#awesomeness {
					cursor : pointer;
				}
				p#awesomeness:hover {
					color : #5abef9;
				}
			}
		}
	}

	div.widget-item:hover{
		background-color: @pc-gray-lightest;
	}
	#active-holder {
		overflow : hidden;

		.three-box-container {
			.three-box-container( 433px );
		}
	}

	//Group Activity

	.group-activity-item, .focus-objective-item, .courses-item, .progress-item  {
		height   : 35px;
		overflow : hidden;
		div {
			overflow       : hidden;
			display        : inline-block;
			vertical-align : top;
		}
		.thumb {
			width  : 35px;
			height : 35px;
			margin : 0 10px 0 13px;
			img {
				width       : 35px;
			}
		}
		.description {
			width : 245px;
			p {
				padding: 0;
			}
		}
	}
	.progress-item {
		.description {
			width : 285px;
			margin-left: 13px;
		}
		.progress-circle-item {
			width  : 35px;
			margin : 0 10px;
		}
	}

	.focus-objective-item {
		.thumb {
			width  : 35px;
			height : 35px;
			margin : 0 10px 0 13px;
			img {
				height : 35px;
				width  : auto;
			}
		}
	}
	#yourProfile{
		.your-profile-container{

		padding:15px;
		width:100%;
		height:70%;

		.avatar-holder {

			float:left;
			width:45%;
			padding:0px;

				img {

				border:1px solid #ccc;
				max-width:100px;
				float:none;

			}
		}

		.percent-holder {

			float:left;
			width:55%;

			#your-profile-circle {

				float:none;
				padding:0px 0px 0px 0px;
				max-width:100%;
				text-align:center;

			}
			.profile-str{

				padding:0px;
				float:none;
				width:100%;
				font-size:11px;
				line-height:20px;

			}
		}
	}
}

#profile-icons-holder{
	padding: 10px;
	width: 265px;
	text-align: center;
	margin: auto 10px auto 10px;
	.your-profile-icons{
		position : relative;
	span{
			bottom   : -35px;
			left     : 0;
			margin   : auto;
			position : absolute;
			width    : 100%;
			font-size: 12px;
		}
	}
	a{
 	  border : 1px solid #CCCCCC;
    float  : left;
    height : 50px;
    margin : 30px 15px;
    width  : 50px;
    color  : #3DADEF;
  }
	a:hover{
		background-position : -12px -88px;
		color               : #005580;
	}
	.user{
		background : #ccc url('../img/icon-users.png') no-repeat -12px -13px;
	}
	.setting{
		background : #ccc url('../img/icon-settings.png') no-repeat -12px -13px;
		span{
		left: 0px !important;
		}
	}
	.content{
		background : #ccc url('../img/icon-contents.png') no-repeat -12px -13px;
	}
	.the-clearer{
		clear : both;
	}
}
	#inactive-holder {
		margin-top            : -15px;
		margin                : @pc-min auto;
		border                : 1px solid rgba(0,0,0,.1);
		-moz-box-shadow       : 0px 0px 5px rgba(0,0,0,.2);
		-webkit-box-shadow    : 0px 0px 5px rgba(0,0,0,.2);
		box-shadow            : 0px 0px 5px rgba(0,0,0,.2);
		padding               : 20px 18px;
		margin-bottom         : 20px;
		position              : relative;
		display               : none;
		overflow              : hidden;

		.pc-border-radius( 12px );
		.three-box-container {
			.three-box-container( 300px );
		}
	}

	#active-widgets, #inactive-widgets  {
		width: inherit;

		ul {
			width       : inherit;
			height      : inherit;
			margin-top  : 20px;
			margin-left : -4px;
			list-style  : none;
		}

		li p {
			margin      : 0px;
			line-height : 35px;
		}

		//widget header
		.header {
			background : @pc-gray-lightest;
			padding    : 23px 0;
			text-align : center;
			font-size  : 18px;
		}

		//item container or body
		.item-container {
			height : 280px;
		}
		.item-container-inactive {
			height : 165px;
		}

		.item-container, .item-container-inactive {
			overflow: hidden;

			> div {
				border-top : 1px solid @pc-gray-lighter;
				padding : 10px 0;

				//Todo much better that image to be scaled should have a class
				a > img, .icons {
					height : 25px;
					width  : 25px;
				}
			}
		}

		//widget footer
		.footer {
			border-top : 1px solid @pc-gray-lighter;
			padding    : 14px 0 14px 14px;
		}
	}

	#active-widgets {
		ul {
			margin-left : 0px;
			li {
				width          : 380px;
				padding-bottom : 20px;
				display        : inline-block;
			}
		}
		i.fa {
			font-size     : 13px;
			color         : #FFFFFF;
			background    : #00A8FF;
			padding       : 7px 0 0 9px;
			height        : 26px;
			border-radius : 13px;
			width         : 26px;
			margin        : 3px 10px;
		}
		a:hover {
			i.fa {
			}
		}
	}

	//display if hovered
	#inactive-holder > div:hover .prevNext,
	#active-holder > div:hover .prevNext {
		display : inline-block;
	}

	.block-hide{
		display : none;
	}

	#widget-settings {
		display        : inline-block;
		width          : 20px;
		height         : 20px;
		vertical-align : middle;
		background     : url(../img/settings.png) 20px;
		margin         : 0px 10px 5px;
		cursor         : pointer;
	}

	#widget-settings.active, #widget-settings:hover {
		background-position : 0px;
	}

	#inactive-widgets {
		margin   : @pc-min auto;
		position : relative;
	}

	.arrow-up {
		width         : 0px;
		height        : 0px;
		border-left   : 20px solid transparent;
		border-right  : 20px solid transparent;
		border-bottom : 20px solid #fff;
		position      : relative;
		display       : none;
	}
	.fore.arrow-up {
		z-index : 100;
		left    : 185px;
	}
	.back.arrow-up {
		border-bottom : 21px solid rgba(0,0,0,.1);
		z-index       : 99;
		border-left   : 21px solid transparent;
		border-right  : 21px solid transparent;
		margin-top    : -22px;
		left          : 184px;
		dipslay       : none;
	}
	.hideme {
		margin-top: -15px;
	}
	.delete-widget {
		position    : absolute;
		display     : inline-block;
		text-indent : -9999px;
		height      : 30px;
		width       : 30px;
		background  : url(../img/delete.png);
		top         : -15px;
		right       : 6px;
		cursor      : pointer;
	}

	// Widget settings panel
	#widgets-settings-panel {
		background-color : #2b2d30;
		margin           : auto;
		color            : #FFF;
		padding-bottom   : 5px;
		padding-top      : 1px;
	}
	#widget-settings-header {
		margin     : auto;
		margin-top : 12px;
	}
	#widget-settings-header ul {
		border-bottom : 1px solid;
	}
	#widget-settings-header .main:hover {
		border : none;
		color  : #FFF;
		cursor : auto;
	}
	#widget-settings-header ul {
		padding : 0px 40px;
	}
	#widget-settings-header ul li {
		padding-bottom : 15px;
		margin-right   : -5px;
		cursor         : pointer;
	}
	#widget-settings-header ul li:hover {
		color : #3dadef;
	}
	#widget-settings-header .selected {
		color         : #3dadef;
		border-bottom : 5px solid #3dadef;
	}
	#widget-settings-content {
		padding-top : 20px;
		height      : 400px;
	}
	#widget-settings-selection {
		text-align   : center;
		margin       : auto;
		height       : 380px;
		padding      : 0 20px 0 40px;
		border-right : 2px solid #7d7d7d;
	}
	#widget-settings-selection li {
		border     : 1px solid;
		display    : inline-table;
		width      : 115px;
		height     : 144px;
		margin     : 12px;
		text-align : center;
		cursor     : pointer;
		position   : relative;
	}
	#widget-settings-selection li .widget-icon-btn {
		border           : 3px solid #FFF;
		background-color : #3cacee;
		font-weight      : bold;
		padding          : 4px;
		z-index          : 2;
		position         : relative;
		margin-top       : -8px;
		margin-right     : -7px;
	}
	#widget-settings-selection li .inactive.widget-icon-btn {
		background-color : #c2c2c2;
	}
	#widget-settings-selection li:first-child, #widget-settings-selection li:nth-child(2), #widget-settings-selection li:nth-child(3) {
		margin-top : 0px;
	}
	#widget-settings-selection li #widget-sequence-overlay {
		background-color : #3dadef;
		opacity          : 0.3;
		font-size        : 100px;
		position         : absolute;
		width            : 113px;
		height           : 142px;
	}
	#widget-settings-selection li #widget-sequence-overlay.img-thumbnail, #widget-settings-selection li.img-thumbnail  {
		padding : 0px;
		border  : 1px solid #2b2d30;
	}
	#widget-name {
		background-color        : #3fa7f9;
		position                : absolute;
		width                   : 113px;
		z-index                 : 1;
		padding                 : 6px 5px;
		font-size               : 11px;
		bottom                  : 0;
		.pc-border-radius ( 3px );
		border-top-right-radius : 0px;
		border-top-left-radius  : 0px;
	}
	#widget-settings-preview {
		padding    : 0 30px;
		height     : 380px;
	}
	#widget-settings-preview .img-thumbnail {
		width         : 180px;
		height        : 180px;
		margin-bottom : 28px;
		float         : left;
	}
	#widget-settings-preview #widget-limit-message {
		display    : none;
		width      : 423px;
		text-align : center;
	}
	#widget-settings-preview .description {
		float  : left;
		margin : 0px 30px;
	}
	#widget-settings-preview .actions {
		clear         : both;
		position      : absolute;
		bottom        : 0;
		margin-bottom : 20px;
	}
	#widget-settings-preview .actions button {
		width   : 130px;
		padding : 10px;
		margin  : 10px 5px;
		color   : #FFF;
	}
	#widget-settings-preview .actions button.cancel {
		background-color : transparent;
	}
	#widget-settings-preview .actions button.save, #widget-settings-preview .actions button.remove {
		background-color : #7d818b;
	}
	#widget-settings-preview .actions button.save:hover, #widget-settings-preview .actions button.remove:hover {
		background-color : #757880;
		border           : 1px solid #6a6d74;
	}

}