#Home-page-view {

	// *
	//  Widgetspanel
	// *

	// Color Declaration
	@widgetblue     : #3DADEF;
	@widgetdarkblue : #005580;

	// Variable declaration
	.bg-img-trans() {
		-webkit-transition : background-image 0.2s ease-in-out;
		-moz-transition    : background-image 0.2s ease-in-out;
		-ms-transition     : background-image 0.2s ease-in-out;
		-o-transition      : background-image 0.2s ease-in-out;
		transition         : background-image 0.2s ease-in-out;
	}
	.bg-color-trans() {
		-webkit-transition : background-color 500ms linear;
		-moz-transition    : background-color 500ms linear;
		-o-transition      : background-color 500ms linear;
		-ms-transition     : background-color 500ms linear;
		transition         : background-color 500ms linear;
	}
	.color-trans() {
		-webkit-transition : color 300ms linear;
		-moz-transition    : color 300ms linear;
		-o-transition      : color 300ms linear;
		-ms-transition     : color 300ms linear;
		transition         : color 300ms linear;
	}

	.three-box-container( @height ) {
		position   : relative;
		min-height : @height;
	}

	.widget-wrapper {
		overflow : auto;
		border   : 1px solid @pc-gray-lighter;
		height   : inherit;
		.pc-border-radius ( 5px );
	}

	#active-widgets li > .widget-wrapper.widget-placeholder {
		position : relative;
		.widget-placeholder-icon {
			background-image : url( 'http://i1292.photobucket.com/albums/b563/blabbermouth2011/widget-placeholder_zpse9626e25.png' );
			width            : 121px;
			height           : 132px;
			position         : absolute;
			top              : 134px;
			z-index          : 1;
			left             : 108px;
			cursor           : pointer;
			.bg-img-trans;
			&:hover {
				opacity: .8;
			}
		}
		.widget-placeholder-title {
			background-color : #dedfe0;
			height           : 200px;
			color            : @pc-white;
			text-align       : center;
			font-size        : 40px;
			padding-top      : 45px;
		}
		.widget-placeholder-desc {
			background-color : #eceeee;
			height           : 200px;
			position         : relative;
			text-align       : center;
			div {
				position   : absolute;
				bottom     : 27%;
				width      : 100%;
				color      : @pc-gray-dark;
				text-align : center;
				p {
					font-size   : 16px;
					line-height : 28px;
				}
				#awesomeness {
					cursor : pointer;
				}
				#awesomeness:hover {
					color : @pc-gray-darker;
				}
			}
		}
	}

	li#processOfMe {
		div.widget-item {
			border-left : 2px solid @pc-blue-light;
				div.description {
					vertical-align : middle;
				}
				div.duedate {
					font-size : 10px;
					color     : @pc-red;
				}
				i.greatericon {
					font-size: 1.75em;
					padding-left: 35px;
				}
		}
		div.olderdate{
			border-left : 2px solid @pc-red;
		}
	}

.footerLink {
	i{
		margin-left : 20px;
	}
}
	#active-holder {
		overflow : hidden;

		.three-box-container {
			.three-box-container( 410px );
			margin-bottom : 40px;
		}
	}

	//Group Activity

	.group-activity-item, .focus-objective-item, .courses-item, .progress-item, .observation-of-me  {
		height   : 35px;
		overflow : hidden;
		div {
			overflow       : hidden;
			display        : inline-block;
			vertical-align : top;
		}
		.thumb {
			width         : 35px;
			height        : 35px;
			margin        : 0 10px 0 13px;
			border-radius : 5px;
			img {
				width       : 35px;
			}
		}
		.description {
			width : 245px;
			p {
				padding: 0;
			}
		}
	}

	.observation-of-me {
		div {
			margin-left: 10px;
		}
		.observation-name {
			width: 180px;
			overflow: hidden;
		}
		.observation-date {
			font-style : italic;
			color      : #C1CBD0;
			text-align : right;
			font-size  : 12px;
			margin     : 0 10px 0 0;
			float      : right;
		}
		i.fa-eye-icon {
			height: 12px;
			width: 17px;
			background : url(../img/fa-eye-icon.png) no-repeat;
			background-size : contain;

		}
	}

	.progress-item {
		.description {
			width : 285px;
			margin-left: 13px;
		}
		.progress-circle-item {
			width  : 35px;
			margin : 0 10px;
		}
	}

	.focus-objective-item {
		.thumb {
			width  : 35px;
			height : 35px;
			margin : 0 10px 0 13px;
			img {
				height : 35px;
				width  : auto;
			}
		}
	}

	#yourProfile{
		.item-container > .user-settings {
			border-bottom : none;
		}
		.your-profile-container{

		padding : 15px;
		width   : 100%;
		height  : 70%;

		.avatar-holder {
			padding:0px;

				img {
					max-width     : 81%;
					margin        : 0 auto;
					display       : block;
					border-radius : 5px;
				}
		}


		.percent-holder {

			padding-left : 0px;

			#your-profile-circle {
				display  : block;
				overflow : hidden;
				margin   : 0 auto;
				width    : 90px;
			}
			.profile-str {

				padding     : 0px;
				float       : none;
				width       : 100%;
				font-size   : 13px;
				line-height : 18px;

			}
		}
	}

	.item-container .col-md-12 {
		height : 281px;
	}
}


	#inactive-holder {
		margin-top         : -15px;
		margin             : @pc-min auto;
		border             : 1px solid rgba(0,0,0,.1);
		-moz-box-shadow    : 0px 0px 5px rgba(0,0,0,.2);
		-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,.2);
		box-shadow         : 0px 0px 5px rgba(0,0,0,.2);
		padding            : 20px 18px;
		margin-bottom      : 20px;
		position           : relative;
		display            : none;
		overflow           : hidden;

		.pc-border-radius( 12px );
		.three-box-container {
			.three-box-container( 300px );
		}
	}

	#active-widgets, #inactive-widgets  {
		width: inherit;

		ul {
			height     : inherit;
			list-style : none;
			width      : 1140px;
		}

		li p {
			margin      : 0px;
			line-height : 35px;
		}

		//widget header
		.header {
			background    : @pc-gray-lightest;
			padding       : 23px 0;
			text-align    : center;
			font-size     : 18px;
			border-bottom : 1px solid @pc-gray-lighter;
		}

		//item container or body
		.item-container {
			height : 279px;
			.empty-widget-holder {
				font-size : 14px;
				color     : @pc-gray-dark;
				top       : 20%;
				border    : none;
				#emptywidgetHelp {
					cursor : pointer;
				}
				#emptywidgetHelp:hover {
					color : @pc-gray-darker;
				}
				.fa {
					font-size : 70px;
					color     : #efefef;
					display   : block;
				}
				i.fa-eye-empty {
					margin: 0 auto;
					height: 70px;
					width: 71px;
					background : url(../img/fa-eye-empty.png) no-repeat;
					background-size : contain;

				}
			}

			.spinner-container {
				top : 26%;
				border-bottom : none;
			}
		}
		.item-container-inactive {
			height : 165px;
		}

		.item-container, .item-container-inactive {
			overflow: hidden;

			> div {
				border-bottom : 1px solid @pc-gray-lighter;
				padding       : 10px 0;

				//Todo much better that image to be scaled should have a class
				a > img, .icons {
					height : 25px;
					width  : 25px;
				}
			}

			div.widget-item {
				.bg-color-trans;
				&:hover{
					 &, .prog-circle .after {
					 	background-color :  @pc-gray-lightest;
					 }
					 .prog-circle {
					 	background-color : white;
					 }
				}
			}
		}

		//widget footer
		.footer {
			padding    : 14px 0 14px 14px;
			border-top : 1px solid #ebebeb;
			height:  49px;
			a:hover {
				color: @widgetdarkblue;
			}
		}
	}

	#active-widgets {
		ul {
			li {
				width          : 380px;
				padding-bottom : 20px;
				display        : inline-block;
				padding        : 0 10px;
			}
		}

		.badge {
			font-weight    : normal;
			padding        : 4px 7px;
		}
		.badge-success {
			background : #9fd753;
		}
		.notify {
			position   : relative;
			overflow   : visible;
			margin-top : 4px;
			.badge {
				position  : absolute;
				top       : -4px;
				right     : -12px;
				font-size : 10px;
				padding   : 4px 6px;
			}
		}
		.notify .label {
			margin         : 0;
			padding        : 8px 7px;
			vertical-align : middle;
		}
		i.fa-play {
			font-size     : 11px;
			color         : @pc-white;
			background    : #00A8FF;
			padding       : 8px 0 0 10px;
			height        : 26px;
			border-radius : 13px;
			width         : 26px;
			margin        : 3px 10px;
		}

		a:hover {
			i.fa {
			}
		}


		#profile-icons-holder{
			.fa {
				background         : @pc-gray-lightest;
				color              : @pc-gray-dark;
				border-radius      : 25px;
				border             : 1px solid @pc-gray-dark;
				padding            : 12px;
				width              : 50px;
				font-size          : 24px;
				display            : block;
				margin             : 0 auto 6px;
				.bg-color-trans;
				.color-trans;
			}
			margin      : auto;
			padding-top : 15px;
			text-align  : center;
			.your-profile-icons{
				position : relative;
			span{
					bottom   : -35px;
					left     : 0;
					margin   : auto;
					position : absolute;
					width    : 100%;
					font-size: 12px;
				}
			}
			a{
		    color : @widgetblue;
		  }
			a:hover{
				color : @widgetdarkblue;
				.fa {
					background         : @widgetblue;
					color              : @pc-white;
				}
			}
			.user{
				background : @pc-gray-dark url('../img/icon-users.png') no-repeat -13px -14px;
			}
			.user:hover{
				background-position : -13px -89px;
			}
			.setting{
				background : @pc-gray-dark url('../img/icon-settings.png') no-repeat -14px -14px;
				span {
					left   : 0px !important;
					bottom : -44px;
				}
			}
			.setting:hover{
				background-position : -14px -89px;
			}
			.content{
				background : @pc-gray-dark url('../img/icon-contents.png') no-repeat -12px -13px;
			}
			.content:hover{
				background-position : -13px -88px;
			}
			.the-clearer{
				clear : both;
			}
		}
	}

	//display if hovered
	#inactive-holder > div:hover .active.prevNext,
	#active-holder > div:hover .active.prevNext {
		display : inline-block;
	}

	.block-hide{
		display : none;
	}

	#widget-settings, #mobile-widget-settings {
		display                : inline-block;
		vertical-align         : middle;
		display                : inline-block;
		font-family            : FontAwesome;
		font-style             : normal;
		font-weight            : normal;
		line-height            : 1;
		-webkit-font-smoothing : antialiased;
		margin                 : 0px 10px 5px;
		cursor                 : pointer;
		font-size              : 19px;
		padding                : 3px 4px;
		border-radius          : 3px;
		&:before {
			content: "\f013";
		}
	}

	#widget-settings.active, #widget-settings:hover, #mobile-widget-settings.active, #widget-settings.opened, #mobile-widget-settings.opened, #mobile-widget-settings:hover {
		color         : @pc-white;
		background    : #00A8FF;
	}

	#mobile-widget-settings.visible-xs {
		display : inline-block !important;
	}

	#inactive-widgets {
		margin   : @pc-min auto;
		position : relative;
	}

	.arrow-up {
		width         : 0px;
		height        : 0px;
		border-left   : 20px solid transparent;
		border-right  : 20px solid transparent;
		border-bottom : 20px solid @pc-white;
		position      : relative;
		display       : none;
	}
	.fore.arrow-up {
		z-index : 100;
		left    : 185px;
	}
	.back.arrow-up {
		border-bottom : 21px solid rgba(0,0,0,.1);
		z-index       : 99;
		border-left   : 21px solid transparent;
		border-right  : 21px solid transparent;
		margin-top    : -22px;
		left          : 184px;
		dipslay       : none;
	}
	.hideme {
		margin-top: -15px;
	}
	.delete-widget {
		position    : absolute;
		display     : inline-block;
		text-indent : -9999px;
		height      : 30px;
		width       : 30px;
		background  : url(../img/delete.png);
		top         : -15px;
		right       : 6px;
		cursor      : pointer;
	}

	// Widget settings panel
	#widgets-settings-panel, #mobile-widgets-settings-panel {
		background-color : #2b2d30;
		margin           : auto;
		color            : @pc-white;
		padding-bottom   : 5px;
		padding-top      : 1px;
	}
	#mobile-widgets-settings-panel {
		display : none;
		padding : 0px;
	}
	#widget-settings-header {
		margin     : auto;
		margin-top : 12px;
		ul {
			border-bottom : 1px solid;
			padding       : 0px 40px;
			li {
				padding-bottom : 15px;
				margin-right   : -5px;
				cursor         : pointer;
				&:hover {
					color : @widgetblue;
				}
			}
		}
		.main:hover {
			border : none;
			color  : @pc-white;
			cursor : auto;
		}

		// start #widget-settings-header .selected
		.selected {
			color         : @widgetblue;
			border-bottom : 5px solid @widgetblue;
		}
		// end #widget-settings-header .selected
	}


	#widget-settings-header .selected {
		color         : @widgetblue;
		border-bottom : 5px solid @widgetblue;
	}
	#widget-settings-content {
		padding-top : 20px;
		height      : 400px;
	}
	#widget-settings-selection {
		text-align   : center;
		margin       : auto;
		height       : 380px;
		padding      : 0 20px 0 40px;
		border-right : 2px solid #7d7d7d;
	}
	#widget-settings-selection li {
		border     : 1px solid;
		display    : inline-table;
		width      : 115px;
		height     : 144px;
		margin     : 12px;
		text-align : center;
		cursor     : pointer;
		position   : relative;
	}
	#widget-settings-selection li .widget-icon-btn {
		border           : 3px solid @pc-white;
		background-color : #3cacee;
		font-weight      : bold;
		padding          : 4px;
		z-index          : 2;
		position         : relative;
		margin-top       : -8px;
		margin-right     : -7px;
	}
	#widget-settings-selection li .inactive.widget-icon-btn {
		background-color : #c2c2c2;
	}
	#widget-settings-selection li:first-child, #widget-settings-selection li:nth-child(2), #widget-settings-selection li:nth-child(3) {
		margin-top : 0px;
	}
	#widget-settings-selection li #widget-sequence-overlay {
		background-color : @widgetblue;
		opacity          : 0.3;
		font-size        : 100px;
		position         : absolute;
		width            : 113px;
		height           : 142px;
	}
	#widget-settings-selection li #widget-sequence-overlay.img-thumbnail, #widget-settings-selection li.img-thumbnail  {
		padding : 0px;
		border  : 1px solid #2b2d30;
	}
	#widget-name {
		background-color        : #3fa7f9;
		position                : absolute;
		width                   : 113px;
		z-index                 : 1;
		padding                 : 6px 5px;
		font-size               : 11px;
		bottom                  : 0;
		.pc-border-radius ( 3px );
		border-top-right-radius : 0px;
		border-top-left-radius  : 0px;
	}
	#widget-settings-preview {
		padding    : 0 30px;
		height     : 380px;

		// start #widgetsetting .img-thumbnail
			.img-thumbnail {
				width         : 180px;
				height        : 180px;
				margin-bottom : 28px;
				float         : left;
			}
		// end #widgetsetting .img-thumbnail

		// start #widget-limit-message
			#widget-limit-message {
				display    : none;
				width      : 423px;
				text-align : center;
			}
		// end #widget-limit-message
	}

	#widget-settings-preview .description {
		float  : left;
		margin : 0px 30px;
	}
	#widget-settings-preview .actions {
		clear         : both;
		position      : absolute;
		bottom        : 0;
		margin-bottom : 20px;
	}
	#widget-settings-preview .actions button {
		padding : 10px;
		margin  : 10px 5px;
		color   : @pc-white;
	}
	#widget-settings-preview .actions button.cancel {
		background-color : transparent;
	}
	#widget-settings-preview .actions button.save, #widget-settings-preview .actions button.remove {
		background-color : #7d818b;
	}
	#widget-settings-preview .actions button.save:hover, #widget-settings-preview .actions button.remove:hover {
		background-color : #757880;
		border           : 1px solid #6a6d74;
	}

	// Mobile
	#widget-mobile-header {
		text-align : center;
		h4 {
			border-bottom : 1px solid #FFF;
			padding       : 0px 0px 10px 0px;
		}
		select {
			background-color : transparent;
			border           : 1px solid #FFF;
		}
	}

	#widget-mobile-selection {
		ul {
			list-style-type : none;
			padding         : 0px;
			margin          : 0px;
			li {
				padding       : 14px;
				border-bottom : 1px solid #4f96c7;
				i {
					border      : 1px solid;
					padding     : 6px;
					font-size   : 12px;
					font-weight : bolder;
					margin-top  : -4px;
				}
			}
			.active-widget-mobile {
				background-color : #2fafea;
			}
			.inactive-widget-mobile {
				background-color   : #dfe0e1;
				border-bottom      : 1px solid #b9b9b9;
				border-left-color  : #b9b9b9;
				border-right-color : #b9b9b9;
			}
		}
	}

	#widget-mobile-actions {
		text-align : center;
		padding    : 10px 0px 20px 0px;
		button {
			font-size : 12px;
			width     : 69px;
			height    : 28px;
			margin    : 0px 3px;
			color     : @pc-white;
			padding   : 0px 0px;
		}
		.cancel {
			background-color : transparent;
		}
		.action-btn {
			background-color : #7d818b;
		}
		.action-close-btn {
			font-size : 9px;
		}
	}
}
