<div class="wrapper">
	<div class="accordion-heading">
		<img class="profile-main" src="<%- getAvatarPath( Avatar ) %>">

		<div class="comment-main">
			<p>
				<span class="date">
 					Announcement by:
 				</span>
				<span class="fake-link creator-name">
					<%- CreatorFullName %>
				</span>
				<span class="date">
					<%- formatDate( Created ) %>
				</span>
			</p>
			<p class="resource-news"><%= getNewsEntry() %></p>
		</div>

		<ul class="reply media-list">

		</ul>

	</div>

</div>
