<div class="lt-header page-header">
	<h2>Learning Targets</h2>
</div>
<div class="row">
	<div class="lt-left-nav col-md-3">
		<span class="visible-xs">
			<select class="selectpicker dropdown" data-style="btn-primary">
				<option value="processes">Processes of Me</option>
				<option value="courses">Courses</option>
				<option value="portfolio">Portfolio</option>
				<option value="observations">Observations</option>
				<option value="catalogs">Catalogs</option>
				<option value="focus-objectives">Focus Objectives</option>
				<option value="group-task">Group Task</option>
			</select>
		</span>
		<ul class="nav media-list hidden-xs">
			<li class="processes">
				<a href="#resources/learning/processes">Processes of Me</a>
			</li>
			<li class="courses">
				<a href="#resources/learning/courses">Courses</a>
			</li>
			<li class="portfolio">
				<a href="#resources/learning/portfolio">Portfolio</a>
			</li>
			<li class="observations">
				<a href="#resources/learning/observations">Observations</a>
			</li>
			<li class="catalogs">
				<a href="#resources/learning/catalogs">Catalogs</a>
			</li>
			<li class="focus-objectives">
				<a href="#resources/learning/focus-objectives">Focus Objectives</a>
			</li>
			<li class="group-task">
				<a href="#resources/learning/group-task">Group Task</a>
			</li>
		</ul>
	</div>
	<div class="lt-content col-md-9"></div>
</div>
