<div id="learning-targets-nav" class="row">
	<div class="lt-left-nav col-md-3">
		<h2>Learning Targets</h2>
		<ul class="nav media-list">
			<li class="processes">
			    <a href="#resources/learning/processes">Processes of Me</a>
			</li>
			<li class="courses">
			    <a href="#resources/learning/courses">Courses</a>
			</li>
			<li class="portfolio">
			    <a href="#resources/learning/portfolio">Portfolio</a>
			</li>
			<li class="questions">
			    <a href="#resources/learning/questions">Reflection Questions</a>
			</li>
			<li class="observations">
			    <a href="#resources/learning/observations">Observations</a>
			</li>
		</ul>
	</div>
	<div class="lt-content col-md-9"></div>
</div>