<div class="lt-toggle-btn">
    <div class="row">
        <img class="icon-img" src="/img/eye.png">
        <span class="title-wrapper group-title col-xs-6 col-sm-6 col-md-6"><%- ProcessName %></span>
		<span class="title-wrapper col-xs-4 col-sm-4 col-md-4 <%- statusColor %>"><%- ProcessStatus %></span>
    </div>
</div>
<div class="lt-toggle-content drawer" style="display: none;">
	<% _.each( Tasks, function ( tasksObj ) { %>
		<div class="col-xs-3 step-item">
			<a id="<%- tasksObj.ProcessTaskId %>" href="#" class="lt-process-step" title="more info">Next Step <%- tasksObj.ProcessTaskId %></a>
		</div>
		<div class="col-xs-5 step-item"><%- tasksObj.CompleteByDate %></div>
		<div class="col-xs-4 step-item <%- tasksObj.statusColor %>">
			<%- tasksObj.status %>
		</div>
		<br class="clearfix">
	<% } ); %>
</div>
<br class="clearfix">
