<div class="lt-toggle-btn">
	<div class="col-xs-10"><img src="/img/eye.png" class="icon" alt=""> <p><a href="#" class="lt-link" title="more info"><%- ProcessName %></a></p></div>
	<div class="col-xs-2 <%- txtColor %>"><%- ProcessStatus %></div>
</div>
<div class="lt-toggle-content drawer steps" style="display: none;">
	<div>
		<% _.each( Tasks, function ( tasksObj ) { %>
			<div class="col-xs-3 step-item"><a id="<%- tasksObj.ProcessTaskId %>" href="#" class="lt-process-step" title="more info">Next Step <%- tasksObj.ProcessTaskId %></a></div>
			<div class="col-xs-5 step-item"><%- tasksObj.CompleteByDate %></div>
			<div class="col-xs-4 step-item <%- tasksObj.txtColor %>">
				<%- tasksObj.status %>
			</div>
			<br class="clearfix">
		<% } ); %>
	</div>
</div>

<br class="clearfix">
