<div class="page-header">
	<h2>Privacy Policy</h2>
</div>

<div class="form-container text-justify">

	<p align="center">
	    <strong>Privacy Policy</strong>
	</p>
	<p align="right">
	    <strong>Last Updated June 27, 2014</strong>
	</p>
	<p>
	    School Improvement Network, LLC and its subsidiaries and affiliates (“SINET”, “we” or “us”) are committed to protecting your privacy. This Privacy Policy
	    describes how we collect, use, share and protect information in relation to our websites, our services, and any software and/or content provided on or in
	    connection with our services (collectively, the “Service”), and your choices about the collection and use of your information.
	</p>
	<p>
	Please read this Privacy Policy carefully to understand our policies and practices regarding your information and how we will treat it. <strong>BY USING THE SERVICE YOU AGREE TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS SET FORTH IN THIS PRIVACY POLICY, PLEASE DO NOT USE THE SERVICE.</strong>
	</p>
	<p>
	    <strong>1. Information We Collect From And About You</strong>
	</p>
	<p>
	    1.1 When accessing and using the Service, you may be asked to provide certain information about you that can be used to contact or uniquely identify you
	    (“Personal Information”), such as your name, home and/or work address, email address, telephone and/or fax number, date of birth, and employment
	    information (if and as applicable).
	</p>
	<p>
	    1.2 Any credit card or debit card payments are processed through third party processors eMerchant and/or PayPal, and the treatment and protection of such
	information shall be governed by, and is subject to, the terms and conditions of eMerchant and PayPal’s privacy policies, available at <a href="http://www.emerchant.com/Privacy-Policy.php">http://www.emerchant.com/Privacy-Policy.php</a> and <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a>.
	</p>
	<p>
	    1.3 We do not collect any Personal Information from users who simply visit our website, we will only collect Personal Information from you if you provide
	    us with such information.
	</p>
	<p>
	    1.4 You may also be asked to provide information that is about you but individually does not identify you, such as your gender and education level. Certain
	    aspects of the Service may also collect evaluation information and data about your job performance (“Performance Data”).
	</p>
	<p>
	    1.5 Certain features and functionality of the Service will enable you to post content, including comments, documents, links, photos, videos, and other
	    materials (“User<strong> </strong>Contributions”) to the Service and to share User Contributions within the designated communities. If you use these
	    features and functionalities, this means that other users may search for, see, use, or share any of your User Contributions that you make available through
	    the Service, consistent with the terms and conditions of this Privacy Policy and our End User License Agreement (<a class="js-eula" href="#eula-full">[INSERT LINK]</a>). Your User Contributions are
	    posted to the Service and/or transmitted to others at your own risk. Although messages transmitted between users will not be generally accessible to those
	    who are not intended recipients, please be aware that no security measures are perfect or impenetrable. SINET cannot control the actions of other users of
	    the Service with whom you may choose to share your User Contributions. Therefore, SINET cannot and does not guarantee that your User Contributions will not
	    be viewed by unauthorized persons.
	</p>
	<p>
	    <strong>2. Usage Details, Technical Information and Cookies.</strong> SINET may automatically collect certain information about your equipment, browsing actions, and
	    patterns as you navigate through and interact with the Service, as follows
	</p>
	<p>
	    2.1 <u>Usage Details</u>. SINET may collect information about your use of the Service as well as features and content that you use or view, such as how you
	    use them, how frequently you use them, and your responses to the features and content presented through the Service. Additionally, we may contract with
	    business partners to identify how our users use the Service, and to help manage and optimize the Service. This information helps us learn things about the
	    Service, such as what pages of our website and what features and content are most attractive to our users and which of our products generate the most user
	    interest. <u></u>
	</p>
	<p>
	    2.2 <u>Technical Information</u>. SINET may collect certain technical information automatically when you use the Service, such as the type of browser and
	    operating system you are using, the domain name of your Internet service provider, and your Internet protocol (IP) address. An IP address is a number that
	    is automatically assigned to a computer when using the Internet. Web servers can automatically identify individual computers by their IP addresses. SINET
	    may collect IP addresses to facilitate system administration, diagnose system problems, report aggregate user information, and avoid attacks on the SINET
	    server. SINET does not link the above information to any individual. <u></u>
	</p>
	<p>
	    2.2.1 In addition, certain software provided on or in connection with the Service is configured to automatically report software errors to SINET, without
	    notice to you. Information on your software configuration settings may be included in these reports. This information helps SINET diagnose and repair
	    performance issues with the Service.
	</p>
	<p>
	    2.2.2 We may also collect information about mobile devices used to access the Service, such as your unique device identifier.
	</p>
	<p>
	    2.3 <u>Cookies</u>. The technology we use for automatic data collection may include cookies. “Cookies” are pieces of information that are stored on a
	    user’s computer hard drive to enable the user to more easily communicate and interact with the Service. SINET may use cookies to save certain information
	    about users of the Service in order to facilitate and enhance use of the Service. <u></u>
	</p>
	<p>
	    <strong>3. How We Use Information We Collect</strong>
	</p>
	<p>
	    3.1 SINET uses information we collect about you or that you provide to us, including any Personal Information, to provide the Service and any other
	    information, products or services that you or your employer or School request(s) from us. We also use information we collect to carry out our obligations
	    and enforce our rights arising from any contracts entered into between you or your employer or School and SINET, including for billing and collection.
	</p>
	<p>
	    3.2 SINET may use Personal Information to provide you with important information about the Service (such as upgrades, modifications, etc.), to announce new
	    products and services available to you, and to send you marketing and advertising material. If you would like to opt out of these disclosures, please see
	    the “Your Choices” section of this Privacy Policy.
	</p>
	<p>
	    3.3 SINET may also use Personal Information to create aggregate, non-personal reports about the users of the Service, to generate aggregate statistical
	    studies, and to conduct research related to the Services. We use and store this aggregate information only on a collective basis, in summary form, rather
	    than on an individual basis. This information helps us to determine how and the extent to which certain parts of the Services are used.
	</p>
	<p>
	    3.4 SINET gathers information in order to better understand how users use the Service, as well as to help SINET tailor offerings to user groups with
	    specific profiles, and to conduct market research. Usage details and technical information may be used in the aggregate for commercial purposes, including
	    without limitation, for marketing, co-registration to other services, promotional initiatives and other activities. We ask for and collect data that is
	    adequate, relevant and not excessive for such purposes.
	</p>
	<p>
	    3.5 We offer some of our Services on or through other websites. Personal information that you provide to those sites may be sent to SINET in order to
	    deliver the Service. We process such information under this Privacy Policy.
	</p>
	<p>
	    3.6 SINET may make available third party applications, materials, software, and content through its Service (“Third Party Content”). The information
	    collected by SINET when you access or use Third Party Content is processed under this Privacy Policy. Information collected by third party providers is
	    governed by their privacy policies.
	</p>
	<p>
	    3.7 SINET may use your Personal Information in order to ask you to voluntarily complete surveys on a variety of topics related to the field of education.
	    In no way are you required to participate in our surveys. If you wish not to participate just simply ignore. Survey results are used and stored in the
	    aggregate only on a collective basis, in summary form, rather than on an individual basis. Survey results are not tied to any Personal Information.
	</p>
	<p>
	    3.8 We may also use your Personal Information in other ways, with your consent (or with your parent’s consent, if you are a user of the Student-Centered
	    Service.)
	</p>
	<p>
	    <strong>4. Information We Share</strong>
	</p>
	<p>
	    4.1 We may disclose your Personal Information to our subsidiaries and affiliates, as well as to our service providers and other third parties we use to
	    support our business and who are bound by contractual obligations to keep Personal Information confidential and use it only for the purposes for which we
	    disclose it to them.
	</p>
	<p>
	    4.2 In addition, we may disclose your Personal Information to third parties to market their products or services to you. We contractually require these
	    third parties to keep Personal Information confidential and use it only for the purposes for which we disclose it to them. If you would like to opt out of
	    these disclosures, please see the “Your Choices” section of this Privacy Policy.
	</p>
	<p>
	    4.3 We also may disclose information about you to your employer, if your employer is the licensee and/or paying for the Service you are using. This
	    information may include Performance Data, if and as applicable.
	</p>
	<p>
	    4.4 We also may disclose information about you (i) if we are required to do so by law or legal process (such as a court order), (ii) in response to a
	    request by law enforcement authorities, (iii) when we believe disclosure is necessary or appropriate to prevent physical harm or financial loss or in
	    connection with an investigation of suspected or actual illegal activity, and (iv) to carry out our obligations and enforce our rights arising from any
	    contracts entered into between you and/or your employer and SINET, including for billing and collection. We also reserve the right to transfer your
	    Personal Information in the event we sell, merge or transfer all or a portion of our business or assets.
	</p>
	<p>
	    <strong>5. Your Choices</strong>
	</p>
	<p>
	    We provide you with the following choices regarding your information:
	</p>
	<ul>
	    <li>
	        <strong>Cookies. </strong>
	        Most browsers will tell you how to stop accepting new cookies, how to be notified when you receive a new cookie, and how to disable existing cookies.
	        However, some of the Service’s features may not function properly if cookies are disabled.
	    </li>
	    <li>
	        <strong>Promotional Offers from Third Parties.</strong>
	        If you do not want us to use your Personal Information to promote third parties’ products or services, you can opt-out by sending us an email stating
	        your request to <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>.
	    </li>
	    <li>
	        <strong>Promotional Offers from the Company.</strong>
	        If you do not want us to use your Personal Information to promote our products or services, you can opt-out by sending us an email stating your request
	        to <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>.
	    </li>
	    <li>
	        <strong>Your California Privacy Rights. <em> </em></strong>
	        California Civil Code Section § 1798.83 permits users of our Service that are California residents to request certain information regarding our
	disclosure of Personal Information to third parties for their direct marketing purposes. To make such a request, please send an email to        <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>.
	    </li>
	    <li>
	        <strong>Children’s Privacy Rights</strong>
	        . At any time, parents can refuse to permit us to collect further Personal Information from their children in association with a particular account,
	        and can request that we change or delete from our records the Personal Information we have collected in connection with that account by sending us an
	        email stating your request to <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>. Please keep in mind that a request to
	        delete records may lead to a termination of an account or access to the Student-Centered Service.
	    </li>
	</ul>
	<p>
	    <strong>6. Accessing and Correcting Your Information</strong>
	</p>
	<p>
	You may review and update your Personal Information by logging into the account you may establish on the Service. You may also send us an email at    <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a> to request access to, correct or delete any Personal Information that you
	    have provided to us. SINET takes reasonable steps to ensure that Personal Information is accurate, complete, and current, but we depend on our users to
	    update or correct their Personal Information whenever necessary.
	</p>
	<p>
	    <strong>7. Links to Other Sites</strong>
	</p>
	<p>
	    The Service and our websites may contain links to sites that are owned and operated by third parties. These other sites may have their own privacy policies
	    and are not be governed by this Privacy Policy. We are not responsible for the privacy practices or the content of sites owned and operated by third
	    parties. Other sites may collect and treat information collected differently, so we encourage you to carefully read and review the privacy policy for each
	    site you visit.
	</p>
	<p>
	    <strong>8. Children’s Privacy</strong>
	</p>
	<p>
	    8.1 With respect to our K-12 student-centered products and services (collectively, the “Student-Centered Service”), which is a subset of the Service; we
	    recognize the need to provide further privacy protections with respect to Personal Information<a name="lid=corp_pp/contentlink/link38/120626"> </a>we may
	    collect from children. In the event of a conflict between this Section 8 and any other Section or provision in this Agreement, solely with respect to users
	    of the Student-Centered Service, the provisions of this Section will prevail.
	</p>
	<p>
	    8.2 In any instance that we collect Personal Information from a child, we will retain that information only so long as reasonably necessary to provide the
	    Student-Centered Service or allow the child to continue to participate in the Student-Centered Service, and protect the security of our users and our
	    Student-Centered Service, or as required by law.
	</p>
	<p>
	    8.3 Below we summarize potential instances of collection and outline our processes for complying with COPPA:
	</p>
	<p>
	    8.3.1 COPPA provides that schools may act as the parent’s agent and can consent to the collection of children’s Personal Information on the parent’s
	    behalf. Therefore, we notify our education entity licensees of the Student-Centered Service (“Schools”) about our information practices with regard to
	    children, including the types of Personal Information we may collect from children, the uses to which we may put that information and whether and with whom
	    we may share that information. We contractually obligate the Schools who use the Student-Centered Service to comply with COPPA, including, without
	    limitation, to notify parents regarding the collection of Personal Information from their children.
	</p>
	<p>
	    8.3.2 We only collect Personal Information from children that is needed to provide the Student-Centered Service, and do not use the children’s personal
	    information for any other commercial purpose.
	</p>
	<p>
	    8.3.3 We give parents the ability to request access to Personal Information we have collected from their children and the ability to request that the
	    Personal Information be changed or deleted. If you would like to access, change, or delete your child’s Personal Information, please see the “Your Choices”
	    section of this Privacy Policy.<u></u>
	</p>
	<p>
	    <strong>9. Service Is Not Directed Towards Children</strong>
	</p>
	<p>
	    Other than the Student-Centered Service, the Service is not directed to, and SINET does not knowingly collect or solicit personal information from,
	    children under the age of 13. If we learn we have collected or received personal information from a child under the age of 13 (other than as relates to the
	    Student-Centered Service), we will delete that information. If you believe we might have any information from or about a child under the age of 13 (other
	    than as relates to the Student-Centered Service), please contact us at <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>.
	</p>
	<p>
	    <strong>10. Geographic Restrictions</strong>
	</p>
	<p>
	    SINET is based in and operates the Service out of the United States. The Service is intended for use by residents of the United States only. When we obtain
	    Personal Information about you, we may process the information outside of the country in which you are located. If you are located outside of the United
	    States and you contact us, please be advised that any information you provide to us will be transferred to the United States and that by submitting
	    information you explicitly authorize this transfer and the processing of this information within the United States.
	</p>
	<p>
	    <strong>11. How We Protect Your Information</strong>
	</p>
	<p>
	    We have implemented measures designed to assist us in protecting your Personal Information from accidental loss and from unauthorized access, use,
	    alteration and disclosure. Please note that no electronic transmission of information can be entirely secure. We cannot guarantee that the security
	    measures we have in place to protect Personal Information will never be defeated or fail, or that those measures will always be sufficient or effective.
	</p>
	<p>
	    <strong>12. Changes to this Privacy Policy</strong>
	</p>
	<p>
	    SINET reserves the right to make changes to this Privacy Policy at any time, and the revised version will be effective at the time we post it. In the event
	    we make a material change to how we use your Personal Information, we will provide you with 30 days’ prior notice by posting notice of the change on the
	    “Policy Updates” page of our website. After this 30-day notice period, you will be considered as having expressly consented to all amendments to this
	    policy. The date the Privacy Policy was last revised is identified at the top of the page. You are responsible for periodically reviewing the Privacy Updates and this Privacy Policy to check for any updates or changes.
	</p>
	<p>
	    <strong>13. Contact Us</strong>
	</p>
	<p>
	If you have any questions or concerns about this Privacy Policy, please feel free to contact us by email to:    <a href="mailto:privacy@schoolimprovement.com">privacy@schoolimprovement.com</a>. We can also be contacted by mail to: Attn: Privacy Policy, School
	    Improvement Network, LLC, 32 West Center Street, Midvale, Utah, 84047. or by phone at 801-566-6500.
	</p>

</div>
