<a href="#" class="lt-toggle-btn">
	<img class="icon" src="/img/eye.png" alt="" />
	<p class="truncate">
		Instructional Coaching with Jim Knight (internal)
	</p>
	<p>due 03/18/14</p>
	<span class="blue-text">
		<strong>3</strong> / <strong>5</strong> Completed
		<img alt="" src="/img/arrow-blue-right.png">
	</span>
</a>
<div class="lt-toggle-content drawer" style="display: none;">
	<div class="container">

		<h4>Reflection Questions</h4>
		<ul>
			<li class="complete">
				<p>Video: Classroom Management</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="complete">
				<p>Video: Phones in Class</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="complete">
				<p>Video: Culture</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="inprogress">
				<p>Video: Basic Algebra</p>
				<span class="blue-text">Finish</span>
			</li>
			<li class="inprogress">
				<p>Video: K-12 Administration</p>
				<img src="/img/progress-small.png" alt="progress-small" width="23" height="23">
			</li>
		</ul>
		<h4>Follow Up Questions</h4>
		<ul>
			<li class="complete">
				<p>Video: Classroom Management</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="complete">
				<p>Video: Phones in Class</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="complete">
				<p>Video: Culture</p>
				<img src="/img/check-green.png" alt="check-green" width="21" height="21">
			</li>
			<li class="inprogress">
				<p>Video: Basic Algebra</p>
				<span class="blue-text">Finish</span>
			</li>
			<li class="inprogress">
				<p>Video: K-12 Administration</p>
				<img src="/img/progress-small.png" alt="progress-small" width="23" height="23">
			</li>
		</ul>
	</div>
</div>
<br class="clear">
