<a href="#groups/<%= LicenseId %>">
	<div class="sr-shadow">

		<div class="sr-header">
			<span class="group-icon">
			</span>
			<div class="group-banner" style="background:url('<%= BrandingImage %>');">
				<div class="group-avatar">
					<img src="http://resources.pd360.com/PD360/uploads/avatars/group/<%= Avatar %>" />
				</div>
			</div>
		</div>

		<div class="sr-footer">

			<h5><%= LicenseName %></h5>

			<p class="paragraph-light">
				<span><%= NumberOfMembers %> Member(s)</span>
			</p>
		</div>
	</div>
</a>
