<div class="cn-segment-content">
	<a href="VideoURL" class="cn-segment-videourl" ><img src="http://resources.pd360.com/PD360/media/thumb/ImageURL" class="img-responsive"></a>
	<a href="VideoURL" ><span class="fa fa-play"></span>
	<p class='cn-play-now'>Play Now</p></a>
</div>

	<h4 class="cn-segment-name">CName</h4>

	<p class="paragraph-light"><span class="cn-segment-min">min</span>:<span class="cn-segment-sec">sec</span></p>

	<div class="cn-watch-later">
		<input class="flag" id="ContentId" type="checkbox">
		<label class="cn-watch-later-icon fa fa-clock-o" data-tooltip="Watch Later" for="ContentId">
			<div class="cn-tool-tip slideIn top add">Add to Watch Later list</div>
			<div class="cn-tool-tip slideIn top remove">Remove from Watch Later list</div>
		</label>
	</div>
<div class="cn-segment-info-tooltip slideIn top">CDescription</div>
