<a href="#resources/videos/<%- ContentId %>">
	<div class="sr-shadow">

		<div class="sr-header sr-video">
			<span class="cn-segment-videourl">
				<img src="http://resources.pd360.com/PD360/media/thumb/<%- ImageURL %>" class="img-responsive">
			</span>
			<span class="hover">
				<span class="fa fa-play"></span>
				<p>Play&nbsp;Now</p>
			</span>
		</div>

		<div class="sr-footer">

			<h5 class="cn-segment-name"><%- ContentName %></h5>

			<p class="paragraph-light">
				<span class="cn-segment-min"><%- time %></span>
			</p>
		</div>

	</div>
</a>
