<div class="modal-content col-xs-12">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Notification</h3>
	</div>
	<div class="modal-body">
		<p> Adobe Reader version 10.1/Acrobat 10.1 or later is required to view this content.</p>
		<a href="http://get.adobe.com/reader" target="_blank">
			<img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_reader.gif"  alt="Get Adobe Reader">
		</a>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn btn-primary">Ok</button>
	</div>
</div>