<span class="video-resources-thumb">
	<img src= "<%- thumbnail %>" />
	<span id="download">
			<div class="watch-later">
				<i class="download-icon fa fa-download"></i><a href="<%- downloadPath %>"></a>
				<div class="cn-tool-tip slideIn top">Download</div>
			</div>
	</span>
</span>
<!-- <span class="modal fade modal-wide" id="pdf-modal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div id="pdf-holder"></div>
		</div>
	</div>
</span> -->