<span class="videos-thumb">
    <a id="url" href="/videos/video-player">
	<img id="image"src=<%- imageUrl() %> class="img-responsive">
	<span id="icon-play"class="fa fa-play"></span>
	<p id="word-play">Play Now</p>
    </a>
</span>
<span class="videos-info">
    <h3 class="video-name"><%- ContentName %></h3>
		<p><%- duration() %></p>
		<div class="watch-later">
	<input class="flag" id="<%= ContentId  %>" type="checkbox">
	<label class="watch-later-icon fa fa-clock-o" data-tooltip="Watch Later" for="<%= ContentId  %>" onClick>
			<div class="cn-tool-tip slideIn top add">Add to Watch Later list</div>
			<div class="cn-tool-tip slideIn top remove">Remove from Watch Later list</div>
		</label>
    </div>
</span>
