<div class="lt-toggle-btn">
    <div class="courses row">
        <a class="title-wrapper course-title col-xs-7 col-sm-8 col-md-8" href="#resources/learning/courses/<%- COURSEID %>/legacy">
            <%- COURSENAME %>
        </a>
        <div class="progress-wrapper col-xs-2 col-sm-3 col-md-3">
            <div class="hidden-xs col-sm-12 col-md-12">
                <div class="progress col-sm-10 col-md-10">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%- PERCENTCOMPLETE %>" aria-valuemin="0" aria-valuemax="100" style="width: <%- PERCENTCOMPLETE %>%;">
                    </div>
                </div>
				<p><%- PERCENTCOMPLETE %>%</p>
            </div>
            <div class="col-xs-12 percent-holder visible-xs">
                <div class="profile-percent">
                    <%- PERCENTCOMPLETE %>
                </div>
            </div>
        </div>
    </div>
</div>
<br class="clearfix">