<div class="lt-toggle-btn row">
	<div class="col-xs-2 col-md-1"><img src="/img/eye.png" alt=""></div>
	<div class="col-xs-10 col-md-7"><%= COURSENAME %></div>
	<div class="col-xs-6 col-md-4">
		<div class="row">
			<div class="col-xs-14 col-md-10">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="<%= PERCENTCOMPLETE %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= PERCENTCOMPLETE %>%;">
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-md-2"><%= PERCENTCOMPLETE %>%</div>
		</div>
	</div>
</div>
<br class="clearfix">
