<div class="lt-toggle-btn">
    <div class="row">
        <span class="title-wrapper col-sm-4 col-md-4 hidden-xs">
            <a href="#resources/learning/observations/<%- OBSERVATIONID %>/legacy" class="lt-link">
                <%- OBSERVATIONNAME %>
            </a>
        </span>
        <span class="title-wrapper col-sm-4 col-md-4 hidden-xs"><%- OBSERVATIONDATE %></span>
        <span class="title-wrapper col-sm-3 col-md-3 hidden-xs"><%- NUMBEROFPRESCRIBEDPD %> Assigned PD</span>
        <span class="title-wrapper col-wrapper visible-xs col-xs-9">
        	<span class="col-xs-12">
			<a href="#" class="lt-link"><%- OBSERVATIONNAME %></a>
		    </span>
            <span class="col-xs-12"><%- OBSERVATIONDATE %></span>
            <span class="col-xs-12"><%- NUMBEROFPRESCRIBEDPD %> Assigned PD</span>
        </span>
    </div>
</div>
<br class="clearfix">