#program-page {

	#pp-program-details {
		@media ( min-width : @screen-md-max ) {
			margin-left : -10px;
		}

		@media ( min-width : @screen-sm-min ) and ( max-width : @screen-sm-max ) {
 			.program-name > h2 {
				font-size : 24px;
			}
		}

		@media ( max-width : @screen-xs-max ) {
			.program-name > h2 {
				font-size : 18px;
			}
		}

		margin  : 0;
		padding : 0;

		.program-name-container {
			background : @pd360-green;
			color      : @panel-primary-text;
			height     : 253px;
			width      : 100%;
			display    : table;
			padding    : 10px;

			.program-name {
				vertical-align : middle;
				display        : table-cell;
			}
		}

		.program-description {
			background : @gray-lighter;
			color      : @gray-dark;
			padding    : 10px;
			margin-top : 15px;

			h5 {
				line-height : 1.3em;
			}
		}
	}

	#pp-program-segments {
		margin  : 15px 0;
		padding : 0;

		.programs-count-all {
			color : @gray-light;
		}

		#program-segment-list {
			@media( min-width : @screen-md-max ) {
				margin-left : -10px;
			}

			margin  : 0;
			padding : 0;

			h2 {
				padding-left : 10px;
			}

			li {
				list-style : none;
				margin     : 0 0 5px 0;
				padding    : 10px;
				min-width  : 287px;
			}

			.pp-no-results {
				text-align : center;
			}
		}
	}
}
