<div class="form-group img text-center">
	<img src="<%- getUserAvatar %>">
</div>

<div class="form-group text-center fine-uploader"></div>

<div class="form-group text-center">
	<h4><%- personnel.FirstName %> <%- personnel.LastName %>'s Profile</h4>
	<p>Username: <span id="username"></span></p>
</div>

<div class="form-group">
	<label for="firstname" class="control-label col-sm-2">First Name</label>
	<div class="col-sm-10">
		<input class="form-control" id="firstname" type="text" maxlength="20" name="FirstName">
	</div>
</div>

<div class="form-group">
	<label for="lastname" class="control-label col-sm-2">Last Name</label>
	<div class="col-sm-10">
		<input class="form-control" id="lastname" type="text" maxlength="20" name="LastName">
	</div>
</div>

<div class="form-group">
	<label for="email" class="control-label col-sm-2">Email</label>
	<div class="col-sm-10">
		<input type="email" class="form-control" id="email" maxlength="128" name="EmailAddress">
	</div>
</div>

<div class="form-group">
	<label for="title" class="control-label col-sm-2">Title / Position</label>
	<div class="col-sm-10">
		<input class="form-control" id="title" type="text" maxlength="128">
	</div>
</div>

<div class="form-group career-start">
	<label class="control-label col-sm-2" for="career-start">Career Start</label>
	<div class="col-sm-10">
		<select id="career-start" class="form-control"></select>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="role-type">Role</label>
	<div class="col-sm-10">
		<select id="role-type" class="form-control"></select>
	</div>
</div>

<div class="form-group">
	<label for="grade-level" class="control-label col-sm-2">Grade</label>
	<div class="col-sm-10">
		<select class="form-control" id="grade-level"></select>
	</div>
</div>

<div class="form-group">
	<label for="subject" class="control-label col-sm-2">Subject</label>
	<div class="col-sm-10">
		<select class="form-control" id="subject"></select>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="change-password">Password</label>
	<div class="col-sm-10">
		<button type="button" class="btn btn-link" id="change-password">Change Password</button>
	</div>
</div>

<hr>

<div class="form-group">
	<label class="control-label col-sm-2" for="country">Country</label>
	<div class="col-sm-10">
		<input class="form-control" disabled="disabled" id="country">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="state">State</label>
	<div class="col-sm-10">
		<input class="form-control" disabled="disabled" id="state">
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2" for="district">School District</label>
	<div class="col-sm-10">
		<input class="form-control" disabled="disabled" id="district">
	</div>
</div>

<div class="form-group">
	<div class="col-sm-10 col-sm-offset-2">
		<button type="button" class="btn btn-primary ladda-button" data-style="expand-right" id="save">Save</button>
	</div>
</div>
