<p align="center">
    <strong>SCHOOL IMPROVEMENT NETWORK, LLC</strong>
</p>
<p align="center">
    <strong>END USER LICENSE AGREEMENT</strong>
</p>
<p>
This End User License Agreement (“<u>Agreement</u>”) is entered into by and between the user of this SINET Intellectual Property (as defined below) (“    <u>you</u>” or “<u>Licensee</u>”), and School Improvement Network, LLC (“<u>SINET</u>”). This Agreement applies to the software products offered by SINET,
    and their content, features, and functionality (including, but not limited to, all information, software, text, displays, images, content, video and audio,
and the design, selection and arrangement thereof), which may include related documentation and information provided by SINET (collectively, the “    <u>SINET Intellectual Property</u>”).<strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        BY CLICKING THE “I ACCEPT” BUTTON BELOW OR BY ACCESSING OR USING THE SINET INTELLECTUAL PROPERTY, YOU EXPRESSLY: (a) ACKNOWLEDGE THAT YOU HAVE READ
        THIS AGREEMENT; (b) AGREE AND CONSENT TO THE TERMS OF THIS AGREEMENT; (c) AGREE TO BE BOUND BY SINET’S PRIVACY POLICY AVAILABLE AT <a class="js-privacy" href="#privacy">[INSERT LINK]</a>; AND
        (d) REPRESENT AND WARRANT THAT YOU (i) ARE AUTHORIZED TO EXECUTE THIS AGREEMENT AND, IF YOU ARE SIGNING ON BEHALF OF A BUSINESS OR EDUCATIONAL ENTITY,
        THAT YOU ARE AUTHORIZED TO BIND SUCH ENTITY, AND (ii) AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT AND TO BE LIABLE FOR ANY
        NONCOMPLIANCE WITH THIS AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, CLICK THE “I DO NOT ACCEPT” BUTTON BELOW AND DO NOT ACCESS OR
        USE THE SINET INTELLECTUAL PROPERTY.
    </strong>
</p>
<p>
    <strong>1. </strong>
    <strong>Grant of License.</strong>
    <strong> </strong>
    Subject to the terms and conditions of this Agreement, SINET grants to Licensee a personal, revocable, worldwide, non-exclusive, non-transferable, limited
    license to use the SINET Intellectual Property for the internal, non-commercial business purposes of Licensee or entities controlled by or under common
    control with Licensee. If Licensee is a business entity, (a) the SINET Intellectual Property may be accessed solely by the authorized officers, directors,
    employees, students, and agents (collectively, “<u>Representatives</u>”) acting in accordance with the terms of this Agreement; and (b) Licensee agrees to
    be liable to SINET for any breach of the terms of this Agreement by any of Licensee’s past or present Representatives or any third party who accesses or
    uses the SINET Intellectual Property through Licensee.
</p>
<p>
    <strong>2. </strong><strong>Use Restrictions.</strong>
    <strong> </strong>
    Licensee shall not, and shall not permit any of its Representatives or third parties to, in any manner:
    <strong></strong>
</p>
<p>
    2.1. modify, alter, amend, fix, translate, enhance, or otherwise create derivative works of the SINET Intellectual Property;
</p>
<p>
    2.2. reverse engineer, disassemble, decompile, decode, or adapt the SINET Intellectual Property, or otherwise attempt to derive or gain access to the
    source code of the SINET Intellectual Property, in whole or in part, except as and only to the extent this restriction is prohibited by law or, with
    respect to any SINET Intellectual Property components included with or embedded in the SINET Intellectual Property that are subject to an open source
copyright license agreement that conforms to a standard definition set by the Open Source Initiative included in the SINET Intellectual Property (“    <u>Open Source Components</u>”), under the applicable open source SINET Intellectual Property license agreements governing the use of such Open Source
    Components (“<u>Open Source Licenses</u>”);
</p>
<p>
    2.3. remove, disable, or otherwise create or implement any workaround to any security features contained in the SINET Intellectual Property;
</p>
<p>
    2.4. remove, delete, or alter any trademarks, copyright notices, or other intellectual property or proprietary rights notices of SINET or its licensors, if
    any, from the SINET Intellectual Property;
</p>
<p>
    2.5. copy the SINET Intellectual Property, in whole or in part;
</p>
<p>
    2.6. rent, lease, lend, sell, sublicense, assign, distribute, publish, transfer, or otherwise make the SINET Intellectual Property available to any third
    party for any reason;
</p>
<p>
    2.7. use the SINET Intellectual Property in violation of any federal, state, or local law, regulation, or rule; or
</p>
<p>
    2.8. use the SINET Intellectual Property for purposes of competitive analysis, the development of a competing SINET Intellectual Property product, or any
    other purpose that is to SINET’s commercial disadvantage.
</p>
<p>
    <strong>3. </strong>
    <strong>OPEN SOURCE</strong>
    . Licensee acknowledges that the SINET Intellectual Property includes Open Source Components. SINET will provide a list of Open Source Components for a
    particular version of the SINET Intellectual Property to Licensee upon request. To the extent required by applicable Open Source Licenses, the terms of
    such Open Source Licenses will apply in lieu of the terms of this Agreement. To the extent the terms of any applicable Open Source License prohibits any of
    the restrictions in this Agreement with respect to any Open Source Component(s), such restrictions will not apply to such Open Source Component(s). SINET
    will provide Licensee with a copy of the source code for Open Source Components to the extent required by and in accordance with the terms of the
    applicable Open Source Licenses.<em></em>
</p>
<p>
    <em> </em>
</p>
<p>
    <strong>4. </strong><strong>Ownership</strong>
    <strong>.</strong>
    The SINET Intellectual Property is protected by copyright and other intellectual property laws and international treaties. Licensee acknowledges and agrees
    that the SINET Intellectual Property is being licensed, not sold, to Licensee by SINET. Licensee further acknowledges and agrees that it shall not acquire
    any ownership interest in the SINET Intellectual Property under this Agreement, and that SINET and its licensors, including, without limitation,
    CompassLearning, Inc. solely with respect to software owned by CompassLearning, Inc. (the “<u>CL Software</u>”), reserve and shall retain their entire
    right, title, and interest in and to the SINET Intellectual Property and all proprietary and intellectual property rights arising out of or relating to the
    SINET Intellectual Property, except as expressly granted to Licensee in this Agreement. All rights not expressly granted are reserved by SINET. This
    Agreement does not authorize Licensee to use any name, trademark, service mark, logo, or other indicia of SINET.
</p>
<p>
    <strong>5. </strong>
    <strong>UPLOAD FUNCTIONALITY. </strong>
    The SINET Intellectual Property may include a feature that will enable you to post content, including comments, documents, links, photos, videos, and other
    materials (“<u>User Contributions</u>”). You agree that the User Contributions will not contain third party copyrighted material, or material that is
    subject to other third party proprietary rights, unless you have permission from the rightful owner of the materials or you are otherwise legally entitled
    to post the material (e.g., fair use) and to grant SINET all of the license rights granted herein (“<u>Upload Functionality</u>”). Your use of the Upload
    Functionality is conditioned on your consent to this Section. You agree that you are solely responsible for any User Contributions, and you represent that
    the User Contributions do not include any libelous, obscene, pornographic, illegal or inappropriate content. You understand that SINET is not reviewing or
    editing the User Contributions, and you understand and agree that any User Contributions you provide are available to everyone belonging to the specific
    communities in which you share the User Contributions. To the fullest extent permitted under applicable law, you agree, on behalf of yourself, and your
    employer, to indemnify and hold SINET and its officers, directors, employees and agents harmless from any and all losses, claims, damages, changes, costs
    and expenses arising out of any third party claims based in whole or in part on the User Contributions. You agree to grant and you hereby grant an
    irrevocable, non-exclusive, paid-up, transferable license to SINET to use the User Contributions solely in connection with the offering of its SINET
    Intellectual Property and services to its customers. <strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>6. </strong>
    <strong>Maintenance and Support. </strong>
</p>
<p>
    6.1. SINET shall provide Licensee with all error corrections, enhancements, or other updates to the user interface, functionality, compatibility,
    capabilities, performance, efficiency, or quality of the SINET Intellectual Property (“<u>Maintenance Releases</u>”) that SINET may, in its sole
    discretion, make generally available to its licensees at no additional charge. All Maintenance Releases, upon being provided by to Licensee, shall be
    deemed part of the SINET Intellectual Property and shall be subject to the terms and conditions of this Agreement.
</p>
<p>
    6.2. SINET will answer questions about features and functionality of the SINET Intellectual Property, troubleshoot technical issues with the SINET
    Intellectual Property, and resolve issues related to the performance of the SINET Intellectual Property via email and telephone (“<u>Support Services</u>
    ”). Support Services are provided from 6:00 a.m. to 6:00 p.m. Mountain Time, Monday through Friday, excluding SINET holidays via the following contact
information: <a href="mailto:support@schoolimprovement.com">support@schoolimprovement.com</a>, 855-337-7500,    <a href="http://support.schoolimprovement.com/">http://support.schoolimprovement.com/</a>.
</p>
<p>
    <strong>7. </strong><strong>Hosting.</strong>
    The SINET Intellectual Property is hosted by Akamai Technologies, Inc. (“<u>Akamai</u>”). Any use of the SINET Intellectual Property by Licensee shall be
governed by, and is subject to, the terms and conditions of Akamai’s Terms of Service, available at    <a href="http://www.akamai.com/service">http://www.akamai.com/service</a>.
</p>
<p>
    <strong>8. </strong>
    <strong>Term and Termination.</strong>
</p>
<p>
    8.1. This Agreement is effective when you click the “I Accept” button below and will remain in effect (i) for the duration of the Term specified on the
    Order Form applicable to your use hereunder, unless earlier terminated as provided herein; or (ii) if there is no Order Form applicable to your use
    hereunder, until this Agreement is terminated by you or SINET.
</p>
<p>
    8.2. SINET may terminate this Agreement as provided in the applicable Order Form or License Agreement applicable to your use of the SINET Intellectual
    Property, each of which are incorporated herein by reference, or any other Section of this Agreement or upon written notice if Licensee breaches any
    provision of this Agreement. Licensee may terminate this Agreement at any time upon written notice to SINET. Upon termination of this Agreement for any
    reason, Licensee shall immediately discontinue all use of the SINET Intellectual Property, and shall promptly return or destroy all copies of the SINET
    Intellectual Property in its possession or control. This requirement applies to partial and complete copies of the SINET Intellectual Property
    (including all related documentation) in all forms, in all types of media and computer memory, and whether or not modified or merged into other
    materials.
</p>
<p>
    <strong>9. </strong><strong>DISCLAIMER OF WARRANTIES. </strong>
    THE SINET INTELLECTUAL PROPERTY IS PROVIDED “AS IS,” AND SINET MAKES NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE,
    INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, AND WARRANTIES ARISING FROM A COURSE OF
    DEALING, USAGE, OR TRADE PRACTICE. WITHOUT LIMITING THE FOREGOING, SINET DOES NOT WARRANT THAT THE SINET INTELLECTUAL PROPERTY WILL MEET LICENSEE’S
    REQUIREMENTS, ACHIEVE ANY INTENDED RESULTS, BE COMPATIBLE OR WORK WITH ANY OTHER SINET INTELLECTUAL PROPERTY, APPLICATIONS, SYSTEMS, OR SERVICES, OPERATE
    WITHOUT INTERRUPTION, MEET ANY PERFORMANCE OR RELIABILITY STANDARDS, OR BE ERROR FREE.
</p>
<p>
    <strong>10. </strong><strong>Limitations of Liability.</strong>
    <strong></strong>
</p>
<p>
    10.1. IN NO EVENT WILL SINET BE LIABLE UNDER THIS AGREEMENT TO LICENSEE OR ANY THIRD PARTY FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL,
    OR PUNITIVE DAMAGES, INCLUDING ANY DAMAGES FOR BUSINESS INTERRUPTION OR LOSS OF USE, DATA, REVENUE, OR PROFIT, WHETHER ARISING OUT OF BREACH OF CONTRACT,
    TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE AND WHETHER OR NOT SINET WAS ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGES.
</p>
<p>
    10.2. IN NO EVENT WILL SINET’S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER ARISING OUT OF OR RELATED TO BREACH OF CONTRACT,
    TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EXCEED THE TOTAL AMOUNT ACTUALLY PAID TO SINET PURSUANT TO THIS AGREEMENT. THE FOREGOING LIMITATIONS SHALL APPLY
    EVEN IF LICENSEE'S REMEDIES UNDER THIS AGREEMENT FAIL OF THEIR ESSENTIAL PURPOSE.
</p>
<p>
    <strong>11. </strong>
    <strong>Indemnification and Infringement Remedy. </strong>
    <strong></strong>
</p>
<p>
    11.1. Licensee will defend, indemnify, and hold
    SINET and its Representatives, successors, and assigns harmless from and against any and all liabilities, damages, awards, settlements, losses, claims, and
    expenses of any kind (including reasonable attorneys’ fees) (collectively, “<u>Losses</u>”) arising out of or in connection with (i) Licensee’s breach of
    this Agreement (including, but not limited to, Licensee’s failure to strictly comply with all laws, rules, and regulations applicable to its use of the
    SINET Intellectual Property), or (ii) any User Contributions. For the avoidance of doubt, if Licensee is a business or other entity, Licensee’s obligations
    under this Section 10.1 shall extend to any Losses arising out of or in connection with any acts and omissions of any of its Representatives.
</p>
<p>
    11.2. If the SINET Intellectual Property or any part of thereof becomes, or in SINET’s opinion is likely to become, subject to an infringement claim,
    SINET may, at its sole option and expense: (i) notify Licensee in writing to cease using all or a part of the SINET Intellectual Property, in which
    case Licensee shall immediately cease such use on receipt of such notice; (ii) obtain the right for Licensee to continue to use the SINET Intellectual
    Property; (iii) modify or replace the SINET Intellectual Property with functionally equivalent SINET Intellectual Property (which replacement SINET
    Intellectual Property shall be deemed SINET Intellectual Property under this Agreement) that SINET believes to be non-infringing; and/or (iv)
    immediately terminate this Agreement upon written notice to Licensee.
    THIS SECTION<strong> </strong>10.2 SETS FORTH SINET’S SOLE LIABILITY AND ENTIRE OBLIGATION AND LICENSEE'S EXCLUSIVE REMEDY FOR ANY CLAIM THAT THE SINET
    INTELLECTUAL PROPERTY INFRINGES, MISAPPROPRIATES, OR OTHERWISE VIOLATES THE INTELLECTUAL PROPERTY OR OTHER RIGHTS OF THIRD PARTIES.
</p>
<p>
    <strong>12. </strong><strong>EXPORT RESTRICTIONS.</strong>
    The SINET Intellectual Property and underlying information and technology are subject to United States export controls. None of the SINET Intellectual
    Property or underlying information or technology may be downloaded or otherwise exported or re-exported (a) into (or to a national or resident of) Cuba,
    North Korea, Iran, Sudan, Syria, or any other country subject to United States sanctions applicable to the export or re-export of goods; or (b) to anyone
    on the United States Treasury Department’s List of Specially Designated Nationals and Blocked Persons List, or the United States Commerce Department's
    Denied Persons List, Unverified List, Entity List, or Nonproliferation Sanctions List. Licensee represents and warrants that it is not located in, under
    the control of, or a national or resident of any such country or on any such list, and Licensee acknowledges it is responsible for obtaining any necessary
    United States government authorization to ensure compliance with United States law.
</p>
<p>
    <strong>13. </strong>
    <strong>UNITED STATES GOVERNMENT RESTRICTED RIGHTS.</strong>
    The SINET Intellectual Property is provided with RESTRICTED RIGHTS. Use, duplication, or disclosure by the United States government is subject to
    restrictions as set forth in subparagraph (c)(1)(ii) of the Rights in Technical Data and Computer SINET Intellectual Property clause at DFARS 252.227-7013
    or subparagraphs (c)(1) and (2) of the Commercial Computer SINET Intellectual Property- Restricted Rights clause at 48 CFR 52.227-19, as applicable. The
    manufacturer of the SINET Intellectual Property is School Improvement Network, LLC, 32 West Center Street, Midvale, Utah, 84047.
</p>
<p>
    <strong>14. </strong>
    <strong>GOVERNING LAW AND DISPUTE RESOLUTION.</strong>
    This Agreement shall be construed, interpreted, and governed by the laws of the State of Utah without giving effect to any choice or conflict of law
    provision or rule (whether of the State of Utah or any other jurisdiction) that would cause the application of laws of any jurisdiction other than those of
    the State of Utah. Any legal suit, action, or proceeding arising out of or related to this Agreement shall be instituted exclusively in the federal and
    state courts located in Salt Lake County, Utah, and each party irrevocably submits to the exclusive jurisdiction of such courts in any such suit, action or
    proceeding and waives any objection based on improper venue or forum non conveniens. Any remedy of SINET set forth in this Agreement is in addition to any
    other remedy afforded to SINET, at law or in equity. If SINET brings any legal action or proceeding to enforce this Agreement and is successful, it shall
    be entitled to recover its reasonable attorneys’ fees and other costs incurred in such action or proceeding, in addition to any other relief to which it
    may be entitled.
</p>
<p>
    <strong>15. </strong>
    <strong>NOTICES; ELECTRONIC COMMUNICATIONS </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    15.1. All notices, requests, demands, and other communications made under this Agreement shall be in writing and shall be deemed to have been duly given:
    (i) upon delivery, if served personally on the party to whom notice is to be given; (ii) on the date of receipt, refusal or non-delivery indicated on the
    receipt if mailed to the party to whom notice is to be given by registered or certified mail, postage prepaid, or by air courier; or (iii) on confirmation
    of receipt if delivered by email transmission.
</p>
<p>
    15.2. Communications between Licensee and SINET may be by electronic means. Licensee consents to receive communications from SINET in electronic form, and
    agree that all terms and conditions, agreements, notices, disclosures, and other communications that SINET provides to Licensee electronically satisfy any
    legal requirement that such communications would satisfy if they were in writing, other than any non-waivable rights. Licensee and SINET each expressly
    agree to enter into this Agreement and conduct all transactions related thereto electronically pursuant to the Electronic Signatures in Global and National
    Commerce Act, 15 U.S.C. § 7001 and the Uniform Electronic Transactions Act, Utah Code Ann. §§ 46-4-101 to 46-4-502.
</p>
<p>
    <strong>16. </strong>
    <strong>ASSIGNMENT.</strong>
    Licensee may not assign or otherwise transfer, by operation of law or otherwise, any of its rights or obligations under this Agreement without SINET’s
    prior written consent, including in connection with a merger, consolidation, sale of all or substantially all of Licensee’s assets or equity interests, or
    any similar business combination involving Licensee and another entity. Any purported assignment in violation of this Section shall be void. SINET may
    freely assign or otherwise transfer its rights or obligations under this Agreement. The terms and conditions of this Agreement shall apply to and be
    binding upon the approved successors and permitted assigns of the parties hereto.
</p>
<p>
    <strong>17. </strong><strong>MISCELLANEOUS.</strong>
    This Agreement, the Privacy Policy, and all other documents incorporated herein by reference constitute the sole and entire agreement of the parties hereto
    with respect to the subject matter contained herein, and supersede all prior and contemporaneous understandings and agreements, both written and oral, with
    respect to such subject matter. Neither of the parties shall be bound by any warranties, understandings, or representations with respect to such subject
    matter other than as expressly provided herein. Any waiver, modification, or amendment of this Agreement shall only be effective if it is in writing and
    signed by both parties hereto. This Agreement is solely for the benefit of Licensee and SINET, and nothing herein, express or implied, is intended to or
    shall confer upon any other person or entity any legal or equitable right, benefit, or remedy of any nature whatsoever under or by reason of this
    Agreement. If any portion of this Agreement is specifically determined by a court of competent jurisdiction to be invalid or unenforceable, such provision,
    to the extent that it shall be invalid or unenforceable, shall be considered separate and severable from this Agreement and the remainder of this
    Agreement, and any portion of such provision to the extent that it shall not be invalid or unenforceable, shall not be affected and shall be valid and may
    be enforced to the full extent permitted by law. SINET shall not be liable for any delay or failure to perform resulting directly or indirectly from any
    causes beyond SINET’s reasonable control. The words “include,” “includes,” and “including” when used herein shall be deemed in each case to be followed by
    the words “without limitation.” The headings contained in this Agreement are for reference purposes only and shall not affect in any way the meaning or
    interpretation of this Agreement.
</p>
<p>
    <strong>18. </strong>
    <strong>SURVIVAL</strong>
    . The terms and conditions of this Agreement shall survive the expiration or termination of this Agreement to the fullest extent necessary for their
    enforcement and for the protection of the party in whose favor they operate.
</p>
<p>
    <strong>19. </strong>
    <strong>USE OF PERSONAL INFORMATION</strong>
    . All personal information we collect is subject to our Privacy Policy (<a class="js-privacy" href="#privacy">[INSERT LINK]</a>). By using the SINET Intellectual Property, you consent to all actions
    taken by us with respect to your information in compliance with the Privacy Policy. You represent and warrant that all data provided by you is accurate.
</p>
<p>
    <strong>20. </strong>
    <strong>THIRD PARTY BENEFICIARY</strong>
    . CompassLearning, Inc. is a third-party beneficiary to this Agreement, solely with respect to any CL Software incorporated in the SINET Intellectual
    Property. Upon your acceptance of this Agreement, CompassLearning, Inc. will have the right (and will be deemed to have accepted the right) to enforce this
    Agreement against you solely with respect to your use of the CL Software, if any, as a third-party beneficiary of this Agreement.
</p>
<p>
    Copyright School Improvement Network, LLC, 2014. All rights reserved.
</p>
<p>
    Last updated July 3, 2014.
</p>
