<!-- header -->
<header>
	<a href="http://builtbyhq.com/projects/school/v1/home/"><img class="logo" src="http://builtbyhq.com/projects/school/CORE/v1/img/logo.png" alt="School Improvement" /></a>
	<ul class="left">
		<a class="dropdown-link" data-toggle="dropdown" href="#"><li>Resources</li></a>
		<section class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="resource-items">
			<div class="container">
				<ul>
					<a href="http://builtbyhq.com/projects/school/v1/home/videos/"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/video-app.png"/><br><p>Videos</p></li></a>
					<a href=""><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/lumibooks-app.png"/><br><p>LumiBook</p></li></a>
					<a href=""><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/observation-app.png"/><br><p>Observation</p></li></a>
					<a href=""><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/communitites-app.png"/><br><p>Communities</p></li></a>
					<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/tasks-app.png"/><br><p>Learning Targets</p></li></a>
					<a href=""><li style="padding-right:0px;"><img src="http://builtbyhq.com/projects/school/CORE/v1/img/admin-app.png"/><br><p>Admin</p></li></a>
					<br class="clear"/>
				</ul>
			</div>
		</section>
		<a href="http://builtbyhq.com/projects/school/v1/groups/"><li id="groups-tab">Groups</li></a>
	</ul>
	<div class="middle">
		<form action="http://builtbyhq.com/projects/school/v1/search/" class="search-form">
			<input placeholder="Search (e.g. video or group)" class="search-field" />
		</form>
	</div>

	<div class="nav-menu">
		<a data-toggle="dropdown" href="#">
			<div class="menu-container">
				<div id="bar1" class="menu-bar"></div>
				<div id="bar2" class="menu-bar"></div>
				<div id="bar3" class="menu-bar"></div>
			</div>
			<div class="black"></div>
		</a>
		<div class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="menu">
			<ul>
				<!-- <a class="phone-s" href="http://builtbyhq.com/projects/school/v1/resources"><li>Resources</li></a> -->
				<a href="http://builtbyhq.com/projects/school/v1/settings"><li>Settings</li></a>
				<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li>Learning Targets</li></a>
				<a href="http://builtbyhq.com/projects/school/v1/login"><li class="border-top">Log Out</li></a>
			</ul>
		</div>
	</div>
	<ul class="right">
		<li id="help-tab">Support</li>
		<li class="user-notifications">
			<a class="dropdown-link" data-toggle="dropdown" href="#">
				<img id="user-dropdown" src="http://builtbyhq.com/projects/school/CORE/v1/img/andy-notifications.png"/>
			</a>
			<div class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="menu2">
				<div class="dd">
					<h3>Notifications</h3>
					<br class="clear">
					<ul>
						<a href="http://builtbyhq.com/projects/school/v1/home/videos/video-player"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-play.png"/> <p><span class="blue-text">Ann Perkins</span> shared a video with you</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-group.png"/> <p><span class="blue-text">Leslie Knope</span> assigned a learning target</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-lesson.png"/> <p><span class="blue-text">Ann Perkins</span> shared a lesson plan with you</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-play.png"/> <p><span class="blue-text">Leslie Knope</span> assigned you a learning target</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/home/videos/video-player"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-play.png"/> <p><span class="blue-text">Ann Perkins</span> shared a video with you</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-play.png"/> <p><span class="blue-text">Leslie Knope</span> assigned you a learning target</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/learning-targets"><li><img src="http://builtbyhq.com/projects/school/CORE/v1/img/white-group.png"/> <p><span class="blue-text">Ron Swanson</span> shared a lesson plan with you</p><br class="clear"></li></a>
						<a href="http://builtbyhq.com/projects/school/v1/notifications/"><li><p>All Notifications</p></li></a>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</header>