<div class="page-header" id="header">
	<i id="info-video" class="glyphicon glyphicon-info-sign info"></i>
	<h2 id=""><%= ContentName %></h2>
</div>
<p>Common Core: <a href="#">ELA</a>, <a href="#">Technology</a>, <a href="#">Future Teaching</a></p>
<div id="video-container"></div>
<div id="video-tabs"></div>
<div id="app-modal" class="modal fade share-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div id="info-video-content" hidden>
	<div class="well well-sm">
			<div class="row">
				<div class="col-xs-4 col-md-4 text-center">
						<img src= '<%= ImageURL %>'class='info-thumbnail'/>
						<ul>
							<p id="tags">Tags:</p>
							 <% _.each(Tags, function(tag) { %>
								<li><%= tag %></li>
							<% }); %>
						</ul>
				</div>
			<div class="col-xs-8 col-md-8 section-box">
				<p><%= ContentDescription %></p>
				<hr />
				<div class="col-md-12">
					<p> <span id="tags">Duration:</span> <%= SegmentLengthInSeconds %></p>
				</div>
			</div>
		</div>
	</div>
</div>
