<div class="content">
	<div id="questions-header">
		<h3>Reflection Questions</h3>
		<hr>
	</div>
	<div id="questions-items" class="clearfix">
		<div id="questions-item-region">
		</div>
	</div>
	<div id="questions-pagination">
		<span class="control left-control">
			<span><i class="fa fa-chevron-left"></i></span>
		</span>
		<p id="questions-paging">
			<span id="current-page"></span>/<span id="last-page"></span>
		</p>
		<span class="control right-control">
			<span><i class="fa fa-chevron-right"></i></span>
		</span>
	</div>
</div>
