<div class="content">
	<h3 id="reflection-title">&nbsp;</h3>
	<hr>
	<div id="reflection-items" class="clearfix">
		<div id="reflection-item-region">
		</div>
		<button id="submit-answers" class="white-blue-btn">Submit Answers</button>
	</div>
	<div id="reflection-pagination">
		<span class="control left-control">
			<span><i class="fa fa-chevron-left"></i></span>
		</span>
		<p id="reflection-paging">
			<span id="current-page"></span>/<span id="last-page"></span>
		</p>
		<span class="control right-control">
			<span><i class="fa fa-chevron-right"></i></span>
		</span>
	</div>
</div>
