<section class="tabs">
	<ul class="media-list">
		<li class="active"><a id="additional-resources" href="#related-content">
			<i class="fa fa-file"></i> Additional Resources</a>
		</li>
		<li><a id="related-video" href="#related-videos">
			<i class="fa fa-caret-square-o-right"></i> Related Videos</a>
		</li>
	</ul>
	<div class="btns">
		<button class="white-btn" data-loading-text="Processing..." id="user-queue">Add to Queue</button>
		<button class="blue-btn" id="share-video">Share</button>
	</div>
</section>
	<div class="tab-content">
				<div class="tab-pane active" id="related-content">
						Related Content
					</div>
				<div class="tab-pane" id="related-videos">
					Related Videos
				</div>
</div>
</div>
