<select id="admin-main" class="form-control"></select>
<select id="admin-subpage" class="hidden form-control" disabled></select>

<ul class="nav nav-pills js-frequent">
	<li class="disabled">
		<a>Frequently used:</a>
	</li>
	<li>
		<a data-tool="AddEditUsers" href="#">Add/Edit Users</a>
	</li>
	<li>
		<a data-tool="AssignSeatsVideo" href="#">Assign Video Seats</a>
	</li>
	<li>
		<a data-tool="ObservationShareTemplate" href="#">Copy Observation Template</a>
	</li>
	<li>
		<a data-tool="SinetImportUser" href="#">SINET Import User</a>
	</li>
	<li>
		<a data-tool="SuperUserTool" href="#">Super User</a>
	</li>
</ul>
<div id="admin-loading"></div>
